Repository harness/canary, pull requests merged in 2025-04, with the labels that each got.

#1430 Color changes for the new design system
  apps/design-system/src/subjects/views/pull-request-conversation/pull-request-panelData.ts
  apps/gitness/src/pages-v2/pull-request/__tests__/pull-request-utils.test.ts
  apps/gitness/src/pages-v2/pull-request/hooks/usePRChecksDecision.ts
  apps/gitness/src/pages-v2/pull-request/pull-request-utils.ts
  apps/gitness/src/pages/pull-request/hooks/usePRChecksDecision.ts
  apps/gitness/src/pages/pull-request/utils.ts
  apps/portal/src/content/docs/components/button-group.mdx
  apps/portal/src/content/docs/components/carousel.mdx
  apps/portal/src/content/docs/foundations/icons.mdx
  apps/portal/src/content/docs/foundations/logos.mdx
  apps/portal/src/tailwind.css
  packages/ui/src/components/app-sidebar/sidebar-search/command-palette.tsx
  packages/ui/src/components/button.tsx
  packages/ui/src/components/card.tsx
  packages/ui/src/components/chat_deprecated.tsx
  packages/ui/src/components/command.tsx
  packages/ui/src/components/drawer.tsx
  packages/ui/src/components/dropdown-menu.tsx
  packages/ui/src/components/form-primitives/message.tsx
  packages/ui/src/components/hover-card.tsx
  packages/ui/src/components/meter.tsx
  packages/ui/src/components/navigation-menu.tsx
  packages/ui/src/components/pipeline-nodes/components/collapsed-group-node.tsx
  packages/ui/src/components/pipeline-nodes/step-node.tsx
  packages/ui/src/components/resizable.tsx
  packages/ui/src/components/select.tsx
  packages/ui/src/components/separator.tsx
  packages/ui/src/components/sidebar/separator.tsx
  packages/ui/src/components/tabs.tsx
  packages/ui/src/components/toast/toast.tsx
  packages/ui/src/components/toggle.tsx
  packages/ui/src/views/execution/execution-status.tsx
  packages/ui/src/views/pipelines/components/execution-status-badge.tsx
  packages/ui/src/views/pipelines/components/execution-status-icon.tsx
  packages/ui/src/views/repo/pull-request/components/reviewers/pull-request-reviewers-item.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/pull-request-changes-section.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/pull-request-checks-section.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/pull-request-merge-section.tsx
  packages/ui/src/views/run-pipeline/run-pipeline-drawer-content.tsx
  packages/ui/tailwind-design-system.ts
Labels: design system

#1452 Color changes for the new design system
  apps/design-system/src/subjects/views/commit-details/commit-details-store.ts
  apps/design-system/src/subjects/views/execution/execution-graph.tsx
  apps/design-system/src/subjects/views/execution/execution-logs.tsx
  apps/design-system/src/subjects/views/execution/pipeline-execution-graph.tsx
  apps/design-system/src/subjects/views/pipeline-graph/pipeline-graph-minimal.tsx
  apps/design-system/src/subjects/views/pipeline-graph/pipeline-graph.tsx
  apps/portal/src/components/docs-page/example-layout.tsx
  apps/portal/src/components/docs-page/example.tsx
  apps/portal/src/components/layout/DocTemplate.astro
  apps/portal/src/components/layout/SplashTemplate.astro
  apps/portal/src/content/docs/components/sidebar.mdx
  apps/portal/src/content/docs/foundations/logos.mdx
  apps/portal/src/styles.css
  packages/ui/src/components/alert-dialog.tsx
  packages/ui/src/components/app-sidebar/sidebar-search/command-palette.tsx
  packages/ui/src/components/chat/chat.tsx
  packages/ui/src/components/dialog.tsx
  packages/ui/src/components/dropdown-menu.tsx
  packages/ui/src/components/file-toolbar-actions.tsx
  packages/ui/src/components/filters/filters-bar/filters-bar.tsx
  packages/ui/src/components/markdown-viewer/line-numbers.css
  packages/ui/src/components/markdown-viewer/style.css
  packages/ui/src/components/navbar-skeleton/item.tsx
  packages/ui/src/components/sheet.tsx
  packages/ui/src/components/theme-selector-v2/theme-dialog.tsx
  packages/ui/src/components/toast/toast.tsx
  packages/ui/src/components/toggle.tsx
  packages/ui/src/views/components/RadioSelect.tsx
  packages/ui/src/views/connectors/connector-details/connector-details-configuration.tsx
  packages/ui/src/views/connectors/connector-details/connector-details-header.tsx
  packages/ui/src/views/connectors/connector-details/connector-details-page.tsx
  packages/ui/src/views/execution/step-execution.tsx
  packages/ui/src/views/repo/components/list-control-bar.tsx
  packages/ui/src/views/repo/components/summary/summary.tsx
  packages/ui/src/views/repo/pull-request/compare/pull-request-compare-page.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-header.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-item-description.tsx
  packages/ui/src/views/repo/pull-request/details/components/changes/pull-request-changes-filter.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-comment-box.tsx
  packages/ui/src/views/repo/repo-branch/components/branch-list.tsx
  packages/ui/src/views/repo/repo-branch/components/divergence-gauge.tsx
  packages/ui/src/views/repo/repo-commit-details/repo-commit-details-view.tsx
  packages/ui/src/views/repo/repo-list/repo-list-page.tsx
  packages/ui/src/views/repo/repo-settings/components/repo-settings-general-rules.tsx
  packages/ui/tailwind-design-system.ts
Labels: design system

#1416 Add filters to connectors page
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/components/filters/filters-bar/actions/filters.tsx
  packages/ui/src/components/filters/filters-bar/actions/variants/checkbox.tsx
  packages/ui/src/components/filters/filters-bar/actions/variants/text-field.tsx
  packages/ui/src/components/filters/filters-field.tsx
  packages/ui/src/components/filters/types.ts
  packages/ui/src/components/filters/utils.ts
  packages/ui/src/views/components/FilterGroup.tsx
  packages/ui/src/views/connectors/connectors-list/connectors-list-page.tsx
  packages/ui/src/views/connectors/connectors-list/filter-options.ts
  packages/ui/src/views/connectors/connectors-list/types.ts
  packages/ui/src/views/repo/components/list-control-bar.tsx
Labels: pending-comments

#1462 Replace --canary variables with their --cn equivalents
  apps/design-system/src/pages/view-preview/view-settings.module.css
  apps/portal/src/components/ColorPalette.astro
  packages/ui/src/components/alert-dialog.tsx
  packages/ui/src/components/chat/chat-diff-viewer.tsx
  packages/ui/src/components/dialog.tsx
  packages/ui/src/components/drawer.tsx
  packages/ui/src/components/input.tsx
  packages/ui/src/components/pipeline-nodes/components/custom-port.tsx
  packages/ui/src/components/pipeline-nodes/step-node.css
  packages/ui/src/components/tabnav.tsx
  packages/ui/src/components/textarea.tsx
  packages/ui/src/styles.css
  packages/ui/src/views/unified-pipeline-studio/components/unified-pipeline-studio-graph-view.tsx
  packages/ui/tailwind-design-system.ts
  packages/yaml-editor/src/components/BlameEditor.tsx
  packages/yaml-editor/src/utils/blame-editor-utils.ts
Labels: design system

#1479 Replace --canary-tw with --cn-tw
  packages/ui/src/styles.css
Labels: design system

#1498 Fixed border not appearing issue in Code Editor
  apps/gitness/src/components-v2/file-content-viewer.tsx
Labels: bug

#1513 Switch component migration to the new design system
  apps/portal/src/content/docs/components/switch.mdx
  packages/ui/src/components/switch.tsx
  packages/ui/src/views/repo/webhooks/webhook-list/components/repo-webhook-list.tsx
  packages/ui/src/views/unified-pipeline-studio/components/form-inputs/BooleanInput.tsx
  packages/ui/tailwind-design-system.ts
  packages/ui/tailwind-utils-config/components/index.ts
  packages/ui/tailwind-utils-config/components/switch.ts
Labels: design system

#1528 Switch component cursor not allowed
  packages/ui/tailwind-utils-config/components/switch.ts
Labels: design system

#1505 Tag component migration to the new design system
  apps/portal/src/content/docs/components/button.mdx
  apps/portal/src/content/docs/components/switch.mdx
  apps/portal/src/content/docs/components/tag.mdx
  packages/ui/src/components/icon/icon-name-map.ts
  packages/ui/src/components/icon/icon.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/components/tag.tsx
  packages/ui/src/icons/branch-2.svg
  packages/ui/src/icons/close-2.svg
  packages/ui/src/icons/tag-2.svg
  packages/ui/src/views/labels/components/label-cell-content.tsx
  packages/ui/src/views/labels/label-form-page.tsx
  packages/ui/src/views/repo/pull-request/components/labels/label-value-selector.tsx
  packages/ui/src/views/repo/pull-request/components/labels/pull-request-labels-header.tsx
  packages/ui/src/views/repo/pull-request/components/labels/pull-request-labels-list.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-header.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-side-bar.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-system-comments.tsx
  packages/ui/src/views/repo/repo-branch/components/branch-list.tsx
  packages/ui/src/views/repo/repo-commit-details/repo-commit-details-view.tsx
  packages/ui/src/views/repo/repo-summary/components/summary-panel.tsx
  packages/ui/tailwind-design-system.ts
  packages/ui/tailwind-utils-config/components/index.ts
  packages/ui/tailwind-utils-config/components/tag.ts
Labels: design system

#1565 Prefixed tag classes with "cn-"
  packages/ui/src/components/tag.tsx
  packages/ui/tailwind-utils-config/components/tag.ts
Labels: design system

#1567 Add cn prefix to badge and button classes
  packages/ui/src/components/button.tsx
  packages/ui/src/components/counter-badge.tsx
  packages/ui/src/components/pagination/pagination-primitive.tsx
  packages/ui/src/components/split-button.tsx
  packages/ui/src/components/status-badge/__tests__/status-badge.test.tsx
  packages/ui/src/components/status-badge/status-badge.tsx
  packages/ui/tailwind-design-system.ts
  packages/ui/tailwind-utils-config/components/badge.ts
  packages/ui/tailwind-utils-config/components/button.ts
Labels: design system

#1568 Switch Component Changes
  apps/portal/src/content/docs/components/switch.mdx
  packages/ui/src/components/switch.tsx
  packages/ui/src/views/repo/webhooks/webhook-list/components/repo-webhook-list.tsx
  packages/ui/src/views/unified-pipeline-studio/components/form-inputs/BooleanInput.tsx
  packages/ui/tailwind-utils-config/components/switch.ts
Labels: design system

#1559 Checkbox component migration to the new design system
  apps/portal/src/content/docs/components/checkbox.mdx
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/components/checkbox.tsx
  packages/ui/src/components/icon/icon-name-map.ts
  packages/ui/src/icons/check.svg
  packages/ui/src/views/labels/label-form-page.tsx
  packages/ui/src/views/labels/labels-list-page.tsx
  packages/ui/src/views/project/project-import.tsx
  packages/ui/src/views/repo/pull-request/details/components/changes/pull-request-changes-filter.tsx
  packages/ui/src/views/repo/pull-request/details/components/changes/pull-request-changes.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-panel.tsx
  packages/ui/src/views/repo/repo-branch-rules/components/repo-branch-rules-fields.tsx
  packages/ui/src/views/repo/repo-create/index.tsx
  packages/ui/src/views/repo/repo-import/repo-import-mulitple.tsx
  packages/ui/src/views/repo/repo-import/repo-import.tsx
  packages/ui/src/views/repo/repo-settings/components/repo-settings-general-security.tsx
  packages/ui/src/views/repo/webhooks/webhook-create/components/create-webhooks-form-fields.tsx
  packages/ui/tailwind-design-system.ts
  packages/ui/tailwind-utils-config/components/checkbox.ts
  packages/ui/tailwind-utils-config/components/index.ts
  packages/ui/tailwind-utils-config/components/switch.ts
Labels: design system
