Repository harness/canary, changes with the owners that CODEOWNERS names for each.
All owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io, srdjan.arsic@harness.io

CODEOWNERS:

# Global configs
.github/ abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.eslintrc.js abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.prettierrc.yml abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Common ownership for shared config files
/packages/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/packages/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Apps
/apps/gitness/* abhinav.rastogi@harness.io vardan.bansal@harness.io
/apps/portal/* kevin.nagurski@harness.io pranesh.g@harness.io abhinav.rastogi@harness.io vardan.bansal@harness.io

# Packages with shared ownership
/packages/ui/* abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io pranesh.g@harness.io

# Packages with individual owners
/packages/forms/* srdjan.arsic@harness.io
/packages/unified-pipeline/* srdjan.arsic@harness.io
/packages/yaml-editor/* srdjan.arsic@harness.io
/packages/core-design-system/* pranesh.g@harness.io

Update npm authentication token in workflow
  .github/workflows/publish.yml
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io

Update npm authentication token in workflow (#2258)
  .github/workflows/publish.yml
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io

Bump patch version in packages/ui/package.json to 0.0.214
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Side Nav - Drag and drop functionality (#10661)
  packages/ui/src/components/app-sidebar/sidebar-item.tsx
  packages/ui/src/components/sidebar/sidebar-item.tsx
  packages/ui/tailwind-utils-config/components/sidebar.ts
Owners: none

version bump (#10664)
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Fix - parent item drag and drop (#10665)
  packages/ui/package.json
  packages/ui/src/components/sidebar/sidebar-item.tsx
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

feat:[UUI-345]: Add polling and check for active tab hooks to UI package (#10657)
  packages/ui/src/components/meter.tsx
  packages/ui/src/components/popover.tsx
  packages/ui/src/hooks/index.ts
  packages/ui/src/hooks/use-polling.tsx
  packages/ui/src/hooks/use-tab-visible.tsx
  packages/ui/tailwind-utils-config/components/meter.ts
Owners: none

Bump UI package version (#10666)
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

feat: added support for label in search-files component (#10660)
  packages/ui/src/components/__tests__/search-files.test.tsx
  packages/ui/src/components/search-files.tsx
Owners: none

command added
  packages/core-design-system/package.json
Owners: pranesh.g@harness.io

feat(design-tokens): sync card fade tokens and comprehensive descriptions from card-fade branch
  packages/core-design-system/design-tokens/mode/dark/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/default-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast.json
  packages/core-design-system/design-tokens/mode/light/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/default-protanopia.json
  packages/core-design-system/design-tokens/mode/light/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/default.json
  packages/core-design-system/design-tokens/mode/light/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast.json
Owners: none

colors update
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
Owners: none

colors update
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

colors fix
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

updated sets
  packages/core-design-system/design-tokens/$metadata.json
  packages/core-design-system/design-tokens/$themes.json
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

update
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

upd
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

Move collapse button outside (#10668)
  packages/pipeline-graph/package.json
  packages/pipeline-graph/playground/src/demo2.tsx
  packages/pipeline-graph/playground/src/demo6-top-align.tsx
  packages/pipeline-graph/playground/src/nodes/components/collapse-button.tsx
  packages/pipeline-graph/playground/src/nodes/parallel-group-node.tsx
  packages/pipeline-graph/playground/src/nodes/serial-group-node.tsx
  packages/pipeline-graph/playground/src/nodes/stage-node.tsx
  packages/pipeline-graph/src/components/components/collapse.tsx
  packages/pipeline-graph/src/components/nodes/parallel-container.tsx
  packages/pipeline-graph/src/components/nodes/serial-container.tsx
  packages/pipeline-graph/src/context/container-node-provider.tsx
  packages/pipeline-graph/src/index.ts
  packages/pipeline-graph/src/pipeline-graph.tsx
  packages/pipeline-graph/src/render/render-node-content.tsx
  packages/pipeline-graph/src/types/node-content.ts
  packages/ui/src/components/pipeline-nodes/components/collapse-button.tsx
  packages/ui/src/views/unified-pipeline-studio/components/split-view/unified-pipeline-studio-graph-stages.tsx
  packages/ui/src/views/unified-pipeline-studio/components/split-view/unified-pipeline-studio-graph-steps.tsx
  packages/ui/src/views/unified-pipeline-studio/components/unified-pipeline-studio-graph-view.tsx
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io

feat: [UUI-339]: Add useDeepCompareEffect hook to ui package (#10669)
  packages/ui/src/hooks/index.ts
  packages/ui/src/hooks/use-deep-compare-effect.ts
Owners: none

chore: [UUI-375]: Bump UI package version (#10670)
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

update
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
  packages/core-design-system/tools/palette-generator.html
Owners: none

upd
  packages/core-design-system/design-tokens/$themes.json
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

brown fix
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
Owners: none

upd
  packages/core-design-system/design-tokens/$themes.json
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

upd
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

micro font added
  packages/core-design-system/design-tokens/$themes.json
  packages/core-design-system/design-tokens/breakpoint/desktop.json
  packages/core-design-system/design-tokens/components/desktop/base/header.json
  packages/core-design-system/design-tokens/components/desktop/base/sidebar.json
  packages/core-design-system/design-tokens/core/typography.json
Owners: none

Removed duplicated `forceCollapse` prop (#10671)
  packages/ui/package.json
  packages/ui/src/components/sidebar/sidebar-item.tsx
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

feat: [AIDEVOPS-1720]: Thought process component initial commit
  apps/portal/src/content/docs/components/chat/reasoning.mdx
  packages/ui/package.json
  packages/ui/src/components/chat/index.ts
  packages/ui/src/components/chat/reasoning.tsx
  packages/ui/src/components/shimmer.tsx
  pnpm-lock.yaml
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

feat(design-tokens): synchronize all theme files with comprehensive descriptions
  packages/core-design-system/design-tokens/mode/dark/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/default-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast.json
  packages/core-design-system/design-tokens/mode/light/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/default-protanopia.json
  packages/core-design-system/design-tokens/mode/light/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/default.json
  packages/core-design-system/design-tokens/mode/light/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast.json
Owners: none

card fade light mode added
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

update
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
  packages/core-design-system/design-tokens/mode/dark/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/default-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast.json
  packages/core-design-system/design-tokens/mode/light/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/default-protanopia.json
  packages/core-design-system/design-tokens/mode/light/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/default.json
  packages/core-design-system/design-tokens/mode/light/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast.json
Owners: none

fix
  packages/core-design-system/design-tokens/$themes.json
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/typography.json
  packages/core-design-system/design-tokens/mode/dark/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/default-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast.json
  packages/core-design-system/design-tokens/mode/light/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/default-protanopia.json
  packages/core-design-system/design-tokens/mode/light/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/default.json
  packages/core-design-system/design-tokens/mode/light/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast.json
Owners: none

fix
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

fix
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

fix
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

upd
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

fix
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
Owners: none

fix
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

fix
  packages/core-design-system/design-tokens/$themes.json
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

fix
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
Owners: none
