Repository harness/canary, changes with the owners that CODEOWNERS names for each.
All owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io, srdjan.arsic@harness.io

CODEOWNERS:

# Global configs
.github/ abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.eslintrc.js abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.prettierrc.yml abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Common ownership for shared config files
/packages/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/packages/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Apps
/apps/gitness/* abhinav.rastogi@harness.io vardan.bansal@harness.io
/apps/portal/* kevin.nagurski@harness.io pranesh.g@harness.io abhinav.rastogi@harness.io vardan.bansal@harness.io

# Packages with shared ownership
/packages/ui/* abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io pranesh.g@harness.io

# Packages with individual owners
/packages/forms/* srdjan.arsic@harness.io
/packages/unified-pipeline/* srdjan.arsic@harness.io
/packages/yaml-editor/* srdjan.arsic@harness.io
/packages/core-design-system/* pranesh.g@harness.io

chore: bump UI (#10333)
  packages/ui/package.json
  packages/ui/src/views/secrets/secret-details/secret-details-references-list.tsx
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Download file name fix
  apps/gitness/src/components-v2/file-content-viewer.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-panel.tsx
Owners: none

Download file name fix (#10334)
  apps/gitness/src/components-v2/file-content-viewer.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-panel.tsx
Owners: none

chore: bump ui; fix: routing (#10335)
  packages/ui/package.json
  packages/ui/src/views/layouts/SecretDetailsLayout.tsx
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Rules List - Fixed bypass allowed logic
  apps/gitness/src/pages-v2/project/project-rules-list-container.tsx
  apps/gitness/src/pages-v2/repo/stores/repo-settings-store.tsx
Owners: none

Fix commits page branch switch issue (#10337)
  apps/gitness/src/pages-v2/repo/repo-commits.tsx
Owners: none

DS migration - StackedList
  apps/portal/src/content/docs/components/stacked-list.mdx
  packages/ui/src/components/file-control-bars/file-editor-control-bar.tsx
  packages/ui/src/components/file-control-bars/file-viewer-control-bar.tsx
  packages/ui/src/components/stacked-list.tsx
  packages/ui/src/views/components/RadioSelect.tsx
  packages/ui/src/views/connectors/connector-reference/connector-reference.tsx
  packages/ui/src/views/pipelines/execution-list/execution-list.tsx
  packages/ui/src/views/pipelines/pipeline-list/pipeline-list.tsx
  packages/ui/src/views/platform/entity-reference-component.tsx
  packages/ui/src/views/platform/entity-reference-list.tsx
  packages/ui/src/views/repo/components/commits-list.tsx
  packages/ui/src/views/repo/components/file-last-change-bar.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-list.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-panel.tsx
  packages/ui/src/views/repo/repo-commit-details/components/commit-changes.tsx
  packages/ui/src/views/repo/repo-list/repo-list.tsx
  packages/ui/src/views/repo/repo-summary/repo-summary.tsx
  packages/ui/src/views/repo/webhooks/webhook-executions/repo-webhook-execution-details-page.tsx
  packages/ui/src/views/secrets/secret-reference/secret-reference.tsx
Owners: none

fix view all branches keydown event behavior
  packages/ui/src/views/repo/components/branch-selector-v2/branch-selector-dropdown.tsx
Owners: none

fix change branch dialog radio behavior
  packages/ui/src/components/dialog.tsx
  packages/ui/src/views/repo/repo-create/default-branch-dialog.tsx
Owners: none

fix view all branches keydown event behavior (#2110)
  packages/ui/src/views/repo/components/branch-selector-v2/branch-selector-dropdown.tsx
Owners: none

fix change branch dialog radio behavior (#2109)
  packages/ui/src/components/dialog.tsx
  packages/ui/src/views/repo/repo-create/default-branch-dialog.tsx
Owners: none

fix: handle deleted/binary file changes and addressed comments
  packages/ui/src/views/repo/pull-request/details/components/changes/pull-request-changes.tsx
Owners: none

fix: edit connector flow and cards for delegate selector (#10338)
  apps/design-system/src/subjects/views/connectors/connector-details.tsx
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/package.json
  packages/ui/src/views/connectors/connector-details/connector-details-header.tsx
  packages/ui/src/views/connectors/connector-details/connector-details-layout.tsx
  packages/ui/src/views/connectors/connector-details/types.ts
  packages/ui/src/views/delegates/delegate-selector/delegate-selector-form.tsx
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Switching from using Dropdown to Popover in some places
  packages/ui/src/views/repo/components/branch-info-bar.tsx
Owners: none

Switching from using Dropdown to Popover in some places
  packages/ui/src/views/repo/repo-summary/components/clone-repo-dialog.tsx
Owners: none

Switching from using Dropdown to Popover (#2114)
  packages/ui/src/views/repo/components/branch-info-bar.tsx
  packages/ui/src/views/repo/repo-summary/components/clone-repo-dialog.tsx
Owners: none

fix dropdown search in filters
  packages/ui/src/components/dropdown-menu.tsx
  packages/ui/src/components/filters/filters-bar/actions/variants/combo-box.tsx
  packages/ui/src/components/search-files.tsx
Owners: none

fix dropdown search in filters (#2113)
  packages/ui/src/components/dropdown-menu.tsx
  packages/ui/src/components/filters/filters-bar/actions/variants/combo-box.tsx
  packages/ui/src/components/search-files.tsx
Owners: none

fix: updated connector name to be required in connector-entity-form (#10339)
  packages/ui/src/views/connectors/connector-entity-form.tsx
  packages/ui/src/views/secrets/create-secret/file-upload.tsx
  packages/ui/src/views/unified-pipeline-studio/utils/entity-form-utils.ts
Owners: none

Rules List - Fixed bypass allowed logic (#10336)
  apps/gitness/src/pages-v2/project/project-rules-list-container.tsx
  apps/gitness/src/pages-v2/repo/stores/repo-settings-store.tsx
Owners: none

Delete .github/workflows/publish.yml
  .github/workflows/publish.yml
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io

Edit apps/gitness/src/utils/error-utils.ts
  apps/gitness/src/utils/error-utils.ts
Owners: none

Edit apps/gitness/src/utils/git-utils.ts
  apps/gitness/src/utils/git-utils.ts
Owners: none

Edit apps/portal/src/styles.css
  apps/portal/src/styles.css
Owners: none

Delete apps/gitness/public/harness-favicon.ico
  apps/gitness/public/harness-favicon.ico
Owners: none

Create apps/test.icon
  apps/test.icon
Owners: none

Create apps/gitness/public/test.icon
  apps/gitness/public/test.icon
Owners: none

fix: Fix universal file rename detection to prevent false positives in PR diffs
  apps/gitness/src/pages-v2/pull-request/pull-request-changes.tsx
Owners: none

add playwright for screenshot testing
  .gitignore
  package.json
  packages/tests/screenshot-example.spec.ts
  packages/tests/screenshot-example.spec.ts-snapshots/matches-screenshot-1-chromium-darwin.png
  packages/tests/screenshot-example.spec.ts-snapshots/matches-screenshot-1-firefox-darwin.png
  packages/tests/screenshot-example.spec.ts-snapshots/matches-screenshot-1-webkit-darwin.png
  playwright.config.ts
  pnpm-lock.yaml
Owners: none

revert pnpm lock file
  pnpm-lock.yaml
Owners: none

add id selector to main content layout (#10342)
  packages/ui/src/views/layouts/main-content-layout.tsx
Owners: none

fix pr comment box file upload (#10343)
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-comment-box.tsx
Owners: none

Apply suggestion from code review
  .gitignore
Owners: none

add playwright for screenshot testing
  .gitignore
  package.json
  packages/tests/screenshot-example.spec.ts
  packages/tests/screenshot-example.spec.ts-snapshots/matches-screenshot-1-chromium-darwin.png
  packages/tests/screenshot-example.spec.ts-snapshots/matches-screenshot-1-firefox-darwin.png
  packages/tests/screenshot-example.spec.ts-snapshots/matches-screenshot-1-webkit-darwin.png
  playwright.config.ts
  pnpm-lock.yaml
Owners: none

fix: animate running pr check (#10344)
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/pull-request-checks-section.tsx
Owners: none

- [x] Add selector ID - [x] Add junit - [x] Pull base url out of file and into config - [x] Disable parallel tests for CI - [x] Update viewport size
  packages/tests/common/test.ts
  playwright.config.ts
Owners: none

feat: add basic entity form
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/views/secrets/secret-details/sceret-details-config-entity-form.tsx
  packages/ui/src/views/secrets/secrets-list/types.ts
Owners: none

feat: create basic config form
  packages/ui/src/views/secrets/index.ts
  packages/ui/src/views/secrets/secret-details/sceret-details-config-entity-form.tsx
  packages/ui/src/views/secrets/secret-details/utils/secret-details-utils.tsx
Owners: none

pnpm-lock back to node 22
  pnpm-lock.yaml
Owners: none

Create test.ts
  test.ts
Owners: none
