Repository harness/canary, changes with the owners that CODEOWNERS names for each.
All owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io, srdjan.arsic@harness.io

fix: handle deleted/binary file changes and addressed comments
  packages/ui/src/views/repo/pull-request/details/components/changes/pull-request-changes.tsx
Owners: none

feat: add expand collapse diff buttons to PR
  apps/gitness/src/framework/hooks/useDownloadRawFile.ts
  apps/gitness/src/pages-v2/pull-request/pull-request-changes.tsx
  packages/ui/src/styles/styles.css
  packages/ui/src/views/repo/pull-request/components/in-view-diff-renderer.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-accordian.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-diff-viewer.tsx
  packages/ui/src/views/repo/pull-request/details/components/changes/pull-request-changes.tsx
  packages/ui/src/views/repo/pull-request/details/pull-request-changes-page.tsx
Owners: none

chore: remove fontSize tailwind classes
  apps/portal/src/components/docs-page/example.tsx
  apps/portal/src/content/docs/components/form.mdx
  apps/portal/src/content/docs/components/search-input.mdx
  apps/portal/src/content/docs/components/select.mdx
  apps/portal/src/styles.css
  packages/ui/src/components/app-sidebar/sidebar-search/command-palette.tsx
  packages/ui/src/components/calendar.tsx
  packages/ui/src/components/command.tsx
  packages/ui/src/components/entity-form-layout.tsx
  packages/ui/src/components/form-primitives/caption.tsx
  packages/ui/src/components/input.tsx
  packages/ui/src/components/markdown-viewer/index.tsx
  packages/ui/src/components/sheet.tsx
  packages/ui/src/components/table.tsx
  packages/ui/src/components/topbar.tsx
  packages/ui/src/components/treeview.tsx
  packages/ui/src/styles/styles.css
  packages/ui/src/utils/cn.ts
  packages/ui/src/views/execution/console-logs.tsx
  packages/ui/src/views/not-found-page.tsx
  packages/ui/src/views/repo/pull-request/components/labels/labels-filter.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-comment-textarea.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-system-comments.tsx
  packages/ui/src/views/run-pipeline/run-pipeline-drawer-content.tsx
  packages/ui/src/views/secrets/create-secret/file-upload.tsx
  packages/ui/src/views/unified-pipeline-studio/components/palette-drawer/components/step-palette-item-layout.tsx
  packages/ui/tailwind-design-system.ts
  packages/ui/tailwind-utils-config/components/table-v2.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix: update fontSize classes
  packages/ui/src/components/calendar.tsx
  packages/ui/src/components/form-primitives/caption.tsx
  packages/ui/src/components/form.tsx
  packages/ui/src/styles/styles.css
  packages/ui/src/utils/cn.ts
  packages/ui/src/views/not-found-page.tsx
  packages/ui/src/views/repo/pull-request/components/labels/labels-filter.tsx
  packages/ui/src/views/secrets/create-secret/file-upload.tsx
  packages/ui/tailwind-design-system.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix: update default pageSize to 10 in pull request list store
  apps/gitness/src/pages-v2/pull-request/stores/pull-request-list-store.tsx
Owners: none

fix: add tranlation to pagination
  apps/gitness/src/pages-v2/repo/repo-commits.tsx
  packages/ui/locales/en/component.json
  packages/ui/locales/fr/component.json
  packages/ui/src/components/pagination/pagination-primitive.tsx
  packages/ui/src/components/pagination/pagination.tsx
  packages/ui/src/views/repo/repo-branch/repo-branch-list-view.tsx
Owners: none

fix pagination translation default value
  packages/ui/src/components/pagination/pagination.tsx
Owners: none

fix: update renderItemsPerPageBlock condition, add Page num block
  apps/portal/src/content/docs/components/pagination.mdx
  packages/ui/locales/en/component.json
  packages/ui/locales/fr/component.json
  packages/ui/src/components/pagination/pagination.tsx
  packages/ui/src/components/pagination/types.ts
  packages/ui/src/views/repo/pull-request/commits/pull-request-commits.tsx
  packages/ui/src/views/repo/pull-request/pull-request-list-page.tsx
  packages/ui/src/views/repo/repo-branch/repo-branch-list-view.tsx
  packages/ui/src/views/repo/repo-commits/repo-commits-view.tsx
  packages/ui/src/views/repo/repo-tags/repo-tags-list-page.tsx
Owners: none

fix: pagination translation default values
  packages/ui/src/components/pagination/pagination.tsx
Owners: none

feat: add setPageSize prop to pagination components in secret activity, references, and secrets list page
  packages/ui/src/views/secrets/secret-details/secret-details-activity-page.tsx
  packages/ui/src/views/secrets/secret-details/secret-details-references-page.tsx
  packages/ui/src/views/secrets/secrets-list/secrets-list-page.tsx
  packages/ui/src/views/secrets/secrets-list/types.ts
Owners: none

fix: remove unused react fragment from pagination
  packages/ui/src/components/pagination/pagination.tsx
Owners: none

feat: add pageSize select to inderteminate pagination components
  apps/design-system/src/subjects/stores/repo-branch-store.ts
  apps/design-system/src/subjects/views/repo-branches/repo-branches-store.ts
  apps/design-system/src/subjects/views/repo-tags/repo-tags-store.ts
  apps/design-system/src/subjects/views/repo-webhooks-list/repo-webhooks-list-store.ts
  apps/gitness/src/pages-v2/repo/repo-branch-list.tsx
  apps/gitness/src/pages-v2/repo/repo-commits.tsx
  apps/gitness/src/pages-v2/repo/repo-tags-list-container.tsx
  apps/gitness/src/pages-v2/repo/stores/repo-branches-store.ts
  apps/gitness/src/pages-v2/repo/stores/repo-tags-store.tsx
  apps/gitness/src/pages-v2/webhooks/stores/webhook-store.tsx
  apps/gitness/src/pages-v2/webhooks/webhook-executions.tsx
  apps/portal/src/content/docs/components/pagination.mdx
  packages/ui/src/components/pagination/pagination-primitive.tsx
  packages/ui/src/components/pagination/pagination.tsx
  packages/ui/src/components/pagination/types.ts
  packages/ui/src/views/repo/repo-branch/repo-branch-list-view.tsx
  packages/ui/src/views/repo/repo-commits/repo-commits-view.tsx
  packages/ui/src/views/repo/repo-tags/repo-tags-list-page.tsx
  packages/ui/src/views/repo/repo-tags/types.tsx
  packages/ui/src/views/repo/repo.types.ts
  packages/ui/src/views/repo/webhooks/webhook-executions/repo-webhook-executions-list-page.tsx
  packages/ui/src/views/repo/webhooks/webhook-list/types.ts
  packages/ui/src/views/user-management/components/page-components/content/content.tsx
Owners: none

fix: set default pageSize from current state for pr-store and webhook-store
  apps/gitness/src/pages-v2/pull-request/stores/pull-request-list-store.tsx
  apps/gitness/src/pages-v2/webhooks/stores/webhook-store.tsx
Owners: none

fix: hide pagination to repo-commits-view
  packages/ui/src/views/repo/repo-commits/repo-commits-view.tsx
Owners: none

fix: text classes in unified pipeline studio footer
  packages/ui/src/views/unified-pipeline-studio/components/unified-pipeline-studio-footer.tsx
Owners: none

add accordion trigger revision
  apps/portal/src/content/docs/components/accordion.mdx
  packages/ui/src/components/accordion/__tests__/accordion.test.tsx
  packages/ui/src/components/accordion/accordion.tsx
  packages/ui/src/components/button.tsx
  packages/ui/src/components/file-explorer.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/pull-request-changes-section.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/pull-request-merge-section.tsx
  packages/ui/tailwind-utils-config/components/accordion.ts
Owners: none

Added No delegates translations
  packages/ui/locales/en/views.json
Owners: none

Added No delegates Illustration
  packages/ui/src/components/illustration/illustrations-name-map.ts
  packages/ui/src/components/illustration/images/no-data-delegate-light.svg
  packages/ui/src/components/illustration/images/no-data-delegate.svg
Owners: none

Some UI changes for Delegates at PlatformUI
  packages/ui/tailwind-design-system.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Some UI changes for Delegates at PlatformUI (#2225)
  packages/ui/locales/en/views.json
  packages/ui/tailwind-design-system.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Bump UI
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix: replace text component in pr-panel
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-panel.tsx
Owners: none

Bump UI (#2226)
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

hide button properly
  packages/ui/src/components/popover.tsx
Owners: none

fix: PR diff substitute if not inViewport margin + comments bug (#10530)
  packages/ui/src/views/repo/pull-request/components/diff-viewer-substitute.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-diff-viewer.tsx
Owners: none

Update sidebar item to be a controlled component when it has a submenu (#10531)
  packages/ui/src/components/nav/sidebar-item.tsx
  packages/ui/src/components/sidebar/sidebar-item.tsx
Owners: none

Version bump (#10532)
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Remove accessibility themes that are not needed and always avoid showing underline on sidebar item hover (#10529)
  packages/ui/src/styles/styles.css
  packages/ui/tailwind-utils-config/components/sidebar.ts
Owners: none

hide button properly (#2227)
  packages/ui/src/components/popover.tsx
Owners: none

fix: [CODE-4636] encoding issues in file names navigation (#10528)
  apps/gitness/src/MFERouteRenderer.tsx
  apps/gitness/src/components-v2/FileExplorer.tsx
  apps/gitness/src/components-v2/file-editor.tsx
  apps/gitness/src/hooks/useCodePathDetails.ts
  apps/gitness/src/pages-v2/pull-request/pull-request-changes.tsx
  apps/gitness/src/utils/path-utils.ts
  packages/ui/src/components/path-breadcrumbs.tsx
  packages/ui/src/utils/utils.ts
  packages/ui/src/views/repo/components/summary/summary.tsx
  packages/ui/src/views/repo/repo-commit-details/components/commit-changes.tsx
Owners: none

change expand collapse icon
  packages/ui/src/components/sidebar/sidebar-item.tsx
Owners: none

add user group tooltip to reviewrs list
  apps/portal/src/content/docs/components/avatar.mdx
  apps/portal/src/content/docs/components/dropdown-menu.mdx
  packages/ui/src/components/avatar.tsx
  packages/ui/src/components/dropdown-menu.tsx
  packages/ui/src/components/icon-v2/icon-v2.tsx
  packages/ui/src/components/tooltip.tsx
  packages/ui/src/views/repo/pull-request/components/reviewers/pull-request-reviewers-header.tsx
  packages/ui/src/views/repo/pull-request/components/reviewers/pull-request-reviewers-item.tsx
  packages/ui/src/views/repo/pull-request/details/pull-request-details-types.ts
Owners: none

fix: text classes
  apps/portal/src/content/docs/components/form.mdx
  packages/ui/tailwind-utils-config/components/alert.ts
Owners: none

Fix minor UI issues for Delegates
  packages/ui/locales/en/views.json
  packages/ui/src/components/tag.tsx
  packages/ui/tailwind-design-system.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

bump versions (#10534)
  packages/forms/package.json
  packages/ui/package.json
Owners: srdjan.arsic@harness.io, abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix: update create rule button
  packages/ui/src/views/repo/repo-settings/components/repo-settings-general-rules.tsx
Owners: none

fix time-ago text wrapping
  packages/ui/src/components/time-ago-card.tsx
Owners: none

fix: PR diff optimization via infinite scroll + estimate scroll on jumping to file
  packages/ui/src/views/repo/pull-request/components/pull-request-diff-viewer.tsx
  packages/ui/src/views/repo/pull-request/details/components/changes/pull-request-changes.tsx
  packages/ui/src/views/repo/pull-request/details/pull-request-utils.ts
Owners: none

fix: text hover color not fontSize
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/pull-request-comment-section.tsx
  packages/ui/tailwind-design-system.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

new icons added (#10535)
  packages/ui/src/components/icon-v2/icon-name-map.ts
  packages/ui/src/components/icon-v2/icons/connectors-solid.svg
  packages/ui/src/components/icon-v2/icons/cron.svg
  packages/ui/src/components/icon-v2/icons/custom-secret-manager.svg
  packages/ui/src/components/icon-v2/icons/custom-trigger.svg
  packages/ui/src/components/icon-v2/icons/default-secret-manager.svg
  packages/ui/src/components/icon-v2/icons/deploy.svg
  packages/ui/src/components/icon-v2/icons/empty-circle.svg
  packages/ui/src/components/icon-v2/icons/health-shield-solid.svg
  packages/ui/src/components/icon-v2/icons/lamp.svg
  packages/ui/src/components/icon-v2/icons/pipeline-executions.svg
  packages/ui/src/components/logo-v2/logo-name-map.ts
  packages/ui/src/components/logo-v2/logos/connector.svg
  packages/ui/src/components/logo-v2/logos/custom-secret-manager.svg
  packages/ui/src/components/logo-v2/logos/default-secret-manager.svg
  packages/ui/src/components/logo-v2/logos/error-tracking.svg
  packages/ui/src/components/logo-v2/logos/event-relay.svg
  packages/ui/src/components/logo-v2/logos/ops-genie.svg
  packages/ui/src/components/logo-v2/logos/salesforce.svg
Owners: none

CODEOWNERS:

# Global configs
.github/ abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.eslintrc.js abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.prettierrc.yml abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Common ownership for shared config files
/packages/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/packages/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Apps
/apps/gitness/* abhinav.rastogi@harness.io vardan.bansal@harness.io
/apps/portal/* kevin.nagurski@harness.io pranesh.g@harness.io abhinav.rastogi@harness.io vardan.bansal@harness.io

# Packages with shared ownership
/packages/ui/* abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io pranesh.g@harness.io

# Packages with individual owners
/packages/forms/* srdjan.arsic@harness.io
/packages/unified-pipeline/* srdjan.arsic@harness.io
/packages/yaml-editor/* srdjan.arsic@harness.io
/packages/core-design-system/* pranesh.g@harness.io
