Repository harness/canary, changes with the owners that CODEOWNERS names for each.
All owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io, srdjan.arsic@harness.io

chore(icons): sync icons from Figma
  packages/ui/src/components/icon-v2/icon-name-map.ts
  packages/ui/src/components/icon-v2/icons/environments.svg
  packages/ui/src/components/icon-v2/icons/secret-ssh-solid.svg
Owners: none

chore(icons): sync icons from Figma
  packages/ui/src/components/icon-v2/icon-name-map.ts
  packages/ui/src/components/icon-v2/icons/earth.svg
Owners: none

chore(icons): sync icons from Figma
  packages/ui/src/components/icon-v2/icon-name-map.ts
  packages/ui/src/components/icon-v2/icons/secret-ssh.svg
Owners: none

added shadow to the tooltip
  packages/ui/tailwind-utils-config/components/tooltip.ts
Owners: none

add warning and disabled (#10553)
  packages/forms/src/core/components/InputComponent.tsx
  packages/forms/src/core/components/InputComponentRenderer.tsx
  packages/forms/src/core/components/RootForm.tsx
  packages/forms/src/core/context/RootFormContext.tsx
  packages/forms/src/form/RenderInputs/RenderInputs.tsx
  packages/forms/src/types/types.ts
  packages/ui/src/views/unified-pipeline-studio/components/form-inputs/calendar-form-input.tsx
  packages/ui/src/views/unified-pipeline-studio/components/form-inputs/cards-form-input.tsx
  packages/ui/src/views/unified-pipeline-studio/components/form-inputs/select-form-input.tsx
Owners: none

bump versions
  packages/forms/package.json
  packages/ui/package.json
Owners: srdjan.arsic@harness.io, abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

bump versions (#10554)
  packages/forms/package.json
  packages/ui/package.json
Owners: srdjan.arsic@harness.io, abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

chore: Update Side bar collapse icon (#10555)
  packages/ui/src/components/sidebar/sidebar-toggle-menu-button.tsx
Owners: none

chore: Bump ui pkg version (#10556)
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix: Ensure clean recursive pnpm build (#10557)
  packages/ui/locales/en/component.json
  packages/ui/locales/fr/component.json
Owners: none

replace nav item with button
  packages/ui/src/components/sidebar/sidebar-toggle-menu-button.tsx
Owners: none

Bump ui pkg version
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

chore: Remove unused import (#10559)
  packages/ui/src/components/sidebar/sidebar-toggle-menu-button.tsx
Owners: none

fix: [CODE-4740] PR pannel showing incorrect reviews required (#10560)
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/pull-request-changes-section.tsx
Owners: none

feat: add expand collapse diff buttons to PR
  apps/gitness/src/framework/hooks/useDownloadRawFile.ts
  apps/gitness/src/pages-v2/pull-request/pull-request-changes.tsx
  packages/ui/src/styles/styles.css
  packages/ui/src/views/repo/pull-request/components/in-view-diff-renderer.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-accordian.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-diff-viewer.tsx
  packages/ui/src/views/repo/pull-request/details/components/changes/pull-request-changes.tsx
  packages/ui/src/views/repo/pull-request/details/pull-request-changes-page.tsx
Owners: none

fix type check
  apps/design-system/src/subjects/views/pull-request-conversation/pull-request-changes.tsx
Owners: none

fix: handle deleted/binary file changes and addressed comments
  packages/ui/src/views/repo/pull-request/details/components/changes/pull-request-changes.tsx
Owners: none

color added
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

fix-height added (#10561)
  packages/core-design-system/design-tokens/components/desktop/base/dialog.json
Owners: none

Bump minor version in packages/ui/package.json to 0.0.173
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Bump patch version in packages/ui/package.json to 0.0.174
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Bump patch version in packages/ui/package.json to 0.0.175
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Medium Priority — Display & Layout Components(7) (#10562)
  packages/ui/src/components/__tests__/card-select.test.tsx
  packages/ui/src/components/__tests__/card.test.tsx
  packages/ui/src/components/__tests__/carousel.test.tsx
  packages/ui/src/components/__tests__/layout.test.tsx
  packages/ui/src/components/__tests__/textarea.test.tsx
  packages/ui/src/components/drawer/__tests__/drawer.test.tsx
  packages/ui/src/components/pagination/__tests__/pagination.test.tsx
Owners: none

chore: Add class for applying fixed Dialog height (#10563)
  packages/ui/tailwind-utils-config/components/dialog.ts
Owners: none

Bump patch version in packages/ui/package.json to 0.0.176
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Medium Priority — Display & Layout Components(7) (#10564)
  packages/ui/src/components/__tests__/image-carousel.test.tsx
  packages/ui/src/components/__tests__/resizable.test.tsx
  packages/ui/src/components/__tests__/sheet.test.tsx
  packages/ui/src/components/__tests__/tabs.test.tsx
  packages/ui/src/components/__tests__/time-ago-card.test.tsx
  packages/ui/src/components/__tests__/topbar.test.tsx
  packages/ui/src/components/__tests__/treeview.test.tsx
Owners: none

Low Priority — Complex / Specialized Components(10) (#10565)
  packages/ui/src/components/__tests__/data-table.test.tsx
  packages/ui/src/components/__tests__/entity-form-layout.test.tsx
  packages/ui/src/components/__tests__/icon-with-tooltip.test.tsx
  packages/ui/src/components/__tests__/meter.test.tsx
  packages/ui/src/components/__tests__/more-actions-tooltip.test.tsx
  packages/ui/src/components/__tests__/path-breadcrumbs.test.tsx
  packages/ui/src/components/__tests__/problems.test.tsx
  packages/ui/src/components/__tests__/progress.test.tsx
  packages/ui/src/components/__tests__/repo-subheader.test.tsx
  packages/ui/src/components/__tests__/search-files.test.tsx
Owners: none

fix: Fixing nav active state styling as per new UX (#10566)
  packages/ui/src/components/sidebar/sidebar-item.tsx
  packages/ui/tailwind-utils-config/components/sidebar.ts
Owners: none

Bump patch version in packages/ui/package.json to 0.0.177
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

for nav item
  packages/ui/src/components/sidebar/sidebar-item.tsx
  packages/ui/tailwind-utils-config/components/sidebar.ts
Owners: none

adding active indicator for sub item
  packages/ui/src/components/sidebar/sidebar-item.tsx
  packages/ui/tailwind-utils-config/components/sidebar.ts
Owners: none

add "active" check for left indicator
  packages/ui/src/components/sidebar/sidebar-item.tsx
Owners: none

feat: Add left indicator for active nav item (#10567)
  packages/ui/src/components/sidebar/sidebar-item.tsx
  packages/ui/tailwind-utils-config/components/sidebar.ts
Owners: none

Bump patch version in packages/ui/package.json to 0.0.178
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix: align Select and InputReference border styles with text inputs and hide 3-dot menu (#10568)
  packages/ui/package.json
  packages/ui/src/views/platform/input-reference-component.tsx
  packages/ui/src/views/secrets/secret-input/secret-input.tsx
  packages/ui/tailwind-utils-config/utilities/border-radius.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Low Priority — Complex / Specialized Components(9) (#10569)
  packages/ui/src/components/__tests__/file-explorer.test.tsx
  packages/ui/src/components/app-sidebar/app-sidebar.test.tsx
  packages/ui/src/components/commit-suggestions-dialog/commit-suggestions-dialog.test.tsx
  packages/ui/src/components/dialogs/dialogs.test.tsx
  packages/ui/src/components/file-control-bars/file-control-bars.test.tsx
  packages/ui/src/components/git-commit-dialog/__tests__/git-commit-dialog.test.tsx
  packages/ui/src/components/inputs/inputs.test.tsx
  packages/ui/src/components/language-selector/language-selector.test.tsx
  packages/ui/src/components/searchable-dropdown/searchable-dropdown.test.tsx
Owners: none

add sidebar collapse component
  apps/design-system/src/pages/view-preview/side-nav-wrapper.tsx
  packages/ui/package.json
  packages/ui/src/components/index.ts
  packages/ui/src/components/sidebar-collapse.tsx
  pnpm-lock.yaml
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix on hover right margin
  packages/ui/src/components/sidebar-collapse.tsx
Owners: none

fix: [CODE-4762] horizontal scroll in PR Conversation page (#10570)
  packages/ui/src/components/text.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-system-comments.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-timeline-item.tsx
Owners: none

fix: [CODE-4513] self review
  apps/gitness/src/AppMFE.tsx
  apps/gitness/src/components-v2/breadcrumbs/useGetBreadcrumbs.ts
  apps/gitness/src/components-v2/breadcrumbs/usePublicAccess.ts
  apps/gitness/src/framework/context/AppContext.tsx
  apps/gitness/src/framework/context/MFEContext.tsx
Owners: none

CODEOWNERS:

# Global configs
.github/ abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.eslintrc.js abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.prettierrc.yml abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Common ownership for shared config files
/packages/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/packages/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Apps
/apps/gitness/* abhinav.rastogi@harness.io vardan.bansal@harness.io
/apps/portal/* kevin.nagurski@harness.io pranesh.g@harness.io abhinav.rastogi@harness.io vardan.bansal@harness.io

# Packages with shared ownership
/packages/ui/* abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io pranesh.g@harness.io

# Packages with individual owners
/packages/forms/* srdjan.arsic@harness.io
/packages/unified-pipeline/* srdjan.arsic@harness.io
/packages/yaml-editor/* srdjan.arsic@harness.io
/packages/core-design-system/* pranesh.g@harness.io
