Repository harness/canary, changes with the owners that CODEOWNERS names for each.
All owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io, srdjan.arsic@harness.io

Fix dropdown content height on small screen heights
  packages/ui/tailwind-utils-config/components/dropdown-menu.ts
Owners: none

Fix dropdown content height on small screen heights (#2059)
  packages/ui/tailwind-utils-config/components/dropdown-menu.ts
Owners: none

feat: update repo-tags-list-page
  packages/ui/locales/en/views.json
  packages/ui/src/components/illustration/images/no-data-tags-light.svg
  packages/ui/src/components/illustration/images/no-data-tags.svg
  packages/ui/src/components/more-actions-tooltip.tsx
  packages/ui/src/views/repo/repo-tags/components/create-tag/create-tag-dialog.tsx
  packages/ui/src/views/repo/repo-tags/components/repo-tags-list.tsx
  packages/ui/src/views/repo/repo-tags/repo-tags-list-page.tsx
Owners: none

Fix some design diffs and bugs at Summary page + add focus to Switch
  packages/ui/src/components/dialog.tsx
  packages/ui/src/components/form-primitives/textarea.tsx
  packages/ui/src/views/repo/components/file-last-change-bar.tsx
  packages/ui/src/views/repo/repo-summary/components/edit-repo-details-dialog.tsx
  packages/ui/tailwind-utils-config/components/switch.ts
Owners: none

Fix some design diffs and bugs at Summary page + add focus to Switch (#2061)
  packages/ui/src/components/dialog.tsx
  packages/ui/src/components/form-primitives/textarea.tsx
  packages/ui/src/views/repo/components/file-last-change-bar.tsx
  packages/ui/src/views/repo/repo-summary/components/edit-repo-details-dialog.tsx
  packages/ui/tailwind-utils-config/components/switch.ts
Owners: none

fix: show files list instantly and lazy load file details in summary when scrolled (#10159)
  apps/gitness/src/hooks/useRepoFileContentDetails.ts
  apps/gitness/src/pages-v2/repo/repo-code.tsx
  apps/gitness/src/pages-v2/repo/repo-sidebar.tsx
  apps/gitness/src/pages-v2/repo/repo-summary.tsx
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/views/repo/components/branch-info-bar.tsx
  packages/ui/src/views/repo/components/summary/summary.tsx
  packages/ui/src/views/repo/repo-files/repo-files-view.tsx
  packages/ui/src/views/repo/repo-summary/repo-summary.tsx
Owners: none

fix: add outdated timestamp (#10161)
  packages/ui/src/views/repo/pull-request/components/pull-request-diff-viewer.tsx
  packages/ui/src/views/repo/pull-request/details/components/common/pull-request-comment-view.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/regular-and-code-comment.tsx
Owners: none

blame editor v2
  apps/gitness/src/components-v2/GitBlame.tsx
  apps/gitness/src/components-v2/file-content-viewer.tsx
  packages/ui/src/utils/index.ts
  packages/yaml-editor/src/components/BlameEditorV2.tsx
  packages/yaml-editor/src/index.ts
  packages/yaml-editor/src/types/blame.ts
Owners: none

fix: comment box paddings
  packages/ui/src/views/repo/pull-request/components/pull-request-diff-viewer.tsx
  packages/ui/src/views/repo/pull-request/details/components/common/pull-request-comment-view.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-timeline-item.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/regular-and-code-comment.tsx
Owners: none

fix: comment box paddings
  packages/ui/src/views/repo/pull-request/components/pull-request-diff-viewer.tsx
  packages/ui/src/views/repo/pull-request/details/components/common/pull-request-comment-view.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-timeline-item.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/regular-and-code-comment.tsx
Owners: none

fix a couple of remaining 'Create' button titles (#10162)
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/views/connectors/connectors-list/connectors-list-page.tsx
  packages/ui/src/views/connectors/connectors-list/connectors-list.tsx
  packages/ui/src/views/labels/labels-list-page.tsx
  packages/ui/src/views/secrets/secrets-list/secrets-list-page.tsx
  packages/ui/src/views/user-management/components/empty-state/empty-state.tsx
  packages/ui/src/views/user-management/components/page-components/actions/actions.tsx
Owners: none

fix: Fix few P3 bugs (#10150)
  apps/gitness/src/pages-v2/repo/repo-commits.tsx
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/views/repo/components/branch-banner/branch-compare-banner.tsx
  packages/ui/src/views/repo/repo-commits/repo-commits-view.tsx
  packages/ui/src/views/repo/repo-summary/repo-empty-view.tsx
Owners: none

minor update
  apps/gitness/src/components-v2/GitBlame.tsx
  packages/yaml-editor/src/components/BlameEditorV2.tsx
Owners: none

change Add User to Create User (#10165)
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/views/user-management/components/empty-state/empty-state.tsx
  packages/ui/src/views/user-management/components/page-components/actions/actions.tsx
Owners: none

Edit .gitignore
  .gitignore
Owners: none

chore: update to title case from 'outdated' to 'Outdated' (#10168)
  packages/ui/src/views/repo/pull-request/components/pull-request-diff-viewer.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/regular-and-code-comment.tsx
Owners: none

Alignment issues for conflict section
  apps/gitness/src/pages-v2/pull-request/pull-request-conversation.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-panel.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/pull-request-merge-section.tsx
Owners: none

Updated link and fixed copy button padding
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/pull-request-merge-section.tsx
Owners: none

unhide comment box grab handle so it can be resized (#10167)
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-comment-box.tsx
Owners: none

use route utils
  apps/gitness/src/AppMFE.tsx
  apps/gitness/src/framework/context/MFEContext.tsx
  apps/gitness/src/pages-v2/project/pull-request/pull-request-list.tsx
  apps/gitness/src/pages-v2/repo/repo-list.tsx
Owners: none

Fixed comments
  apps/gitness/src/pages-v2/pull-request/pull-request-conversation.tsx
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/views/labels/labels-list-page.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-panel.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/pull-request-merge-section.tsx
  packages/ui/src/views/repo/repo-commits/repo-commits-view.tsx
Owners: none

Fixed prettier check
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/pull-request-merge-section.tsx
Owners: none

fix: make required badges consistent
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/pull-request-changes-section.tsx
Owners: none

Delete file navigation to default branch fix (#10171)
  apps/gitness/src/components-v2/file-content-viewer.tsx
Owners: none

Fix dropdown height for small height screen and Add scroll
  packages/ui/tailwind-utils-config/components/dropdown-menu.ts
Owners: none

Update overflow-y behaviour
  packages/ui/tailwind-utils-config/components/dropdown-menu.ts
Owners: none

fix multiple issues
  apps/gitness/src/components-v2/breadcrumbs/breadcrumbs.tsx
  apps/gitness/src/components-v2/project-dropdown.tsx
  apps/gitness/src/components-v2/standalone/app-shell.tsx
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/components/topbar.tsx
  packages/ui/src/styles/shared-style-variables.css
  packages/ui/src/views/repo/components/CommitTitleWithPRLink.tsx
  packages/ui/src/views/repo/components/commits-list.tsx
  packages/ui/src/views/repo/repo-commit-details/repo-commit-details-view.tsx
  packages/ui/tailwind-design-system.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Fix dropdown checkbox icon
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/tailwind-utils-config/components/checkbox.ts
Owners: none

Fix dropdown checkbox icon (#2062)
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/tailwind-utils-config/components/checkbox.ts
Owners: none

Fix checkbox icon size
  packages/ui/src/components/checkbox.tsx
  packages/ui/src/components/dropdown-menu.tsx
  packages/ui/tailwind-utils-config/components/checkbox.ts
Owners: none

Fix checkbox icon size (#2063)
  packages/ui/src/components/checkbox.tsx
  packages/ui/src/components/dropdown-menu.tsx
  packages/ui/tailwind-utils-config/components/checkbox.ts
Owners: none

fix multiple issues (#2050)
  apps/gitness/src/components-v2/breadcrumbs/breadcrumbs.tsx
  apps/gitness/src/components-v2/project-dropdown.tsx
  apps/gitness/src/components-v2/standalone/app-shell.tsx
  packages/ui/src/components/topbar.tsx
  packages/ui/src/styles/shared-style-variables.css
  packages/ui/src/views/repo/components/CommitTitleWithPRLink.tsx
  packages/ui/src/views/repo/components/commits-list.tsx
  packages/ui/src/views/repo/repo-commit-details/repo-commit-details-view.tsx
  packages/ui/tailwind-design-system.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix: open paths lost in MFE, file input rebuildPaths (#10174)
  apps/gitness/package.json
  apps/gitness/src/components-v2/file-editor.tsx
  apps/gitness/src/framework/context/ExplorerPathsContext.tsx
  packages/ui/src/components/path-breadcrumbs.tsx
  pnpm-lock.yaml
Owners: abhinav.rastogi@harness.io, vardan.bansal@harness.io

Extended diff view improvement (#10175)
  packages/ui/src/views/repo/pull-request/components/extended-diff-view/extended-diff-view-style.css
  packages/ui/src/views/repo/pull-request/components/extended-diff-view/extended-diff-view-utils.ts
  packages/ui/src/views/repo/pull-request/components/extended-diff-view/extended-diff-view.tsx
Owners: none

Blame editor v2 (#10163)
  apps/gitness/src/components-v2/GitBlame.tsx
  apps/gitness/src/components-v2/file-content-viewer.tsx
  packages/ui/src/utils/index.ts
  packages/yaml-editor/src/components/BlameEditorV2.tsx
  packages/yaml-editor/src/index.ts
  packages/yaml-editor/src/types/blame.ts
Owners: none

fallback added (#10176)
  packages/core-design-system/design-tokens/core/typography.json
Owners: none

feat: Replace window location update with route utils from MFE (#10170)
  apps/gitness/src/AppMFE.tsx
  apps/gitness/src/framework/context/MFEContext.tsx
  apps/gitness/src/pages-v2/project/pull-request/pull-request-list.tsx
  apps/gitness/src/pages-v2/repo/repo-list.tsx
Owners: none

feat: match search page to mocks (#10178)
  packages/ui/src/components/accordion/accordion.tsx
  packages/ui/src/views/search/components/search-results-list.tsx
  packages/ui/src/views/search/search-page.tsx
Owners: none

Conflict section - Alignment issues (#10169)
  apps/gitness/src/components-v2/commit-suggestions-dialog.tsx
  apps/gitness/src/pages-v2/pull-request/pull-request-conversation.tsx
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/components/commit-suggestions-dialog/commit-suggestions-dialog.tsx
  packages/ui/src/views/labels/labels-list-page.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-panel.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/pull-request-merge-section.tsx
  packages/ui/src/views/repo/repo-commits/repo-commits-view.tsx
Owners: none

fix: Remove extra left margin from Breadcrumbs to align vertically (#10179)
  apps/gitness/src/components-v2/mfe/app-shell.tsx
Owners: none

CODEOWNERS:

# Global configs
.github/ abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.eslintrc.js abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.prettierrc.yml abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Common ownership for shared config files
/packages/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/packages/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Apps
/apps/gitness/* abhinav.rastogi@harness.io vardan.bansal@harness.io
/apps/portal/* kevin.nagurski@harness.io pranesh.g@harness.io abhinav.rastogi@harness.io vardan.bansal@harness.io

# Packages with shared ownership
/packages/ui/* abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io pranesh.g@harness.io

# Packages with individual owners
/packages/forms/* srdjan.arsic@harness.io
/packages/unified-pipeline/* srdjan.arsic@harness.io
/packages/yaml-editor/* srdjan.arsic@harness.io
/packages/core-design-system/* pranesh.g@harness.io
