Repository harness/canary, changes with the owners that CODEOWNERS names for each.
All owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io, srdjan.arsic@harness.io

CODEOWNERS:

# Global configs
.github/ abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.eslintrc.js abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.prettierrc.yml abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Common ownership for shared config files
/packages/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/packages/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Apps
/apps/gitness/* abhinav.rastogi@harness.io vardan.bansal@harness.io
/apps/portal/* kevin.nagurski@harness.io pranesh.g@harness.io abhinav.rastogi@harness.io vardan.bansal@harness.io

# Packages with shared ownership
/packages/ui/* abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io pranesh.g@harness.io

# Packages with individual owners
/packages/forms/* srdjan.arsic@harness.io
/packages/unified-pipeline/* srdjan.arsic@harness.io
/packages/yaml-editor/* srdjan.arsic@harness.io
/packages/core-design-system/* pranesh.g@harness.io

add pr commits design review
  packages/ui/src/components/node-group.tsx
  packages/ui/src/views/repo/components/commits-list.tsx
  packages/ui/src/views/repo/pull-request/compare/pull-request-compare-page.tsx
Owners: none

fixes
  packages/ui/src/components/node-group.tsx
  packages/ui/src/views/layouts/PullRequestLayout.tsx
  packages/ui/src/views/repo/components/commits-list.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-header.tsx
Owners: none

Fixed keyboard navigation inside the Dropdown for PR Reviewers and PR Labels
  packages/ui/src/components/search-files.tsx
  packages/ui/src/views/repo/pull-request/components/labels/pull-request-labels-header.tsx
  packages/ui/src/views/repo/pull-request/components/reviewers/pull-request-reviewers-header.tsx
Owners: none

typography fix (#10348)
  packages/core-design-system/design-tokens/core/colors_hex.json
  packages/core-design-system/design-tokens/core/colors_lch.json
  packages/core-design-system/design-tokens/core/typography.json
  packages/ui/tailwind-utils-config/components/avatar.ts
Owners: none

fixes
  packages/ui/src/views/repo/pull-request/components/pull-request-header.tsx
Owners: none

fix: handle sse on PR Conversation page (#10349)
  apps/gitness/src/pages-v2/pull-request/pull-request-conversation.tsx
  apps/gitness/src/pages-v2/pull-request/pull-request-data-provider.tsx
Owners: none

Fix keyboard navigation with search inside Dropdown and Select
  packages/ui/src/components/dropdown-menu.tsx
  packages/ui/src/components/form-primitives/select.tsx
  packages/ui/src/views/repo/pull-request/components/labels/pull-request-labels-header.tsx
  packages/ui/src/views/repo/pull-request/components/reviewers/pull-request-reviewers-header.tsx
Owners: none

Fix keyboard navigation with search inside Dropdown and Select (#2115)
  packages/ui/src/components/dropdown-menu.tsx
  packages/ui/src/components/form-primitives/select.tsx
  packages/ui/src/components/search-files.tsx
  packages/ui/src/views/repo/pull-request/components/labels/pull-request-labels-header.tsx
  packages/ui/src/views/repo/pull-request/components/reviewers/pull-request-reviewers-header.tsx
Owners: none

fix: jump to only the inner block(accordion) and not the diff viewer component (#10350)
  packages/ui/src/views/repo/pull-request/details/pull-request-utils.ts
Owners: none

merge text added (#10354)
  packages/core-design-system/design-tokens/mode/dark/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/default-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast.json
  packages/core-design-system/design-tokens/mode/light/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/default-protanopia.json
  packages/core-design-system/design-tokens/mode/light/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/default.json
  packages/core-design-system/design-tokens/mode/light/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast.json
Owners: none

Fix z-index for focused Tabs
  packages/ui/tailwind-utils-config/components/tabs.ts
Owners: none

Fix z-index for focused Tabs (#2117)
  packages/ui/tailwind-utils-config/components/tabs.ts
Owners: none

add pr commits design review (#2112)
  packages/ui/src/components/node-group.tsx
  packages/ui/src/views/layouts/PullRequestLayout.tsx
  packages/ui/src/views/repo/components/commits-list.tsx
  packages/ui/src/views/repo/pull-request/compare/pull-request-compare-page.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-header.tsx
Owners: none

add path to group (#10353)
  packages/ui/src/views/run-pipeline/utils/__tests__/inputs-utils.test.tsx
  packages/ui/src/views/run-pipeline/utils/inputs-utils.ts
Owners: none

ui package version bump (#10355)
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix favorite button focus
  packages/ui/src/components/filters/filters-field.tsx
  packages/ui/tailwind-utils-config/components/stacked-list.ts
Owners: none

fix tabs content focus issue
  packages/ui/src/components/tabs.tsx
Owners: none

fix branch tag in branch info bar
  packages/ui/src/views/repo/components/branch-info-bar.tsx
Owners: none

fixes
  packages/ui/tailwind-utils-config/components/table-v2.ts
Owners: none

fix link wrapping in table
  packages/ui/src/components/table.tsx
  packages/ui/src/views/repo/repo-branch/components/branch-list.tsx
  packages/ui/src/views/repo/repo-tags/components/repo-tags-list.tsx
  packages/ui/src/views/repo/webhooks/webhook-list/components/repo-webhook-list.tsx
  packages/ui/tailwind-utils-config/components/table-v2.ts
Owners: none

fixes
  packages/ui/src/components/table.tsx
  packages/ui/src/views/connectors/connectors-list/connectors-list.tsx
  packages/ui/src/views/repo/components/summary/summary.tsx
  packages/ui/src/views/repo/repo-branch/components/branch-list.tsx
  packages/ui/src/views/repo/repo-tags/components/repo-tags-list.tsx
  packages/ui/src/views/repo/webhooks/webhook-list/components/repo-webhook-list.tsx
  packages/ui/tailwind-utils-config/components/table-v2.ts
Owners: none

fix time ago trigger focus
  packages/ui/src/components/popover.tsx
  packages/ui/src/components/time-ago-card.tsx
  packages/ui/src/views/repo/components/summary/summary.tsx
Owners: none

fixes
  packages/ui/tailwind-utils-config/components/table-v2.ts
Owners: none

fix link wrapping in table (#2111)
  packages/ui/src/components/popover.tsx
  packages/ui/src/components/table.tsx
  packages/ui/src/components/time-ago-card.tsx
  packages/ui/src/views/connectors/connectors-list/connectors-list.tsx
  packages/ui/src/views/repo/components/summary/summary.tsx
  packages/ui/src/views/repo/repo-branch/components/branch-list.tsx
  packages/ui/src/views/repo/repo-tags/components/repo-tags-list.tsx
  packages/ui/src/views/repo/webhooks/webhook-list/components/repo-webhook-list.tsx
  packages/ui/tailwind-utils-config/components/table-v2.ts
Owners: none

Edit Dockerfile
  Dockerfile
Owners: none

fix: connector references table + allow wrapper class for input reference (#10356)
  apps/design-system/src/subjects/views/connectors/connector-details.tsx
  apps/design-system/src/subjects/views/connectors/mock-connector-ref-list.ts
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/package.json
  packages/ui/src/views/connectors/connector-details/connector-details-references-list.tsx
  packages/ui/src/views/connectors/connector-details/connector-details-references.tsx
  packages/ui/src/views/connectors/connector-details/types.ts
  packages/ui/src/views/platform/input-reference-component.tsx
  packages/ui/src/views/secrets/secret-details/secret-details-references-list.tsx
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix: update pr-list page when no result is found with filters
  apps/gitness/src/pages-v2/pull-request/pull-request-list.tsx
  packages/ui/src/views/repo/pull-request/pull-request-list-page.tsx
Owners: none

fix: update pr-list page when no result is found with filters (#10358)
  apps/gitness/src/pages-v2/pull-request/pull-request-list.tsx
  packages/ui/src/views/repo/pull-request/pull-request-list-page.tsx
Owners: none

Rules click and navigation and File rename path issue (#10347)
  apps/gitness/src/pages-v2/pull-request/pull-request-changes.tsx
  packages/ui/src/views/repo/repo-settings/components/repo-settings-general-rules.tsx
Owners: none

fix: precommit hooks should only test changed files (#10345)
  apps/design-system/package.json
  apps/gitness/package.json
  apps/portal/package.json
  packages/filters/package.json
  packages/forms/package.json
  packages/pipeline-graph/package.json
  packages/ui/package.json
  packages/yaml-editor/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io, srdjan.arsic@harness.io

using local .env for VIEW_PREVIEW_BASE_URL
  package.json
  packages/tests/common/test.ts
  playwright.config.ts
  pnpm-lock.yaml
Owners: none

use env variable selectors
  packages/tests/__screenshots/chat-empty-preview.spec.ts/chromium-chat-empty-preview-matches-screenshot.png
  packages/tests/__screenshots/execution-list.spec.ts/chromium-execution-list-matches-screenshot.png
  packages/tests/__screenshots/profile-settings-keys.spec.ts/chromium-profile-settings-keys-matches-screenshot.png
  packages/tests/__screenshots/repo-files-edit-view.spec.ts/chromium-repo-files-edit-view-matches-screenshot.png
  packages/tests/__screenshots/repo-files-json-view.spec.ts/chromium-repo-files-json-view-matches-screenshot.png
  packages/tests/__screenshots/repo-files-json-view.spec.ts/firefox-repo-files-json-view-matches-screenshot.png
  packages/tests/__screenshots/repo-list.spec.ts/chromium-repo-list-matches-screenshot.png
  packages/tests/common/config.ts
  packages/tests/common/selectors.ts
  packages/tests/common/test.ts
  packages/tests/connector-reference.spec.ts
  packages/tests/create-edit-connector.spec.ts
  packages/tests/delegate-cards-demo.spec.ts
  packages/tests/webhook-create.spec.ts
  packages/tests/webhook-list.spec.ts
  packages/ui/src/views/layouts/SandboxLayout.tsx
  playwright.config.ts
Owners: none

add ID selector to sandbox layout content (#10359)
  .gitignore
  packages/ui/src/views/layouts/SandboxLayout.tsx
Owners: none

update screenshots with increased timeout
  packages/tests/__screenshots/chat-empty-preview.spec.ts/chromium-chat-empty-preview-matches-screenshot.png
  packages/tests/__screenshots/chat-preview.spec.ts/chromium-chat-preview-matches-screenshot.png
  packages/tests/__screenshots/connectors-details-page.spec.ts/chromium-connectors-details-page-matches-screenshot.png
  packages/tests/__screenshots/connectors-details-page.spec.ts/firefox-connectors-details-page-matches-screenshot.png
  packages/tests/__screenshots/connectors-details-page.spec.ts/webkit-connectors-details-page-matches-screenshot.png
  packages/tests/__screenshots/connectors-list-page.spec.ts/chromium-connectors-list-page-matches-screenshot.png
  packages/tests/__screenshots/connectors-list-page.spec.ts/firefox-connectors-list-page-matches-screenshot.png
  packages/tests/__screenshots/connectors-list-page.spec.ts/webkit-connectors-list-page-matches-screenshot.png
  packages/tests/__screenshots/data-table-demo.spec.ts/chromium-data-table-demo-matches-screenshot.png
  packages/tests/__screenshots/data-table-demo.spec.ts/firefox-data-table-demo-matches-screenshot.png
  packages/tests/__screenshots/data-table-demo.spec.ts/webkit-data-table-demo-matches-screenshot.png
  packages/tests/__screenshots/delegate-connectivity.spec.ts/chromium-delegate-connectivity-matches-screenshot.png
  packages/tests/__screenshots/delegate-connectivity.spec.ts/firefox-delegate-connectivity-matches-screenshot.png
  packages/tests/__screenshots/delegate-connectivity.spec.ts/webkit-delegate-connectivity-matches-screenshot.png
  packages/tests/__screenshots/execution-list.spec.ts/chromium-execution-list-matches-screenshot.png
  packages/tests/__screenshots/label-form.spec.ts/chromium-label-form-matches-screenshot.png
  packages/tests/__screenshots/pipeline-list.spec.ts/chromium-pipeline-list-matches-screenshot.png
  packages/tests/__screenshots/project-settings.spec.ts/chromium-project-settings-matches-screenshot.png
  packages/tests/__screenshots/repo-files-edit-view.spec.ts/chromium-repo-files-edit-view-matches-screenshot.png
  packages/tests/__screenshots/repo-files-edit-view.spec.ts/firefox-repo-files-edit-view-matches-screenshot.png
  packages/tests/__screenshots/repo-files-json-view.spec.ts/chromium-repo-files-json-view-matches-screenshot.png
  packages/tests/__screenshots/secrets-list-page.spec.ts/chromium-secrets-list-page-matches-screenshot.png
  packages/tests/__screenshots/secrets-list-page.spec.ts/firefox-secrets-list-page-matches-screenshot.png
  packages/tests/__screenshots/secrets-list-page.spec.ts/webkit-secrets-list-page-matches-screenshot.png
  packages/tests/__screenshots/space-settings-members.spec.ts/chromium-space-settings-members-matches-screenshot.png
  packages/tests/__screenshots/table-v2-demo.spec.ts/chromium-table-v2-demo-matches-screenshot.png
  packages/tests/__screenshots/table-v2-demo.spec.ts/firefox-table-v2-demo-matches-screenshot.png
  packages/tests/__screenshots/table-v2-demo.spec.ts/webkit-table-v2-demo-matches-screenshot.png
  playwright.config.ts
Owners: none

feat: add edit secrets changes to canary (#10360)
  apps/design-system/src/subjects/views/secrets/secrets.tsx
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/views/secrets/secret-entity-form.tsx
  packages/ui/src/views/secrets/secrets-list/secrets-list.tsx
  packages/ui/src/views/secrets/secrets-list/types.ts
Owners: none

fix: updated logo size tokens
  packages/ui/tailwind-utils-config/components/icon-and-logo.ts
Owners: none

fixes
  packages/ui/src/components/filters/filters-field.tsx
Owners: none

fix branch tag in branch info bar (#2120)
  packages/ui/src/views/repo/components/branch-info-bar.tsx
Owners: none

fix favorite button focus (#2118)
  packages/ui/src/components/filters/filters-field.tsx
  packages/ui/tailwind-utils-config/components/stacked-list.ts
Owners: none

fix settings nav focus ring
  packages/ui/src/views/layouts/content-layout-with-sidebar.tsx
Owners: none
