Repository harness/canary, changes with the owners that CODEOWNERS names for each.
All owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io, srdjan.arsic@harness.io

CODEOWNERS:

# Global configs
.github/ abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.eslintrc.js abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.prettierrc.yml abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Common ownership for shared config files
/packages/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/packages/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Apps
/apps/gitness/* abhinav.rastogi@harness.io vardan.bansal@harness.io
/apps/portal/* kevin.nagurski@harness.io pranesh.g@harness.io abhinav.rastogi@harness.io vardan.bansal@harness.io

# Packages with shared ownership
/packages/ui/* abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io pranesh.g@harness.io

# Packages with individual owners
/packages/forms/* srdjan.arsic@harness.io
/packages/unified-pipeline/* srdjan.arsic@harness.io
/packages/yaml-editor/* srdjan.arsic@harness.io
/packages/core-design-system/* pranesh.g@harness.io

fix
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

Edit .gitignore
  .gitignore
Owners: none

Harness layout for pipeline graph (#10696)
  packages/pipeline-graph/package.json
  packages/pipeline-graph/playground/src/demo1.tsx
  packages/pipeline-graph/playground/src/demo2.tsx
  packages/pipeline-graph/playground/src/demo3-animations.tsx
  packages/pipeline-graph/playground/src/demo4-performance.tsx
  packages/pipeline-graph/playground/src/demo6-top-align.tsx
  packages/pipeline-graph/playground/src/nodes/parallel-group-node.tsx
  packages/pipeline-graph/playground/src/nodes/serial-group-node.tsx
  packages/pipeline-graph/playground/src/nodes/stage-node.tsx
  packages/pipeline-graph/playground/src/nodes/start-node.tsx
  packages/pipeline-graph/playground/src/nodes/step-node.tsx
  packages/pipeline-graph/playground/src/sample-data/pipeline-data.tsx
  packages/pipeline-graph/playground/src/sample-data/pipeline.ts
  packages/pipeline-graph/playground/src/types/content-node-types.ts
  packages/pipeline-graph/src/components/nodes/leaf-container.tsx
  packages/pipeline-graph/src/components/nodes/parallel-container.tsx
  packages/pipeline-graph/src/components/nodes/port.tsx
  packages/pipeline-graph/src/components/nodes/serial-container.tsx
  packages/pipeline-graph/src/context/container-node-provider.tsx
  packages/pipeline-graph/src/index.ts
  packages/pipeline-graph/src/pipeline-graph-internal.tsx
  packages/pipeline-graph/src/pipeline-graph.css
  packages/pipeline-graph/src/types/layout.ts
  packages/pipeline-graph/src/utils/harness-layout-utils.ts
  packages/pipeline-graph/src/utils/layout-utils.ts
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

chore: reset content-node-types.ts to match main branch
  packages/pipeline-graph/playground/src/types/content-node-types.ts
Owners: none

chore: revert changes in gitness, ai-chat-core, forms, and pipeline-graph to match main
  apps/gitness/src/styles/monaco-styles.css
  packages/ai-chat-core/package.json
  packages/ai-chat-core/src/runtime/ThreadListRuntime/ThreadListRuntime.tsx
  packages/ai-chat-core/src/runtime/ThreadRuntime/ThreadRuntime.ts
  packages/ai-chat-core/src/runtime/ThreadRuntime/ThreadRuntimeCore.ts
  packages/forms/playground/src/examples/validation-example/validation-example.tsx
  packages/pipeline-graph/README.md
  packages/pipeline-graph/package.json
  packages/pipeline-graph/playground/src/demo1.tsx
  packages/pipeline-graph/playground/src/demo2.tsx
  packages/pipeline-graph/playground/src/demo3-animations.tsx
  packages/pipeline-graph/playground/src/demo4-performance.tsx
  packages/pipeline-graph/playground/src/demo6-top-align.tsx
  packages/pipeline-graph/playground/src/nodes/parallel-group-node.tsx
  packages/pipeline-graph/playground/src/nodes/serial-group-node.tsx
  packages/pipeline-graph/playground/src/nodes/stage-node.tsx
  packages/pipeline-graph/playground/src/nodes/start-node.tsx
  packages/pipeline-graph/playground/src/nodes/step-node.tsx
  packages/pipeline-graph/playground/src/sample-data/pipeline-data.tsx
  packages/pipeline-graph/playground/src/sample-data/pipeline.ts
  packages/pipeline-graph/src/components/nodes/leaf-container.tsx
  packages/pipeline-graph/src/components/nodes/parallel-container.tsx
  packages/pipeline-graph/src/components/nodes/port.tsx
  packages/pipeline-graph/src/components/nodes/serial-container.tsx
  packages/pipeline-graph/src/context/container-node-provider.tsx
  packages/pipeline-graph/src/index.ts
  packages/pipeline-graph/src/pipeline-graph-internal.tsx
  packages/pipeline-graph/src/pipeline-graph.css
  packages/pipeline-graph/src/types/layout.ts
  packages/pipeline-graph/src/utils/harness-layout-utils.ts
  packages/pipeline-graph/src/utils/layout-utils.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io

chore: sync all mode tokens with default values
  packages/core-design-system/design-tokens/mode/dark/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/default-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast.json
  packages/core-design-system/design-tokens/mode/light/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/default-protanopia.json
  packages/core-design-system/design-tokens/mode/light/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast.json
Owners: none

border color update
  packages/ui/src/views/repo/components/branch-banner/branch-compare-banner-list.tsx
Owners: none

Update studio card components to match design system (#10698)
  packages/ui/package.json
  packages/ui/src/components/studio-card/studio-card.tsx
  packages/ui/src/styles/styles.css
  packages/ui/src/utils/stringUtils.ts
  packages/ui/tailwind-utils-config/components/studio-card.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io
