Repository harness/canary, changes with the owners that CODEOWNERS names for each.
All owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io, srdjan.arsic@harness.io

chore: bump ui pkg to 0.0.202 (#10634)
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Prompt Input : Showing gradient border on focus (#10630)
  packages/ui/tailwind-utils-config/components/prompt-input.ts
Owners: none

fix: updated gap in file-explorer between icon and content (#10636)
  packages/ui/tailwind-utils-config/components/tree.ts
Owners: none

chore: bump ui pkg to 0.0.203 (#10637)
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix output transform (#10635)
  packages/forms/src/core/utils/transform-utils.tsx
  packages/forms/src/types/types.ts
Owners: none

chore: Make "NavbarItemType" generic (#10633)
  packages/ui/src/components/app-sidebar/types.ts
Owners: none

Bump patch version in packages/ui/package.json to 0.0.204
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

bump versions (#10639)
  packages/forms/package.json
  packages/ui/package.json
Owners: srdjan.arsic@harness.io, abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

markdown fix (#10640)
  packages/core-design-system/design-tokens/breakpoint/desktop.json
Owners: none

Added sm variant in markdown (#10641)
  packages/ui/package.json
  packages/ui/src/components/markdown-viewer/index.tsx
  packages/ui/src/components/markdown-viewer/style.css
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Added MessageBubble.Markdown (#10642)
  packages/ui/package.json
  packages/ui/src/components/chat/message-bubble.tsx
  packages/ui/src/components/markdown-viewer/index.tsx
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

feat:[UUI-316]: Create Relative time calc utility function in UI package time utils (#10643)
  packages/ui/package.json
  packages/ui/src/components/time-ago-card.tsx
  packages/ui/src/utils/TimeUtils.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Update delete alert dialog message type to accept react child (#10646)
  packages/ui/package.json
  packages/ui/src/components/dialogs/delete-alert-dialog.tsx
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

feat: [AIDEVOPS-1696]: Removed padding from assistant message (#10647)
  packages/ui/package.json
  packages/ui/src/components/chat/message-bubble.tsx
  packages/ui/tailwind-utils-config/components/message-bubble.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix: [CODE-4840] application error for PR conversation page in case of tf code suggestion comment is added (#10648)
  packages/ui/src/components/markdown-viewer/CodeSuggestionBlock.tsx
Owners: none

feat: added sidebarv2 with few updated structure
  packages/ui/src/components/index.ts
  packages/ui/src/components/nav/side-nav.tsx
  packages/ui/src/components/sidebarV2/index.ts
  packages/ui/src/components/sidebarV2/sidebar-content.tsx
  packages/ui/src/components/sidebarV2/sidebar-context.tsx
  packages/ui/src/components/sidebarV2/sidebar-group.tsx
  packages/ui/src/components/sidebarV2/sidebar-item.tsx
  packages/ui/src/components/sidebarV2/sidebar-root.tsx
  packages/ui/src/components/sidebarV2/sidebar-separator.tsx
  packages/ui/src/components/sidebarV2/types/index.ts
  packages/ui/src/components/sidebarV2/types/sidebar-context.types.ts
  packages/ui/src/components/sidebarV2/types/sidebar-group.types.ts
  packages/ui/src/components/sidebarV2/types/sidebar-item.types.ts
  packages/ui/src/components/sidebarV2/types/sidebar-root.types.ts
  packages/ui/tailwind-utils-config/components/index.ts
  packages/ui/tailwind-utils-config/components/sidebarv2.ts
Owners: none

fix: [CODE-4507] add additional option to cancel import (#10638)
  apps/gitness/src/pages-v2/repo/repo-list.tsx
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/views/repo/repo-list/repo-list-page.tsx
  packages/ui/src/views/repo/repo-list/repo-list.tsx
  packages/ui/src/views/repo/repo-list/types.ts
Owners: none

fix: [CODE-4841] add multiple import repo option to empty repo list page (#10649)
  packages/ui/src/views/repo/repo-list/repo-list-page.tsx
  packages/ui/src/views/repo/repo-list/repo-list.tsx
Owners: none

feat: [UUI-335]: Add transparent variant to table component
  apps/portal/src/content/docs/components/data-display/data-table.mdx
  apps/portal/src/content/docs/components/data-display/table-v2.mdx
  packages/ui/src/components/data-table/data-table.tsx
  packages/ui/src/components/table.tsx
  packages/ui/tailwind-utils-config/components/table-v2.ts
Owners: none

test update
  packages/core-design-system/design-tokens/$themes.json
  packages/core-design-system/design-tokens/components/desktop/base/btn.json
Owners: none

feat: [UUI-335]: Bump UI package version
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

feat:[UUI-335]: Remove table row color when the variant is transparent
  packages/ui/tailwind-utils-config/components/table-v2.ts
Owners: none

feat: [UUI-335]: Add transparent variant to table component (#10650)
  apps/portal/src/content/docs/components/data-display/data-table.mdx
  apps/portal/src/content/docs/components/data-display/table-v2.mdx
  packages/ui/package.json
  packages/ui/src/components/data-table/data-table.tsx
  packages/ui/src/components/table.tsx
  packages/ui/tailwind-utils-config/components/table-v2.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

styles update
  packages/core-design-system/design-tokens/$themes.json
Owners: none

btn upd
  packages/core-design-system/design-tokens/components/desktop/base/btn.json
Owners: none

light mode update
  packages/core-design-system/design-tokens/mode/light/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/default-protanopia.json
  packages/core-design-system/design-tokens/mode/light/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/default.json
  packages/core-design-system/design-tokens/mode/light/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast.json
Owners: none

fix
  apps/portal/src/content/docs/components/overlays/tooltip.mdx
  packages/ui/src/components/tooltip.tsx
Owners: none

fix
  apps/portal/src/content/docs/components/overlays/tooltip.mdx
Owners: none

popover styles update
  packages/core-design-system/design-tokens/components/desktop/base/popover.json
  packages/ui/tailwind-utils-config/components/popover.ts
Owners: none

radius upd
  packages/core-design-system/design-tokens/components/desktop/base/tooltip.json
Owners: none

dark mode upd
  packages/core-design-system/design-tokens/mode/dark/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/default-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast.json
Owners: none

upd
  packages/core-design-system/design-tokens/$themes.json
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/core-design-system/design-tokens/mode/light/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/default-protanopia.json
  packages/core-design-system/design-tokens/mode/light/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/default.json
  packages/core-design-system/design-tokens/mode/light/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast.json
Owners: none

tooltip logic update
  apps/portal/src/content/docs/components/overlays/tooltip.mdx
  packages/core-design-system/design-tokens/core/typography.json
  packages/ui/src/components/tooltip.tsx
  packages/ui/tailwind-utils-config/components/tooltip.ts
Owners: none

portal preview fix
  apps/portal/src/content/docs/components/overlays/tooltip.mdx
Owners: none

component update
  apps/portal/src/content/docs/components/overlays/tooltip.mdx
  packages/ui/src/components/tooltip.tsx
  packages/ui/tailwind-utils-config/components/tooltip.ts
Owners: none

rename
  packages/core-design-system/design-tokens/core/typography.json
  packages/core-design-system/design-tokens/mode/dark/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/default-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast.json
  packages/core-design-system/design-tokens/mode/light/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/default-protanopia.json
  packages/core-design-system/design-tokens/mode/light/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/default.json
  packages/core-design-system/design-tokens/mode/light/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast.json
Owners: none

prettier fix
  apps/portal/src/content/docs/components/overlays/tooltip.mdx
  packages/ui/src/components/tooltip.tsx
Owners: none

style: fix prettier formatting in tooltip.mdx
  apps/portal/src/content/docs/components/overlays/tooltip.mdx
Owners: none

config update
  packages/core-design-system/design-tokens/$themes.json
Owners: none

animation update
  packages/ui/src/components/tooltip.tsx
  packages/ui/tailwind-utils-config/components/tooltip.ts
Owners: none

CODEOWNERS:

# Global configs
.github/ abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.eslintrc.js abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.prettierrc.yml abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Common ownership for shared config files
/packages/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/packages/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Apps
/apps/gitness/* abhinav.rastogi@harness.io vardan.bansal@harness.io
/apps/portal/* kevin.nagurski@harness.io pranesh.g@harness.io abhinav.rastogi@harness.io vardan.bansal@harness.io

# Packages with shared ownership
/packages/ui/* abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io pranesh.g@harness.io

# Packages with individual owners
/packages/forms/* srdjan.arsic@harness.io
/packages/unified-pipeline/* srdjan.arsic@harness.io
/packages/yaml-editor/* srdjan.arsic@harness.io
/packages/core-design-system/* pranesh.g@harness.io
