Repository harness/canary, changes with the owners that CODEOWNERS names for each.
All owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io, srdjan.arsic@harness.io

CODEOWNERS:

# Global configs
.github/ abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.eslintrc.js abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.prettierrc.yml abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Common ownership for shared config files
/packages/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/packages/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Apps
/apps/gitness/* abhinav.rastogi@harness.io vardan.bansal@harness.io
/apps/portal/* kevin.nagurski@harness.io pranesh.g@harness.io abhinav.rastogi@harness.io vardan.bansal@harness.io

# Packages with shared ownership
/packages/ui/* abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io pranesh.g@harness.io

# Packages with individual owners
/packages/forms/* srdjan.arsic@harness.io
/packages/unified-pipeline/* srdjan.arsic@harness.io
/packages/yaml-editor/* srdjan.arsic@harness.io
/packages/core-design-system/* pranesh.g@harness.io

remove default tailwind border classnames
  packages/ui/src/components/pipeline-nodes/add-node.tsx
  packages/ui/src/views/run-pipeline/yaml-view.tsx
  packages/ui/src/views/unified-pipeline-studio/components/unified-pipeline-studio-layout.tsx
  packages/ui/tailwind-design-system.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Add word-break: break-all style to Alert description block (#2201)
  packages/ui/tailwind-utils-config/components/alert.ts
Owners: none

Bump UI
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Bump UI (#2204)
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

remove leftovers
  apps/design-system/src/subjects/views/commit-details/commit-details-store.ts
Owners: none

fix secret flow (#10519)
  packages/ui/src/views/secrets/secret-entity-form.tsx
Owners: none

bump versions (#10520)
  packages/forms/package.json
  packages/ui/package.json
Owners: srdjan.arsic@harness.io, abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

update transformation functions
  packages/forms/src/core/utils/transform-utils.tsx
Owners: none

bump version
  packages/forms/package.json
Owners: srdjan.arsic@harness.io

test 1
  packages/yaml-editor/package.json
Owners: srdjan.arsic@harness.io

test 2
  pnpm-lock.yaml
Owners: none

text 3
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

update transformation functions (#10521)
  packages/forms/package.json
  packages/forms/src/core/utils/transform-utils.tsx
Owners: srdjan.arsic@harness.io

fixes
  packages/ui/src/views/execution/console-logs.tsx
Owners: none

fix text variant in Protal
  apps/portal/src/content/docs/components/text.mdx
  apps/portal/src/content/docs/foundations/typography.mdx
Owners: none

bump ui version (#10523)
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

add search page design review (#2195)
  apps/design-system/src/subjects/views/search-page/search-page-preview.tsx
  apps/design-system/src/subjects/views/search-page/search-results-store.ts
  packages/ui/locales/en/component.json
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/component.json
  packages/ui/locales/fr/views.json
  packages/ui/src/views/components/FilterGroup.tsx
  packages/ui/src/views/search/components/search-results-list.tsx
  packages/ui/src/views/search/components/semantic-search-results-list.tsx
  packages/ui/src/views/search/search-page.tsx
  packages/ui/src/views/secrets/secret-details/secret-details-activity-page.tsx
  packages/ui/src/views/secrets/secret-details/secret-details-references-page.tsx
Owners: none

Add noInitials support to Avatar component
  apps/portal/src/content/docs/components/avatar.mdx
  packages/ui/src/components/avatar.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/components/reviewers-panel.tsx
  packages/ui/tailwind-utils-config/components/avatar.ts
Owners: none

Add noInitials support to Avatar component (#2208)
  apps/portal/src/content/docs/components/avatar.mdx
  packages/ui/src/components/avatar.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/components/reviewers-panel.tsx
  packages/ui/tailwind-utils-config/components/avatar.ts
Owners: none

Remove tailwind classes 2 (#2203)
  apps/design-system/src/subjects/views/commit-details/commit-details-store.ts
  apps/portal/src/content/docs/components/card-select.mdx
  apps/portal/src/content/docs/components/checkbox.mdx
  apps/portal/src/content/docs/components/counter-badge.mdx
  apps/portal/src/content/docs/components/dialog.mdx
  apps/portal/src/content/docs/components/split-button.mdx
  apps/portal/src/content/docs/components/status-badge.mdx
  apps/portal/src/content/docs/components/tabs.mdx
  apps/portal/src/content/docs/components/tag.mdx
  packages/ui/src/components/more-actions-tooltip.tsx
  packages/ui/src/components/pipeline-nodes/add-node.tsx
  packages/ui/src/components/problems.tsx
  packages/ui/src/views/execution/console-logs.tsx
  packages/ui/src/views/execution/execution-status.tsx
  packages/ui/src/views/execution/key-value-table.tsx
  packages/ui/src/views/pipelines/components/execution-status-badge.tsx
  packages/ui/src/views/repo/components/target-repo-selector/target-repo-selector.tsx
  packages/ui/src/views/run-pipeline/yaml-view.tsx
  packages/ui/src/views/unified-pipeline-studio/components/unified-pipeline-studio-layout.tsx
  packages/ui/tailwind-design-system.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

unit test for multiline select (#10439)
  packages/ui/src/views/repo/pull-request/details/components/conversation/__tests__/diff-utils-split-view.test.ts
  packages/ui/src/views/repo/pull-request/details/components/conversation/__tests__/diff-utils-unified-view.test.ts
  packages/ui/src/views/repo/pull-request/details/components/conversation/__tests__/diff-utils.mocks.ts
Owners: none

fix: add new SearchInput to users and members
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/components/no-data.tsx
  packages/ui/src/views/project/project-members/projects-member-page.tsx
  packages/ui/src/views/repo/repo-branch-rules/components/repo-branch-rules-fields.tsx
  packages/ui/src/views/user-management/components/main.tsx
  packages/ui/src/views/user-management/components/page-components/actions/actions.tsx
  packages/ui/src/views/user-management/components/page-components/content/components/users-list/components/no-search-results/no-search-results.tsx
  packages/ui/src/views/user-management/components/page-components/content/components/users-list/users-list.tsx
  packages/ui/src/views/user-management/components/page-components/content/content.tsx
  packages/ui/src/views/user-management/components/page-components/content/types.ts
  packages/ui/src/views/user-management/user-management-page.tsx
Owners: none

fix: code module minor fixes
  packages/ui/src/components/path-breadcrumbs.tsx
  packages/ui/src/components/search-files.tsx
  packages/ui/src/views/components/FilterGroup.tsx
  packages/ui/src/views/execution/step-execution.tsx
  packages/ui/src/views/labels/labels-list-page.tsx
  packages/ui/src/views/pipelines/execution-list/execution-list-page.tsx
  packages/ui/src/views/pipelines/pipeline-list/pipeline-list-page.tsx
  packages/ui/src/views/project/project-members/projects-member-page.tsx
  packages/ui/src/views/repo/components/commits-list.tsx
  packages/ui/src/views/repo/pull-request/pull-request-list-page.tsx
  packages/ui/src/views/repo/repo-branch-rules/components/repo-branch-rules-fields.tsx
  packages/ui/src/views/repo/repo-branch/components/create-branch-dialog.tsx
  packages/ui/src/views/repo/repo-commit-details/components/commit-sidebar.tsx
  packages/ui/src/views/repo/repo-settings/components/repo-settings-general-rules.tsx
  packages/ui/src/views/repo/repo-sidebar/index.tsx
  packages/ui/src/views/repo/webhooks/webhook-list/repo-webhook-list-page.tsx
  packages/ui/src/views/user-management/components/page-components/actions/actions.tsx
Owners: none

warning support for step template (#10507)
  packages/ui/src/views/run-pipeline/types.ts
  packages/ui/src/views/run-pipeline/utils/inputs-utils.ts
Owners: none

add types fixes (#2198)
  apps/design-system/src/AppRouterProvider.tsx
  apps/gitness/src/framework/rbac/rbac-button.tsx
  packages/ui/src/components/button-group.tsx
  packages/ui/src/components/button.tsx
  packages/ui/src/components/form-input/index.ts
  packages/ui/src/components/no-data.tsx
  packages/ui/src/components/pagination/pagination-primitive.tsx
  packages/ui/src/components/toggle-group.tsx
  packages/ui/src/components/toggle.tsx
Owners: none

fix: reset form and update text components for user-list
  packages/ui/src/views/user-management/components/dialogs/components/create-user/create-user.tsx
  packages/ui/src/views/user-management/components/page-components/content/components/users-list/users-list.tsx
Owners: none

fix: translations
  packages/ui/locales/en/component.json
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/component.json
  packages/ui/locales/fr/views.json
Owners: none

Replaced Name instead of ID in secret list (#10522)
  packages/ui/src/views/secrets/secrets-list/secrets-list.tsx
Owners: none

fix text variant in Protal (#2207)
  apps/portal/src/content/docs/components/text.mdx
  apps/portal/src/content/docs/foundations/typography.mdx
Owners: none

Tag creation fix with no key value (#10524)
  packages/ui/package.json
  packages/ui/src/utils/__tests__/stringUtils.test.ts
  packages/ui/src/utils/stringUtils.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Tag creation fix with no key value (#10524)
  packages/ui/package.json
  packages/ui/src/utils/__tests__/stringUtils.test.ts
  packages/ui/src/utils/stringUtils.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Update Create Rule SplitButton to Dropdown
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/components/no-data.tsx
  packages/ui/src/views/project/project-rules/project-rules-page.tsx
  packages/ui/src/views/repo/repo-settings/components/repo-settings-general-rules.tsx
Owners: none

Update Create Rule SplitButton to Dropdown (#2209)
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/components/no-data.tsx
  packages/ui/src/views/project/project-rules/project-rules-page.tsx
  packages/ui/src/views/repo/repo-settings/components/repo-settings-general-rules.tsx
Owners: none

disable new secret creation (#10525)
  packages/ui/src/views/secrets/secrets-header.tsx
Owners: none

Creat withTooltip HOC and add it to StackedListItem
  apps/portal/src/content/docs/components/stacked-list.mdx
  packages/ui/src/components/stacked-list.tsx
  packages/ui/src/components/tooltip.tsx
Owners: none

bump ui version (#10526)
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

delete old and deprecated components
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/components/chat_deprecated.tsx
  packages/ui/src/components/file-additions-trigger.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/components/option.tsx
  packages/ui/src/components/search-box.tsx
  packages/ui/src/views/components/RadioSelect.tsx
  packages/ui/src/views/execution/step-execution.tsx
  packages/ui/src/views/execution/types.ts
  packages/ui/src/views/index.ts
  packages/ui/src/views/pipelines/execution-list/execution-list-page.tsx
  packages/ui/src/views/pipelines/pipeline-list/pipeline-list-page.tsx
  packages/ui/src/views/project/project-members/projects-member-page.tsx
  packages/ui/src/views/repo/components/commit-selector/commit-selector-dropdown.tsx
  packages/ui/src/views/repo/components/commit-selector/commit-selector.tsx
  packages/ui/src/views/repo/components/commit-selector/index.ts
  packages/ui/src/views/repo/components/commit-selector/types.ts
  packages/ui/src/views/repo/components/index.ts
  packages/ui/src/views/repo/pull-request/compare/pull-request-compare-page.tsx
  packages/ui/src/views/repo/repo-commits/components/filter.tsx
  packages/ui/src/views/repo/repo-commits/index.tsx
  packages/ui/src/views/repo/repo.types.ts
  packages/ui/src/views/secrets/secrets-header.tsx
  packages/ui/src/views/user-management/components/page-components/actions/actions.tsx
  packages/ui/src/views/user-management/providers/search-provider/search-provider.tsx
  packages/ui/src/views/user-management/providers/search-provider/types.ts
Owners: none

Creat withTooltip HOC and add it to StackedListItem
  apps/portal/src/content/docs/components/stacked-list.mdx
  packages/ui/src/components/stacked-list.tsx
  packages/ui/src/components/tooltip.tsx
Owners: none

fixes
  packages/ui/tailwind-design-system.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Creat withTooltip HOC and add it to StackedListItem
  apps/portal/src/content/docs/components/tooltip.mdx
Owners: none
