Repository harness/canary, changes with the owners that CODEOWNERS names for each.
All owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io, srdjan.arsic@harness.io

fix secrets list empty state
  packages/ui/src/views/secrets/secrets-list/secrets-list-page.tsx
  packages/ui/src/views/secrets/secrets-list/secrets-list.tsx
  packages/ui/src/views/secrets/secrets-list/types.ts
Owners: none

chore: bump version to 0.0.129
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

add focus return for drawer
  apps/design-system/src/subjects/views/execution/pipeline-execution-graph.tsx
  apps/portal/src/content/docs/components/drawer.mdx
  packages/ui/src/components/dialog.tsx
  packages/ui/src/components/drawer/DrawerContent.tsx
  packages/ui/src/components/drawer/DrawerRoot.tsx
  packages/ui/src/components/drawer/DrawerTrigger.tsx
  packages/ui/src/components/drawer/index.ts
  packages/ui/src/components/index.ts
  packages/ui/src/views/sidebar-view/sidebar-view.tsx
Owners: none

Tag creation with comma spearated
  packages/ui/src/components/multi-select.tsx
Owners: none

ui package version bump (#2153)
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

refactor: simplify icon and logo size definitions in TabsTrigger component
  packages/ui/src/components/tabs.tsx
Owners: none

fix: rename onClick prop to onChange in PullRequestListHeader and PullRequestList components
  packages/ui/src/views/repo/pull-request/components/pull-request-list-header.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-list.tsx
Owners: none

Replace button group with tabs for pull request filtering (#2144)
  apps/portal/src/content/docs/components/skeleton.mdx
  packages/ui/src/components/skeletons/skeleton-list.tsx
  packages/ui/src/components/tabs.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-list-header.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-list.tsx
  packages/ui/src/views/repo/pull-request/pull-request-list-page.tsx
  packages/ui/src/views/repo/pull-request/pull-request.types.ts
Owners: none

feat: added support for saved filter in filters pkg (#10457)
  packages/filters/src/Filters.tsx
  packages/filters/src/index.ts
  packages/filters/src/types.ts
  packages/filters/src/utils.ts
Owners: none

fix: connector input, chore: bump UI (#10459)
  apps/design-system/src/subjects/views/secrets/secret-input.tsx
  packages/ui/src/views/platform/input-reference-component.tsx
Owners: none

removed duplicate code
  packages/ui/src/components/multi-select.tsx
  packages/ui/src/utils/__tests__/stringUtils.test.ts
  packages/ui/src/utils/stringUtils.ts
Owners: none

fix: remove isDialogTrigger from button props in NoData component
  packages/ui/src/components/no-data.tsx
Owners: none

fix: update button active state styles
  packages/ui/tailwind-utils-config/components/button.ts
Owners: none

feat: reset pagination on filter change and search in SecretsListPage
  packages/ui/src/views/secrets/secrets-list/secrets-list-page.tsx
  packages/ui/src/views/secrets/secrets-list/types.ts
Owners: none

fix: ensure isDirtyList prop is set to false in SecretsListPage
  apps/design-system/src/subjects/views/secrets/secrets-list.tsx
Owners: none

feat: enhance secrets list UI
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/views/secrets/secrets-list/secrets-list-page.tsx
  packages/ui/src/views/secrets/secrets-list/secrets-list.tsx
  packages/ui/src/views/secrets/secrets-list/types.ts
Owners: none

fix secrets list empty state
  packages/ui/src/views/secrets/secrets-list/secrets-list-page.tsx
  packages/ui/src/views/secrets/secrets-list/secrets-list.tsx
  packages/ui/src/views/secrets/secrets-list/types.ts
Owners: none

Integrate dialog trigger for all pages (#2155)
  packages/ui/src/components/no-data.tsx
  packages/ui/src/views/pipelines/pipeline-list/pipeline-list-page.tsx
  packages/ui/src/views/pipelines/pipeline-list/pipeline-list.tsx
Owners: none

chore: bump version to 0.0.130
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Update secrets list UI (#2146)
  apps/design-system/src/subjects/views/secrets/secrets-list.tsx
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/package.json
  packages/ui/src/views/secrets/secrets-list/secrets-list-page.tsx
  packages/ui/src/views/secrets/secrets-list/secrets-list.tsx
  packages/ui/src/views/secrets/secrets-list/types.ts
  packages/ui/tailwind-utils-config/components/button.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix: fix tag removal and value assignment issues in MultiSelect
  packages/ui/src/components/multi-select.tsx
Owners: none

Fix focus styles for components to have consistent focus (#10463)
  packages/ui/src/components/multi-select.tsx
  packages/ui/src/views/platform/input-reference-component.tsx
  packages/ui/tailwind-utils-config/components/card.ts
  packages/ui/tailwind-utils-config/components/multi-select.ts
  packages/ui/tailwind-utils-config/components/table-v2.ts
Owners: none

feat: added support for saved filter in filters pkg (#10461)
  packages/ui/locales/en/component.json
  packages/ui/locales/fr/component.json
  packages/ui/src/components/filters/utils.ts
  packages/ui/src/utils/schema.ts
  packages/ui/src/views/components/FilterGroup.tsx
  packages/ui/src/views/components/SavedFilters.tsx
  packages/ui/src/views/components/save-filters-dialog.tsx
Owners: none

key handler to match the transformer logic
  packages/ui/src/components/multi-select.tsx
Owners: none

feat: add pagination support to base entity ref component (#10462)
  apps/design-system/src/subjects/views/secrets/secrets.tsx
  packages/ui/src/views/platform/entity-reference-component.tsx
  packages/ui/src/views/secrets/secret-reference/secret-reference.tsx
Owners: none

chore: bump ui (#10464)
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

add metadata flags to csvToObject and fix URL splitting
  packages/ui/src/components/multi-select.tsx
  packages/ui/src/utils/__tests__/stringUtils.test.ts
  packages/ui/src/utils/stringUtils.ts
Owners: none

fix: secret type and reference showfilter (#10465)
  packages/ui/src/views/platform/entity-reference-component.tsx
  packages/ui/src/views/secrets/secret-entity-form.tsx
  packages/ui/src/views/secrets/secret-reference/secret-reference.tsx
Owners: none

feat: redesign pull-request-timeline-item - add header for first comment
  packages/ui/src/components/node-group.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-timeline-item.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/regular-and-code-comment.tsx
Owners: none

fix: bump ui package (#10466)
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix: pr-diff view conversation
  packages/ui/src/views/repo/pull-request/components/pull-request-diff-viewer.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-timeline-item.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/regular-and-code-comment.tsx
Owners: none

Some minor UI components updates for PlatformUI
  apps/portal/src/content/docs/components/card-select.mdx
  apps/portal/src/content/docs/components/card.mdx
  packages/ui/package.json
  packages/ui/src/components/card-select.tsx
  packages/ui/src/components/card.tsx
  packages/ui/tailwind-utils-config/components/card-select.ts
  packages/ui/tailwind-utils-config/components/card.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Fixing focus loss in Drawer/Dialog when using the Form package
  packages/forms/package.json
  packages/forms/src/hook-form.tsx
  packages/forms/src/index.ts
  packages/forms/src/utils/utils.ts
Owners: srdjan.arsic@harness.io

Fixing focus loss in Drawer/Dialog when using the Form package (#2156)
  packages/forms/package.json
  packages/forms/src/hook-form.tsx
  packages/forms/src/index.ts
  packages/forms/src/utils/utils.ts
Owners: srdjan.arsic@harness.io

add focus return for drawer
  apps/design-system/src/subjects/views/execution/pipeline-execution-graph.tsx
  apps/portal/src/content/docs/components/alert-dialog.mdx
  apps/portal/src/content/docs/components/drawer.mdx
  packages/ui/src/components/dialog.tsx
  packages/ui/src/components/drawer/DrawerContent.tsx
  packages/ui/src/components/drawer/DrawerRoot.tsx
  packages/ui/src/components/drawer/DrawerTrigger.tsx
  packages/ui/src/components/drawer/index.ts
  packages/ui/src/components/index.ts
  packages/ui/src/views/sidebar-view/sidebar-view.tsx
Owners: none

fix drawer fade
  packages/ui/tailwind-utils-config/components/drawer.ts
Owners: none

fix: updated ui-lib-reset class
  apps/design-system/src/pages/view-preview/view-preview.tsx
  apps/gitness/src/AppMFE.tsx
  apps/gitness/src/styles.css
  apps/gitness/tailwind.config.js
  packages/ui/postcss.config.js
  packages/ui/src/styles/styles.css
Owners: abhinav.rastogi@harness.io, vardan.bansal@harness.io, kevin.nagurski@harness.io, pranesh.g@harness.io

fix: updated ui-lib-reset class
  apps/design-system/src/pages/view-preview/view-preview.tsx
  apps/gitness/src/AppMFE.tsx
  apps/gitness/src/styles.css
  apps/gitness/tailwind.config.js
  packages/ui/postcss.config.js
  packages/ui/src/styles/styles.css
Owners: abhinav.rastogi@harness.io, vardan.bansal@harness.io, kevin.nagurski@harness.io, pranesh.g@harness.io

Added Tag filter for Secrets
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/components/filters/types.ts
  packages/ui/src/views/secrets/secrets-list/filter-options.tsx
Owners: none

Fix stacked-list with Button
  packages/ui/src/components/stacked-list.tsx
Owners: none

CODEOWNERS:

# Global configs
.github/ abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.eslintrc.js abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.prettierrc.yml abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Common ownership for shared config files
/packages/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/packages/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Apps
/apps/gitness/* abhinav.rastogi@harness.io vardan.bansal@harness.io
/apps/portal/* kevin.nagurski@harness.io pranesh.g@harness.io abhinav.rastogi@harness.io vardan.bansal@harness.io

# Packages with shared ownership
/packages/ui/* abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io pranesh.g@harness.io

# Packages with individual owners
/packages/forms/* srdjan.arsic@harness.io
/packages/unified-pipeline/* srdjan.arsic@harness.io
/packages/yaml-editor/* srdjan.arsic@harness.io
/packages/core-design-system/* pranesh.g@harness.io
