Repository harness/canary, changes with the owners that CODEOWNERS names for each.
All owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io, srdjan.arsic@harness.io

fix: Add truncate prop to Text components in FileLastChangeBar and adjust className for StackedList.Field
  packages/ui/src/components/stacked-list.tsx
  packages/ui/src/views/repo/components/file-last-change-bar.tsx
Owners: none

refactor: Enhance FilterGroup with search functionality and improve RepoList component layout
  packages/ui/src/views/components/FilterGroup.tsx
  packages/ui/src/views/repo/repo-list/repo-list-page.tsx
  packages/ui/src/views/repo/repo-list/repo-list.tsx
Owners: none

fix: returned search types
  packages/ui/src/hooks/use-debounce-search.ts
  packages/ui/src/views/connectors/connector-details/connector-details-references.tsx
  packages/ui/src/views/pipelines/execution-list/execution-list-page.tsx
  packages/ui/src/views/pipelines/pipeline-list/pipeline-list-page.tsx
  packages/ui/src/views/platform/entity-reference-component.tsx
  packages/ui/src/views/project/project-members/projects-member-page.tsx
  packages/ui/src/views/repo/pull-request/components/labels/label-value-selector.tsx
  packages/ui/src/views/repo/repo-list/repo-list.tsx
  packages/ui/src/views/secrets/secrets-list/secrets-list-page.tsx
  packages/ui/src/views/user-management/components/page-components/actions/actions.tsx
  packages/ui/src/views/user-management/providers/search-provider/types.ts
Owners: none

refactor: Update components and styles for repo list page
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/components/illustration/images/no-data-repository-light.svg
  packages/ui/src/components/illustration/images/no-data-repository.svg
  packages/ui/src/components/no-data.tsx
  packages/ui/src/components/skeletons/skeleton-list.tsx
  packages/ui/src/components/sorts/sort-select.tsx
  packages/ui/src/components/stacked-list.tsx
  packages/ui/src/components/toggle.tsx
  packages/ui/src/hooks/use-debounce-search.ts
  packages/ui/src/views/components/FilterGroup.tsx
  packages/ui/src/views/connectors/connector-details/connector-details-references.tsx
  packages/ui/src/views/pipelines/execution-list/execution-list-page.tsx
  packages/ui/src/views/pipelines/execution-list/execution-list.tsx
  packages/ui/src/views/pipelines/pipeline-list/pipeline-list-page.tsx
  packages/ui/src/views/pipelines/pipeline-list/pipeline-list.tsx
  packages/ui/src/views/platform/entity-reference-component.tsx
  packages/ui/src/views/project/project-members/projects-member-page.tsx
  packages/ui/src/views/repo/pull-request/components/labels/label-value-selector.tsx
  packages/ui/src/views/repo/repo-list/repo-list-page.tsx
  packages/ui/src/views/repo/repo-list/repo-list.tsx
  packages/ui/src/views/repo/repo-settings/components/repo-settings-general-rules.tsx
  packages/ui/src/views/secrets/secrets-list/secrets-list-page.tsx
  packages/ui/src/views/user-management/components/page-components/actions/actions.tsx
  packages/ui/src/views/user-management/providers/search-provider/types.ts
  packages/ui/tailwind-utils-config/components/button.ts
Owners: none

fix: some fixes
  packages/ui/src/components/sorts/sort-select.tsx
  packages/ui/src/views/repo/repo-list/repo-list-page.tsx
Owners: none

fix: Add resetFilters method to FilterGroupRef and update references in SandboxRepoListPage
  packages/ui/src/views/components/FilterGroup.tsx
  packages/ui/src/views/repo/repo-list/repo-list-page.tsx
Owners: none

fix: PR panel codeowners, default reviewers, checks section design fix (#10047)
  apps/gitness/src/pages-v2/pull-request/pull-request-data-provider.tsx
  packages/ui/src/components/commit-suggestions-dialog/commit-suggestions-dialog.tsx
  packages/ui/src/views/repo/pull-request/compare/components/pull-request-compare-diff-list.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-accordian.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-diff-viewer.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-panel.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/components/code-owners-section.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/components/default-reviewers-section.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/pull-request-checks-section.tsx
Owners: none

fix: updated design issues for commits-list for both compare and pr page
  packages/ui/src/components/commit-copy-actions.tsx
  packages/ui/src/components/node-group.tsx
  packages/ui/src/views/layouts/PullRequestLayout.tsx
  packages/ui/src/views/repo/components/commits-list.tsx
  packages/ui/src/views/repo/pull-request/commits/pull-request-commits.tsx
  packages/ui/src/views/repo/pull-request/compare/pull-request-compare-page.tsx
Owners: none

fix: labels dropdown on PR page (#10013)
  apps/gitness/src/pages-v2/pull-request/hooks/use-pr-conversation-labels.ts
  apps/gitness/src/pages-v2/pull-request/pull-request-conversation.tsx
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/views/labels/types.ts
  packages/ui/src/views/repo/pull-request/components/labels/label-value-selector.tsx
  packages/ui/src/views/repo/pull-request/components/labels/pull-request-labels-header.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-side-bar.tsx
Owners: none

bump ui version (#10046)
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix: updated design issues for commits-list for both compare and pr page (#10048)
  packages/ui/src/components/commit-copy-actions.tsx
  packages/ui/src/components/node-group.tsx
  packages/ui/src/views/layouts/PullRequestLayout.tsx
  packages/ui/src/views/repo/components/commits-list.tsx
  packages/ui/src/views/repo/pull-request/commits/pull-request-commits.tsx
  packages/ui/src/views/repo/pull-request/compare/pull-request-compare-page.tsx
Owners: none

fix: updated design issues for commits-list for both compare and pr page (#10048)
  packages/ui/src/components/commit-copy-actions.tsx
  packages/ui/src/components/node-group.tsx
  packages/ui/src/views/layouts/PullRequestLayout.tsx
  packages/ui/src/views/repo/components/commits-list.tsx
  packages/ui/src/views/repo/pull-request/commits/pull-request-commits.tsx
  packages/ui/src/views/repo/pull-request/compare/pull-request-compare-page.tsx
Owners: none

bump ui version (#10046)
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix: labels dropdown on PR page (#10013)
  apps/gitness/src/pages-v2/pull-request/hooks/use-pr-conversation-labels.ts
  apps/gitness/src/pages-v2/pull-request/pull-request-conversation.tsx
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/views/labels/types.ts
  packages/ui/src/views/repo/pull-request/components/labels/label-value-selector.tsx
  packages/ui/src/views/repo/pull-request/components/labels/pull-request-labels-header.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-side-bar.tsx
Owners: none

Fix video upload and preview (#10045)
  apps/gitness/src/pages-v2/pull-request/hooks/usePRCommonInteractions.ts
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-comment-box.tsx
Owners: none

fix: PR panel codeowners, default reviewers, checks section design fix (#10047)
  apps/gitness/src/pages-v2/pull-request/pull-request-data-provider.tsx
  packages/ui/src/components/commit-suggestions-dialog/commit-suggestions-dialog.tsx
  packages/ui/src/views/repo/pull-request/compare/components/pull-request-compare-diff-list.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-accordian.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-diff-viewer.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-panel.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/components/code-owners-section.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/components/default-reviewers-section.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/pull-request-checks-section.tsx
Owners: none

fix: time-ago-card - 1px misalignment (#10044)
  packages/ui/tailwind-utils-config/components/time-ago-card.ts
Owners: none

convert kebab-case inputs to camelCase for CEL eval (#10028)
  packages/ui/src/views/run-pipeline/utils/__tests__/inputs-utils.test.tsx
  packages/ui/src/views/run-pipeline/utils/inputs-utils.ts
Owners: none

Edit README.md
  README.md
Owners: none

Update readme
  README.md
Owners: none

Update CONTRIBUTOR_LICENSE_AGREEMENT.md
  CONTRIBUTOR_LICENSE_AGREEMENT.md
Owners: none

Update readme (#10052)
  README.md
Owners: none

Update CONTRIBUTOR_LICENSE_AGREEMENT.md (#2032)
  CONTRIBUTOR_LICENSE_AGREEMENT.md
Owners: none

Update readme (#10054)
  README.md
Owners: none

Update readme (#10052)
  README.md
Owners: none

Update readme (#10054)
  README.md
Owners: none

fix: [CHAOS-9501]: Is sticky prop respected while using removeFitlerCallback (#10016)
  packages/filters/package.json
  packages/filters/src/Filters.tsx
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io

fix: gitRefs for branches/tags/commits - backward compatible + file path in PR changes accordion + new file creation on empty repo (#10053)
  apps/gitness/src/components-v2/file-content-viewer.tsx
  apps/gitness/src/components-v2/file-editor.tsx
  apps/gitness/src/hooks/useCodePathDetails.ts
  apps/gitness/src/hooks/useRepoCommits.ts
  apps/gitness/src/pages-v2/pull-request/pull-request-changes.tsx
  apps/gitness/src/pages-v2/pull-request/pull-request-compare.tsx
  apps/gitness/src/routes.tsx
  apps/gitness/src/utils/__tests__/git-utils.test.ts
  apps/gitness/src/utils/git-utils.ts
  packages/ui/src/views/repo/repo-summary/repo-empty-view.tsx
Owners: none

Fix PR description functionality
  packages/ui/src/components/markdown-viewer/index.tsx
  packages/ui/src/views/repo/pull-request/compare/components/pull-request-compare-form.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-comment-box.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-description-box.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-timeline-item.tsx
Owners: none

feat: match design on webhook execution details (#10057)
  packages/ui/src/views/repo/webhooks/webhook-executions/components/webhook-executions-editor-control-bar.tsx
  packages/ui/src/views/repo/webhooks/webhook-executions/repo-webhook-execution-details-page.tsx
Owners: none

Fix PR description functionality (#10058)
  packages/ui/src/components/markdown-viewer/index.tsx
  packages/ui/src/views/repo/pull-request/compare/components/pull-request-compare-form.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-comment-box.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-description-box.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-timeline-item.tsx
Owners: none

Fixed Author filter open and closed conditions (#10055)
  apps/gitness/src/pages-v2/project/pull-request/pull-request-list.tsx
  apps/gitness/src/pages-v2/pull-request/pull-request-list.tsx
  packages/ui/src/views/repo/pull-request/pull-request-list-page.tsx
Owners: none

fix: respect bypass checkbox (#10060)
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-panel.tsx
Owners: none

Fix "Files" tab empty state and "Create file" (#10059)
  apps/design-system/src/subjects/views/repo-files/components/repo-files-wrapper.tsx
  apps/gitness/src/pages-v2/repo/repo-code.tsx
  apps/gitness/src/pages-v2/repo/repo-sidebar.tsx
  packages/ui/src/views/repo/components/branch-info-bar.tsx
  packages/ui/src/views/repo/repo-files/index.tsx
Owners: none

feat: search page design match (#10035)
  apps/design-system/src/subjects/views/search-page/search-page-preview.tsx
  apps/gitness/src/pages-v2/search-page.tsx
  packages/ui/src/components/card.tsx
  packages/ui/src/views/search/components/search-results-list.tsx
  packages/ui/src/views/search/search-page.tsx
Owners: none

feat: match branch-rules and tag-rules to design (#10061)
  packages/ui/src/views/repo/repo-branch-rules/components/repo-branch-rules-fields.tsx
  packages/ui/src/views/repo/repo-branch-rules/repo-branch-settings-rules-page.tsx
  packages/ui/src/views/repo/repo-tag-rules/components/repo-tag-rules-fields.tsx
  packages/ui/src/views/repo/repo-tag-rules/repo-tag-settings-rules-page.tsx
Owners: none

Update page repo list and related components (#2023)
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/components/illustration/images/no-data-repository-light.svg
  packages/ui/src/components/illustration/images/no-data-repository.svg
  packages/ui/src/components/no-data.tsx
  packages/ui/src/components/skeletons/skeleton-list.tsx
  packages/ui/src/components/stacked-list.tsx
  packages/ui/src/components/toggle.tsx
  packages/ui/src/views/components/FilterGroup.tsx
  packages/ui/src/views/pipelines/execution-list/execution-list.tsx
  packages/ui/src/views/pipelines/pipeline-list/pipeline-list.tsx
  packages/ui/src/views/repo/components/file-last-change-bar.tsx
  packages/ui/src/views/repo/repo-list/repo-list-page.tsx
  packages/ui/src/views/repo/repo-list/repo-list.tsx
  packages/ui/src/views/repo/repo-settings/components/repo-settings-general-rules.tsx
  packages/ui/tailwind-utils-config/components/button.ts
Owners: none

Fix PR resolver name issue (#10065)
  packages/ui/src/views/repo/pull-request/components/pull-request-diff-viewer.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-system-comments.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-timeline-item.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/regular-and-code-comment.tsx
Owners: none

fix: dropdown menu with description to match mocks (#10062)
  packages/ui/src/components/dropdown-menu.tsx
Owners: none

fix: diff view width expansion bug + PR pages design fixes (#10063)
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/styles/styles.css
  packages/ui/src/views/repo/pull-request/components/pull-request-accordian.tsx
  packages/ui/src/views/repo/pull-request/components/reviewers/pull-request-reviewers-item.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-branch-badge.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-timeline-item.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/regular-and-code-comment.tsx
Owners: none

CODEOWNERS:

# Global configs
.github/ abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.eslintrc.js abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.prettierrc.yml abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Common ownership for shared config files
/packages/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/packages/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Apps
/apps/gitness/* abhinav.rastogi@harness.io vardan.bansal@harness.io
/apps/portal/* kevin.nagurski@harness.io pranesh.g@harness.io abhinav.rastogi@harness.io vardan.bansal@harness.io

# Packages with shared ownership
/packages/ui/* abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io pranesh.g@harness.io

# Packages with individual owners
/packages/forms/* srdjan.arsic@harness.io
/packages/unified-pipeline/* srdjan.arsic@harness.io
/packages/yaml-editor/* srdjan.arsic@harness.io
/packages/core-design-system/* pranesh.g@harness.io
