Repository harness/canary, changes with the owners that CODEOWNERS names for each.
All owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io, srdjan.arsic@harness.io

add users pagination in table
  packages/ui/src/views/user-management/components/main.tsx
  packages/ui/src/views/user-management/components/page-components/content/components/users-list/users-list.tsx
  packages/ui/src/views/user-management/components/page-components/content/content.tsx
  packages/ui/src/views/user-management/components/page-components/content/types.ts
Owners: none

add member pagination in table
  packages/ui/src/views/project/project-members/components/member-list.tsx
  packages/ui/src/views/project/project-members/components/project-member-list.tsx
Owners: none

add rule pagination in stacked list
  packages/ui/src/views/project/project-rules/project-rules-page.tsx
  packages/ui/src/views/repo/repo-settings/components/repo-settings-general-rules.tsx
Owners: none

add webhooks pagination in table
  packages/ui/src/views/repo/webhooks/webhook-executions/repo-webhook-executions-list-page.tsx
  packages/ui/src/views/repo/webhooks/webhook-list/components/repo-webhook-list.tsx
  packages/ui/src/views/repo/webhooks/webhook-list/repo-webhook-list-page.tsx
Owners: none

fix time-ago text wrapping (#2231)
  packages/ui/src/components/time-ago-card.tsx
  packages/ui/tailwind-utils-config/components/time-ago-card.ts
Owners: none

Add external prop to Link component
  apps/portal/src/content/docs/components/link.mdx
  packages/ui/src/components/alert/AlertLink.tsx
  packages/ui/src/components/link.tsx
  packages/ui/src/components/popover.tsx
  packages/ui/src/views/project/create-project-page.tsx
Owners: none

replace renderCreateButton to CreateButton component
  packages/ui/src/views/repo/repo-settings/components/repo-settings-general-rules.tsx
Owners: none

Add external prop to Link component (#2243)
  apps/portal/src/content/docs/components/link.mdx
  packages/ui/src/components/alert/AlertLink.tsx
  packages/ui/src/components/link.tsx
  packages/ui/src/components/popover.tsx
  packages/ui/src/views/project/create-project-page.tsx
Owners: none

Bump UI
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Bump UI (#2244)
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Update create rule button (#2230)
  packages/ui/src/views/repo/repo-settings/components/repo-settings-general-rules.tsx
Owners: none

sub-item updated
  packages/core-design-system/design-tokens/components/desktop/base/sidebar.json
Owners: none

caps typography updated
  packages/core-design-system/design-tokens/breakpoint/desktop.json
Owners: none

sidebar items value update
  packages/core-design-system/design-tokens/components/desktop/base/sidebar.json
Owners: none

fix: [CODE-4696] history api call and edit flow for encoded files (#10545)
  apps/gitness/src/components-v2/file-content-viewer.tsx
  apps/gitness/src/components-v2/file-editor.tsx
  packages/ui/src/utils/utils.ts
Owners: none

fix: [CODE-4509] refactor base64 decode logic (#10544)
  apps/gitness/src/utils/git-utils.ts
Owners: none

group label color update
  packages/core-design-system/design-tokens/mode/dark/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/default-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast.json
  packages/core-design-system/design-tokens/mode/light/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/default-protanopia.json
  packages/core-design-system/design-tokens/mode/light/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/default.json
  packages/core-design-system/design-tokens/mode/light/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast.json
Owners: none

add user group tooltip to reviewrs list (#2228)
  apps/portal/src/content/docs/components/avatar.mdx
  apps/portal/src/content/docs/components/dropdown-menu.mdx
  packages/ui/src/components/avatar.tsx
  packages/ui/src/components/dropdown-menu.tsx
  packages/ui/src/components/icon-v2/icon-v2.tsx
  packages/ui/src/components/tooltip.tsx
  packages/ui/src/views/repo/pull-request/components/reviewers/pull-request-reviewers-header.tsx
  packages/ui/src/views/repo/pull-request/components/reviewers/pull-request-reviewers-item.tsx
  packages/ui/src/views/repo/pull-request/details/pull-request-details-types.ts
Owners: none

caps tracking updated
  packages/core-design-system/design-tokens/breakpoint/desktop.json
Owners: none

Updated Secret list page names (#10546)
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/package.json
  packages/ui/src/views/secrets/secrets-list/secrets-list.tsx
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix: revert PR 2224 - accordion clickable (#10548)
  apps/portal/src/content/docs/components/data-display/accordion.mdx
  packages/ui/package.json
  packages/ui/src/components/accordion/__tests__/accordion.test.tsx
  packages/ui/src/components/accordion/accordion.tsx
  packages/ui/src/components/file-explorer.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/pull-request-changes-section.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/pull-request-merge-section.tsx
  packages/ui/tailwind-utils-config/components/accordion.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

add css utilities to the portal
  apps/portal/astro.config.ts
  apps/portal/src/components/MainColorPalette.astro
  apps/portal/src/components/bg-color-palette.tsx
  apps/portal/src/components/spacings-table.tsx
  apps/portal/src/components/text-color-palette.tsx
  apps/portal/src/content/docs/customization/bg-colors.mdx
  apps/portal/src/content/docs/customization/overview.mdx
  apps/portal/src/content/docs/customization/spacings.mdx
  apps/portal/src/content/docs/customization/text-colors.mdx
  apps/portal/src/content/docs/foundations/colors.mdx
  apps/portal/src/content/docs/foundations/spacings.mdx
  packages/ui/tailwind-design-system.ts
Owners: kevin.nagurski@harness.io, pranesh.g@harness.io, abhinav.rastogi@harness.io, vardan.bansal@harness.io

feat: PR diff single file view mode if PR has more than 150 files
  packages/ui/src/views/repo/pull-request/details/components/changes/pull-request-changes.tsx
Owners: none

feat: PR diff single file view mode if PR has more than 150 files
  packages/ui/src/views/repo/pull-request/details/components/changes/pull-request-changes-single-file-view.tsx
  packages/ui/src/views/repo/pull-request/details/components/changes/pull-request-changes.tsx
  packages/ui/src/views/repo/pull-request/details/pull-request-utils.ts
Owners: none

add secrets pagination in table and some fixes
  packages/ui/src/components/stacked-list.tsx
  packages/ui/src/views/labels/components/labels-list-view.tsx
  packages/ui/src/views/labels/labels-list-page.tsx
  packages/ui/src/views/repo/pull-request/pull-request.types.ts
  packages/ui/src/views/repo/repo-settings/components/repo-settings-general-rules.tsx
  packages/ui/src/views/secrets/secret-details/secret-details-activity-list.tsx
  packages/ui/src/views/secrets/secret-details/secret-details-activity-page.tsx
  packages/ui/src/views/secrets/secret-details/secret-details-references-list.tsx
  packages/ui/src/views/secrets/secret-details/secret-details-references-page.tsx
  packages/ui/src/views/secrets/secrets-list/secrets-list-page.tsx
  packages/ui/src/views/secrets/secrets-list/secrets-list.tsx
  packages/ui/src/views/secrets/secrets-list/types.ts
Owners: none

feat: PR diff single file view mode if PR has more than 150 files
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/views/repo/pull-request/details/components/changes/pull-request-changes-single-file-view.tsx
Owners: none

chore: move fontSize classes from extend tailwind and remove old classes
  packages/ui/src/utils/cn.ts
  packages/ui/tailwind-design-system.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Fix Not found view (#2242)
  apps/design-system/src/pages/view-preview/view-preview.tsx
  packages/ui/src/views/not-found-page.tsx
Owners: none

fixes
  apps/portal/src/content/docs/components/data-display/accordion.mdx
Owners: none

add accordion trigger revision
  apps/portal/src/content/docs/components/data-display/accordion.mdx
  packages/ui/src/components/accordion/__tests__/accordion.test.tsx
  packages/ui/src/components/accordion/accordion.tsx
  packages/ui/src/components/file-explorer.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/pull-request-changes-section.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/pull-request-merge-section.tsx
  packages/ui/tailwind-utils-config/components/accordion.ts
Owners: none

fixes
  packages/ui/src/components/file-explorer.tsx
  packages/ui/tailwind-utils-config/components/tree.ts
Owners: none

chore: move fontSize classes from extend tailwind and remove old classes (#2246)
  packages/ui/src/utils/cn.ts
  packages/ui/tailwind-design-system.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Added view details option in secret list page (#10547)
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/views/secrets/secrets-list/secrets-list.tsx
Owners: none

verison bump (#10549)
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Core Form & Interaction Components(18)
  packages/ui/config/vitest-setup.ts
  packages/ui/src/components/__tests__/alert-dialog.test.tsx
  packages/ui/src/components/__tests__/button.test.tsx
  packages/ui/src/components/__tests__/calendar.test.tsx
  packages/ui/src/components/__tests__/checkbox.test.tsx
  packages/ui/src/components/__tests__/command.test.tsx
  packages/ui/src/components/__tests__/dialog.test.tsx
  packages/ui/src/components/__tests__/dropdown-menu.test.tsx
  packages/ui/src/components/__tests__/form.test.tsx
  packages/ui/src/components/__tests__/input-otp.test.tsx
  packages/ui/src/components/__tests__/input.test.tsx
  packages/ui/src/components/__tests__/multi-select.test.tsx
  packages/ui/src/components/__tests__/popover.test.tsx
  packages/ui/src/components/__tests__/radio.test.tsx
  packages/ui/src/components/__tests__/switch.test.tsx
  packages/ui/src/components/__tests__/tag.test.tsx
  packages/ui/src/components/__tests__/tooltip.test.tsx
  packages/ui/src/components/copy-button/__tests__/copy-button.test.tsx
  packages/ui/src/components/form-primitives/__tests__/select.test.tsx
  packages/ui/src/components/form-primitives/__tests__/textarea.test.tsx
Owners: none

fixed prettier
  packages/ui/src/components/__tests__/alert-dialog.test.tsx
  packages/ui/src/components/__tests__/calendar.test.tsx
  packages/ui/src/components/__tests__/checkbox.test.tsx
  packages/ui/src/components/__tests__/command.test.tsx
  packages/ui/src/components/__tests__/dialog.test.tsx
  packages/ui/src/components/__tests__/dropdown-menu.test.tsx
  packages/ui/src/components/__tests__/form.test.tsx
  packages/ui/src/components/__tests__/input-otp.test.tsx
  packages/ui/src/components/__tests__/input.test.tsx
  packages/ui/src/components/__tests__/multi-select.test.tsx
  packages/ui/src/components/__tests__/popover.test.tsx
  packages/ui/src/components/__tests__/radio.test.tsx
  packages/ui/src/components/__tests__/switch.test.tsx
  packages/ui/src/components/__tests__/tag.test.tsx
  packages/ui/src/components/__tests__/tooltip.test.tsx
  packages/ui/src/components/form-primitives/__tests__/select.test.tsx
  packages/ui/src/components/form-primitives/__tests__/textarea.test.tsx
Owners: none

Medium–Low Priority — Actions & Buttons
  packages/ui/src/components/__tests__/branch-tag.test.tsx
  packages/ui/src/components/__tests__/button-group.test.tsx
  packages/ui/src/components/__tests__/button-layout.test.tsx
  packages/ui/src/components/__tests__/commit-copy-actions.test.tsx
  packages/ui/src/components/__tests__/copy-tag.test.tsx
  packages/ui/src/components/__tests__/draggable-card.test.tsx
  packages/ui/src/components/__tests__/favorite.test.tsx
  packages/ui/src/components/__tests__/file-toolbar-actions.test.tsx
  packages/ui/src/components/__tests__/list-actions.test.tsx
  packages/ui/src/components/__tests__/more-actions-tooltip.test.tsx
  packages/ui/src/components/__tests__/reset-tag.test.tsx
  packages/ui/src/components/__tests__/split-button.test.tsx
  packages/ui/src/components/__tests__/toggle-group.test.tsx
  packages/ui/src/components/__tests__/toggle.test.tsx
Owners: none

Display & Layout test cases
  packages/ui/config/vitest-setup.ts
  packages/ui/src/components/__tests__/avatar.test.tsx
  packages/ui/src/components/__tests__/breadcrumb.test.tsx
  packages/ui/src/components/__tests__/counter-badge.test.tsx
  packages/ui/src/components/__tests__/link.test.tsx
  packages/ui/src/components/__tests__/no-data.test.tsx
  packages/ui/src/components/__tests__/progress.test.tsx
  packages/ui/src/components/__tests__/scroll-area.test.tsx
  packages/ui/src/components/__tests__/separator.test.tsx
  packages/ui/src/components/__tests__/spacer.test.tsx
  packages/ui/src/components/__tests__/text.test.tsx
Owners: none

Fixed prettier
  packages/ui/config/vitest-setup.ts
  packages/ui/src/components/__tests__/avatar.test.tsx
  packages/ui/src/components/__tests__/breadcrumb.test.tsx
  packages/ui/src/components/__tests__/checkbox.test.tsx
  packages/ui/src/components/__tests__/copy-tag.test.tsx
  packages/ui/src/components/__tests__/counter-badge.test.tsx
  packages/ui/src/components/__tests__/draggable-card.test.tsx
  packages/ui/src/components/__tests__/favorite.test.tsx
  packages/ui/src/components/__tests__/file-toolbar-actions.test.tsx
  packages/ui/src/components/__tests__/input.test.tsx
  packages/ui/src/components/__tests__/link.test.tsx
  packages/ui/src/components/__tests__/list-actions.test.tsx
  packages/ui/src/components/__tests__/more-actions-tooltip.test.tsx
  packages/ui/src/components/__tests__/no-data.test.tsx
  packages/ui/src/components/__tests__/progress.test.tsx
  packages/ui/src/components/__tests__/reset-tag.test.tsx
  packages/ui/src/components/__tests__/scroll-area.test.tsx
  packages/ui/src/components/__tests__/separator.test.tsx
  packages/ui/src/components/__tests__/spacer.test.tsx
  packages/ui/src/components/__tests__/split-button.test.tsx
  packages/ui/src/components/__tests__/switch.test.tsx
  packages/ui/src/components/__tests__/text.test.tsx
  packages/ui/src/components/__tests__/toggle-group.test.tsx
  packages/ui/src/components/__tests__/toggle.test.tsx
Owners: none

add css utilities to the portal (#2245)
  apps/portal/astro.config.ts
  apps/portal/src/components/MainColorPalette.astro
  apps/portal/src/components/bg-color-palette.tsx
  apps/portal/src/components/spacings-table.tsx
  apps/portal/src/components/text-color-palette.tsx
  apps/portal/src/content/docs/customization/bg-colors.mdx
  apps/portal/src/content/docs/customization/overview.mdx
  apps/portal/src/content/docs/customization/spacings.mdx
  apps/portal/src/content/docs/customization/text-colors.mdx
  apps/portal/src/content/docs/foundations/colors.mdx
  apps/portal/src/content/docs/foundations/spacings.mdx
  packages/ui/tailwind-design-system.ts
Owners: kevin.nagurski@harness.io, pranesh.g@harness.io, abhinav.rastogi@harness.io, vardan.bansal@harness.io

CODEOWNERS:

# Global configs
.github/ abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.eslintrc.js abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.prettierrc.yml abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Common ownership for shared config files
/packages/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/packages/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Apps
/apps/gitness/* abhinav.rastogi@harness.io vardan.bansal@harness.io
/apps/portal/* kevin.nagurski@harness.io pranesh.g@harness.io abhinav.rastogi@harness.io vardan.bansal@harness.io

# Packages with shared ownership
/packages/ui/* abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io pranesh.g@harness.io

# Packages with individual owners
/packages/forms/* srdjan.arsic@harness.io
/packages/unified-pipeline/* srdjan.arsic@harness.io
/packages/yaml-editor/* srdjan.arsic@harness.io
/packages/core-design-system/* pranesh.g@harness.io
