Repository harness/canary, changes with the owners that CODEOWNERS names for each.
All owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io, srdjan.arsic@harness.io

fix: [CODE-4509] self review
  packages/ui/src/views/repo/components/target-repo-selector/target-repo-selector.tsx
Owners: none

feat: [CODE-4509] target repo selection for branch and tag rules
  apps/gitness/src/pages-v2/project/rules/project-branch-rules-container.tsx
  apps/gitness/src/pages-v2/project/rules/project-tag-rules-container.tsx
  apps/gitness/src/utils/repo-branch-rules-utils.ts
  apps/gitness/src/utils/repo-tag-rules-utils.ts
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/views/repo/components/target-repo-selector/target-repo-selector.tsx
  packages/ui/src/views/repo/repo-branch-rules/components/repo-branch-rules-fields.tsx
  packages/ui/src/views/repo/repo-branch-rules/repo-branch-settings-rules-page.tsx
  packages/ui/src/views/repo/repo-branch-rules/types.ts
  packages/ui/src/views/repo/repo-tag-rules/components/repo-tag-rules-fields.tsx
  packages/ui/src/views/repo/repo-tag-rules/repo-tag-settings-rules-page.tsx
  packages/ui/src/views/repo/repo-tag-rules/types.ts
  packages/ui/src/views/repo/utils.ts
Owners: none

add comment block design review for pr changes page
  packages/ui/src/styles/styles.css
  packages/ui/src/views/repo/pull-request/components/pull-request-accordian.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-diff-viewer.tsx
  packages/ui/src/views/repo/pull-request/details/components/changes/pull-request-changes.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-comment-box.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-timeline-item.tsx
Owners: none

fixes
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-timeline-item.tsx
Owners: none

fix: [CODE-4582] suffix mismatch in diff
  apps/gitness/src/pages-v2/pull-request/diff-utils.ts
  apps/gitness/src/pages-v2/pull-request/pull-request-changes.tsx
  apps/gitness/src/pages-v2/pull-request/pull-request-compare.tsx
  apps/gitness/src/pages-v2/repo/repo-commit-details-diff.tsx
Owners: none

feat: add setPageSize prop to pagination components in secret activity, references, and secrets list page
  packages/ui/src/views/secrets/secret-details/secret-details-activity-page.tsx
  packages/ui/src/views/secrets/secret-details/secret-details-references-page.tsx
  packages/ui/src/views/secrets/secrets-list/secrets-list-page.tsx
  packages/ui/src/views/secrets/secrets-list/types.ts
Owners: none

fix: repo patterns test type
  apps/gitness/src/utils/__tests__/repo-branch-rules-utils.test.ts
Owners: none

add check for undefined rbac permissions to RbacSplitButton (#10502)
  apps/gitness/src/framework/rbac/rbac-split-button.tsx
Owners: none

feat: [CODE-4509] target repo selection for branch and tag rules (#10504)
  apps/gitness/src/pages-v2/project/rules/project-branch-rules-container.tsx
  apps/gitness/src/pages-v2/project/rules/project-tag-rules-container.tsx
  apps/gitness/src/utils/__tests__/repo-branch-rules-utils.test.ts
  apps/gitness/src/utils/repo-branch-rules-utils.ts
  apps/gitness/src/utils/repo-tag-rules-utils.ts
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/views/repo/components/target-repo-selector/target-repo-selector.tsx
  packages/ui/src/views/repo/repo-branch-rules/components/repo-branch-rules-fields.tsx
  packages/ui/src/views/repo/repo-branch-rules/repo-branch-settings-rules-page.tsx
  packages/ui/src/views/repo/repo-branch-rules/types.ts
  packages/ui/src/views/repo/repo-tag-rules/components/repo-tag-rules-fields.tsx
  packages/ui/src/views/repo/repo-tag-rules/repo-tag-settings-rules-page.tsx
  packages/ui/src/views/repo/repo-tag-rules/types.ts
  packages/ui/src/views/repo/utils.ts
Owners: none

Changes page comment fixes (#2177)
  packages/ui/src/styles/styles.css
  packages/ui/src/views/repo/pull-request/components/pull-request-accordian.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-diff-viewer.tsx
  packages/ui/src/views/repo/pull-request/details/components/changes/pull-request-changes.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-comment-box.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-timeline-item.tsx
Owners: none

fix: [CODE-4542] upload attachments in PR replies on changes tab
  packages/ui/src/views/repo/pull-request/components/pull-request-diff-viewer.tsx
Owners: none

add time ago card refactoring
  apps/portal/src/content/docs/components/time-ago-card.mdx
  packages/ui/src/components/time-ago-card.tsx
Owners: none

Got rid of using useComponents with RBAC components on the Details Pages
  apps/design-system/src/subjects/views/templates/view-only.tsx
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/views/components/page.tsx
  packages/ui/src/views/layouts/SecretDetailsLayout.tsx
Owners: none

temp
  packages/ui/src/components/popover.tsx
Owners: none

fix focus issue at popover
  packages/ui/src/components/popover.tsx
Owners: none

add time ago card refactoring (#2186)
  apps/portal/src/content/docs/components/time-ago-card.mdx
  packages/ui/src/components/popover.tsx
  packages/ui/src/components/time-ago-card.tsx
Owners: none

make branch selector close on select
  apps/gitness/src/components-v2/branch-selector-container.tsx
  packages/ui/src/views/repo/components/branch-selector-v2/branch-selector.tsx
Owners: none

add delete button to reviewers list
  packages/ui/src/views/repo/pull-request/components/reviewers/pull-request-reviewers-item.tsx
  packages/ui/src/views/repo/pull-request/components/reviewers/pull-request-reviewers-list.tsx
  packages/ui/src/views/repo/pull-request/details/pull-request-details-types.ts
Owners: none

warning support for step template
  packages/ui/src/views/run-pipeline/types.ts
  packages/ui/src/views/run-pipeline/utils/inputs-utils.ts
Owners: none

fix monaco-editor types issue
  packages/ui/vite-base.config.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

add tooltip
  packages/ui/src/components/button.tsx
  packages/ui/src/views/repo/pull-request/components/labels/pull-request-labels-header.tsx
  packages/ui/src/views/repo/pull-request/components/reviewers/pull-request-reviewers-header.tsx
  packages/ui/src/views/repo/pull-request/components/reviewers/pull-request-reviewers-item.tsx
Owners: none

try 2
  packages/ui/vite-base.config.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix build issue
  packages/ui/package.json
  packages/ui/vite-base.config.ts
  pnpm-lock.yaml
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

upgrade monaco version
  apps/design-system/package.json
  apps/gitness/package.json
  apps/gitness/webpack.config.cjs
  packages/ui/package.json
  packages/yaml-editor/package.json
  pnpm-lock.yaml
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io, srdjan.arsic@harness.io

minor revert
  packages/ui/package.json
  packages/ui/vite-base.config.ts
  pnpm-lock.yaml
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Replace star to Pin (#10503)
  packages/ui/src/components/favorite.tsx
  packages/ui/src/views/platform/components/entity-reference-sort.tsx
  packages/ui/src/views/repo/repo-list/repo-list-page.tsx
Owners: none

Version bump (#10508)
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix sticky header on PR Changes page
  packages/ui/src/views/repo/pull-request/components/pull-request-accordian.tsx
Owners: none

add pr conversation design review
  apps/gitness/src/pages-v2/pull-request/pull-request-conversation.tsx
  apps/gitness/src/pages-v2/pull-request/pull-request-utils.ts
  packages/ui/src/components/markdown-viewer/index.tsx
  packages/ui/src/components/markdown-viewer/style.css
  packages/ui/src/views/repo/pull-request/components/labels/pull-request-labels-list.tsx
  packages/ui/src/views/repo/pull-request/components/reviewers/pull-request-reviewers-item.tsx
  packages/ui/src/views/repo/pull-request/components/reviewers/reviewer-info.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-panel.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/components/code-owners-section.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/components/default-reviewers-section.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/pull-request-changes-section.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/pull-request-checks-section.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/pull-request-comment-section.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/pull-request-merge-section.tsx
  packages/ui/src/views/repo/pull-request/details/pull-request-conversation-page.tsx
  packages/ui/src/views/repo/pull-request/details/pull-request-details-types.ts
Owners: none

refactor rules
  apps/gitness/src/pages-v2/project/rules/project-rules-container.tsx
  apps/gitness/src/pages-v2/repo/rules/repo-rules-container.tsx
  apps/gitness/src/types/rule.ts
  apps/gitness/src/utils/repo-tag-rules-utils.ts
  packages/ui/src/views/repo/index.ts
  packages/ui/src/views/repo/repo-rules/components/repo-rules-fields.tsx
  packages/ui/src/views/repo/repo-rules/repo-branch-rules/components/repo-branch-rules-data.tsx
  packages/ui/src/views/repo/repo-rules/repo-branch-rules/components/repo-branch-rules-fields.tsx
  packages/ui/src/views/repo/repo-rules/repo-branch-rules/index.tsx
  packages/ui/src/views/repo/repo-rules/repo-branch-rules/repo-branch-settings-rules-page.tsx
  packages/ui/src/views/repo/repo-rules/repo-settings-rules-page.tsx
  packages/ui/src/views/repo/repo-rules/repo-tag-rules/components/repo-tag-rules-data.tsx
  packages/ui/src/views/repo/repo-rules/repo-tag-rules/components/repo-tag-rules-fields.tsx
  packages/ui/src/views/repo/repo-rules/repo-tag-rules/repo-tag-settings-rules-page.tsx
  packages/ui/src/views/repo/repo-rules/repo-tag-rules/types.ts
  packages/ui/src/views/repo/repo-rules/types.ts
  packages/ui/src/views/repo/repo-tag-rules/types.ts
  packages/ui/src/views/repo/utils.ts
Owners: none

Got rid of using useComponents with RBAC components on the Details Pages (#2188)
  apps/design-system/src/subjects/views/templates/view-only.tsx
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/views/components/page.tsx
  packages/ui/src/views/layouts/SecretDetailsLayout.tsx
Owners: none

Bump UI
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Bump UI (#2192)
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

feat: add pageSize select to inderteminate pagination components
  apps/design-system/src/subjects/stores/repo-branch-store.ts
  apps/design-system/src/subjects/views/repo-branches/repo-branches-store.ts
  apps/design-system/src/subjects/views/repo-tags/repo-tags-store.ts
  apps/design-system/src/subjects/views/repo-webhooks-list/repo-webhooks-list-store.ts
  apps/gitness/src/pages-v2/repo/repo-branch-list.tsx
  apps/gitness/src/pages-v2/repo/repo-commits.tsx
  apps/gitness/src/pages-v2/repo/repo-tags-list-container.tsx
  apps/gitness/src/pages-v2/repo/stores/repo-branches-store.ts
  apps/gitness/src/pages-v2/repo/stores/repo-tags-store.tsx
  apps/gitness/src/pages-v2/webhooks/stores/webhook-store.tsx
  apps/gitness/src/pages-v2/webhooks/webhook-executions.tsx
  apps/portal/src/content/docs/components/pagination.mdx
  packages/ui/src/components/pagination/pagination-primitive.tsx
  packages/ui/src/components/pagination/pagination.tsx
  packages/ui/src/components/pagination/types.ts
  packages/ui/src/views/repo/repo-branch/repo-branch-list-view.tsx
  packages/ui/src/views/repo/repo-commits/repo-commits-view.tsx
  packages/ui/src/views/repo/repo-tags/repo-tags-list-page.tsx
  packages/ui/src/views/repo/repo-tags/types.tsx
  packages/ui/src/views/repo/repo.types.ts
  packages/ui/src/views/repo/webhooks/webhook-executions/repo-webhook-executions-list-page.tsx
  packages/ui/src/views/repo/webhooks/webhook-list/types.ts
  packages/ui/src/views/user-management/components/page-components/content/content.tsx
Owners: none

UI fixes for Secret Details Page - References and Activity Tabs
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/views/secrets/secret-details/secret-details-activity-list.tsx
  packages/ui/src/views/secrets/secret-details/secret-details-activity-page.tsx
  packages/ui/src/views/secrets/secret-details/secret-details-references-list.tsx
  packages/ui/src/views/secrets/secret-details/secret-details-references-page.tsx
Owners: none

fixes
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/components/code-owners-section.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/components/default-reviewers-section.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/pull-request-changes-section.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/pull-request-checks-section.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/pull-request-comment-section.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/pull-request-merge-section.tsx
Owners: none

Tree component updates (#10511)
  apps/design-system/src/utils/fileViewUtils.tsx
  apps/gitness/src/components-v2/FileExplorer.tsx
  apps/portal/src/content/docs/components/button.mdx
  packages/ui/src/components/button.tsx
  packages/ui/src/components/file-explorer.tsx
  packages/ui/src/utils/utils.ts
  packages/ui/src/views/repo/pull-request/details/components/changes/pull-request-changes-explorer.tsx
  packages/ui/tailwind-utils-config/components/index.ts
  packages/ui/tailwind-utils-config/components/tree.ts
  pnpm-lock.yaml
Owners: none

Bump UI package version (#10513)
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix sticky header on PR Changes page (#2191)
  packages/ui/src/views/repo/pull-request/components/pull-request-accordian.tsx
Owners: none

fix: PR diff scroll jumping improvement + accordion header design fix (#10512)
  packages/ui/src/views/repo/pull-request/components/pull-request-accordian.tsx
  packages/ui/src/views/repo/pull-request/details/components/changes/pull-request-changes.tsx
  packages/ui/src/views/repo/pull-request/details/pull-request-utils.ts
Owners: none

CODEOWNERS:

# Global configs
.github/ abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.eslintrc.js abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.prettierrc.yml abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Common ownership for shared config files
/packages/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/packages/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Apps
/apps/gitness/* abhinav.rastogi@harness.io vardan.bansal@harness.io
/apps/portal/* kevin.nagurski@harness.io pranesh.g@harness.io abhinav.rastogi@harness.io vardan.bansal@harness.io

# Packages with shared ownership
/packages/ui/* abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io pranesh.g@harness.io

# Packages with individual owners
/packages/forms/* srdjan.arsic@harness.io
/packages/unified-pipeline/* srdjan.arsic@harness.io
/packages/yaml-editor/* srdjan.arsic@harness.io
/packages/core-design-system/* pranesh.g@harness.io
