Repository harness/canary, changes with the owners that CODEOWNERS names for each.
All owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io, srdjan.arsic@harness.io

fix
  packages/core-design-system/design-tokens/core/typography.json
Owners: none

fix
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
Owners: none

fix
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

updated semantics
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/core-design-system/design-tokens/mode/light/default.json
  packages/core-design-system/tools/design-system-studio.html
Owners: none

fix
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

fix
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

Update color tokens and font configuration
  packages/core-design-system/design-tokens/core/colors_hex.json
  packages/core-design-system/design-tokens/core/colors_lch.json
  packages/ui/src/fonts/GeneralSans-Variable.ttf
  packages/ui/src/fonts/GeneralSans-Variable.woff2
  packages/ui/src/fonts/JetBrainsMono-Regular.woff2
  packages/ui/src/fonts/JetBrainsMono-Variable.woff2
  packages/ui/src/fonts/JetBrainsMono-VariableFont_wght.ttf
  packages/ui/src/fonts/Satoshi-Variable.ttf
  packages/ui/src/fonts/Satoshi-Variable.woff2
  packages/ui/src/styles/styles.css
Owners: none

fix
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
Owners: none

fix: reduce chroma for pastel tones in shades 50-200
  packages/core-design-system/design-tokens/core/colors_lch_new.json
Owners: none

colors update
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
Owners: none

fix
  packages/core-design-system/design-tokens/$themes.json
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

feat(design-tokens): sync card fade tokens and comprehensive descriptions from card-fade branch
  packages/core-design-system/design-tokens/mode/dark/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/default-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast.json
  packages/core-design-system/design-tokens/mode/light/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/default-protanopia.json
  packages/core-design-system/design-tokens/mode/light/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/default.json
  packages/core-design-system/design-tokens/mode/light/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast.json
Owners: none

colors upd, added new typography for test
  packages/core-design-system/design-tokens/core/colors_hex.json
  packages/core-design-system/design-tokens/core/colors_lch.json
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/ui/src/fonts/GeneralSans-Variable.ttf
  packages/ui/src/fonts/GeneralSans-Variable.woff2
  packages/ui/src/fonts/Satoshi-Variable.ttf
  packages/ui/src/fonts/Satoshi-Variable.woff2
  packages/ui/src/styles/styles.css
Owners: none

fix: smooth chroma scale for shades 300-400
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
Owners: none

upd
  packages/core-design-system/design-tokens/$metadata.json
  packages/core-design-system/design-tokens/$themes.json
  packages/core-design-system/design-tokens/core/colors_hex.json
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
  packages/core-design-system/design-tokens/mode/dark/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/default-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast.json
  packages/core-design-system/design-tokens/mode/light/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/default-protanopia.json
  packages/core-design-system/design-tokens/mode/light/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast.json
Owners: none

feat(design-system): add LCH palette generator and new color palette
  packages/core-design-system/design-tokens/core/colors_lch.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
  packages/core-design-system/tools/palette-generator.html
Owners: none

fix: restore high chroma for yellow to prevent muddy appearance
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
Owners: none

fix
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
Owners: none

Remove lime from tag theme types, use green instead
  packages/ui/src/components/__tests__/tag.test.tsx
  packages/ui/src/components/multi-select.tsx
  packages/ui/src/views/labels/types.ts
  packages/ui/src/views/repo/pull-request/pull-request.types.ts
Owners: none

Add lime color support to tag component
  apps/gitness/src/styles/monaco-styles.css
  apps/portal/src/content/docs/components/feedback/tag.mdx
  packages/ai-chat-core/package.json
  packages/core-design-system/scripts/generate-hex-fallback.js
  packages/core-design-system/tools/design-system-studio.html
  packages/core-design-system/tools/palette-generator.html
  packages/forms/playground/src/examples/validation-example/validation-example.tsx
  packages/pipeline-graph/README.md
  packages/pipeline-graph/playground/src/types/content-node-types.ts
  packages/ui/src/components/__tests__/tag.test.tsx
  packages/ui/src/components/multi-select.tsx
  packages/ui/src/components/tag.tsx
  packages/ui/src/styles/styles.css
  packages/ui/src/views/labels/types.ts
  packages/ui/src/views/repo/pull-request/pull-request.types.ts
  packages/ui/tailwind-utils-config/components/alert.ts
  packages/ui/tailwind-utils-config/components/button.ts
  packages/ui/tailwind-utils-config/components/index.ts
  packages/ui/tailwind-utils-config/components/tag.ts
  packages/yaml-editor/vite.config.ts.timestamp-1765989485555-209d0a83e7184.mjs
  pnpm-lock.yaml
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, srdjan.arsic@harness.io

tabs styles upd
  packages/ui/tailwind-utils-config/components/tabs.ts
Owners: none

add animation to tabs
  packages/ui/tailwind-utils-config/components/tabs.ts
Owners: none

tabs fix
  packages/ui/tailwind-utils-config/components/tabs.ts
Owners: none

fix
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

fix
  packages/core-design-system/design-tokens/mode/dark/default.json
Owners: none

fix
  packages/core-design-system/design-tokens/mode/dark/default.json
Owners: none

fix
  packages/ui/tailwind-utils-config/components/tabs.ts
Owners: none

fix
  packages/ui/tailwind-utils-config/components/tabs.ts
Owners: none

Bump UI package version
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix: bump ui package (#10692)
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

feat: [AIDEVOPS-1744]: Added TypingAnimation component (#10693)
  apps/portal/src/content/docs/components/chat/typing-animation.mdx
  packages/ui/package.json
  packages/ui/src/components/index.ts
  packages/ui/src/components/typing-animation.tsx
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Add new container icons (#10694)
  packages/ui/package.json
  packages/ui/src/components/icon-v2/icon-name-map.ts
  packages/ui/src/components/icon-v2/icons/code-brackets.svg
  packages/ui/src/components/icon-v2/icons/containers-solid.svg
  packages/ui/src/components/icon-v2/icons/containers.svg
  packages/ui/src/components/icon-v2/icons/instances.svg
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Adding conversationid and title when switching a thread (#10695)
  packages/ai-chat-core/package.json
  packages/ai-chat-core/src/runtime/ThreadListRuntime/ThreadListRuntime.tsx
  packages/ai-chat-core/src/runtime/ThreadRuntime/ThreadRuntime.ts
  packages/ai-chat-core/src/runtime/ThreadRuntime/ThreadRuntimeCore.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io

colors and typography docs update
  apps/portal/src/assets/color-system-diagram.svg
  apps/portal/src/components/ColorSystemDiagram.astro
  apps/portal/src/components/MainColorPalette.astro
  apps/portal/src/content/docs/foundations/colors.mdx
  apps/portal/src/content/docs/foundations/typography.mdx
Owners: none

fix
  apps/portal/src/components/MainColorPalette.astro
Owners: none

prettier fix
  apps/portal/src/components/ColorSystemDiagram.astro
  apps/portal/src/components/MainColorPalette.astro
  apps/portal/src/content/docs/foundations/typography.mdx
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

fix: remove accidental vite timestamp file
  packages/yaml-editor/vite.config.ts.timestamp-1765989485555-209d0a83e7184.mjs
Owners: srdjan.arsic@harness.io

chore: move design system tools to local-tools and exclude from repo
  .gitignore
  packages/core-design-system/tools/design-system-studio.html
  packages/core-design-system/tools/palette-generator.html
Owners: none

chore: remove palette and studio scripts from package.json
  packages/core-design-system/package.json
Owners: pranesh.g@harness.io

Remove lime from tag theme types, use green instead
  packages/ui/src/components/__tests__/tag.test.tsx
  packages/ui/src/components/multi-select.tsx
  packages/ui/src/views/labels/types.ts
  packages/ui/src/views/repo/pull-request/pull-request.types.ts
Owners: none

CODEOWNERS:

# Global configs
.github/ abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.eslintrc.js abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.prettierrc.yml abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Common ownership for shared config files
/packages/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/packages/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Apps
/apps/gitness/* abhinav.rastogi@harness.io vardan.bansal@harness.io
/apps/portal/* kevin.nagurski@harness.io pranesh.g@harness.io abhinav.rastogi@harness.io vardan.bansal@harness.io

# Packages with shared ownership
/packages/ui/* abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io pranesh.g@harness.io

# Packages with individual owners
/packages/forms/* srdjan.arsic@harness.io
/packages/unified-pipeline/* srdjan.arsic@harness.io
/packages/yaml-editor/* srdjan.arsic@harness.io
/packages/core-design-system/* pranesh.g@harness.io
