Repository harness/canary, changes with the owners that CODEOWNERS names for each.
All owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io, srdjan.arsic@harness.io

chore: bump version to 0.0.128
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

add secrets-related fixes
  apps/portal/src/components/layout/ThemeSelector.tsx
  apps/portal/src/content/docs/components/accordion.mdx
  apps/portal/src/content/docs/components/stacked-list.mdx
  packages/ui/src/components/accordion/accordion.tsx
  packages/ui/src/components/card-select.tsx
  packages/ui/src/components/drawer/DrawerContent.tsx
  packages/ui/src/views/platform/components/entity-reference-filter.tsx
  packages/ui/src/views/platform/entity-reference-component.tsx
  packages/ui/src/views/platform/entity-reference-list.tsx
  packages/ui/src/views/platform/types.ts
  packages/ui/tailwind-utils-config/components/accordion.ts
  packages/ui/tailwind-utils-config/components/multi-select.ts
  packages/ui/tailwind-utils-config/components/stacked-list.ts
Owners: none

fixes
  apps/design-system/src/subjects/views/secrets/secrets.tsx
  packages/forms/package.json
  packages/forms/src/core/components/InputComponentRenderer.tsx
  packages/ui/package.json
  packages/ui/src/components/drawer/DrawerContent.tsx
  packages/ui/src/views/platform/entity-reference-component.tsx
  packages/ui/src/views/platform/entity-reference-list.tsx
  packages/ui/src/views/secrets/secret-reference/secret-reference.tsx
Owners: srdjan.arsic@harness.io, abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

figma update
  packages/core-design-system/design-tokens/mode/dark/figma-icon-stroke-width.json
  packages/core-design-system/design-tokens/mode/light/figma-icon-stroke-width.json
Owners: none

upd
  packages/core-design-system/design-tokens/mode/dark/default.json
Owners: none

tree view upd
  packages/core-design-system/design-tokens/components/desktop/base/tree-view.json
Owners: none

upd
  packages/core-design-system/design-tokens/$themes.json
  packages/core-design-system/design-tokens/components/desktop/base/tree-view.json
  packages/core-design-system/design-tokens/mode/dark/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/default-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast.json
  packages/core-design-system/design-tokens/mode/light/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/default-protanopia.json
  packages/core-design-system/design-tokens/mode/light/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast.json
Owners: none

selected update
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

updated TW config
  packages/ui/src/components/markdown-viewer/style.css
  packages/ui/tailwind-design-system.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix
  packages/core-design-system/design-tokens/$themes.json
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

upd
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/core-design-system/design-tokens/mode/dark/dimmer.json
Owners: none

upd
  packages/core-design-system/design-tokens/$themes.json
  packages/core-design-system/design-tokens/mode/dark/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/default-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast.json
  packages/core-design-system/design-tokens/mode/light/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/default-protanopia.json
  packages/core-design-system/design-tokens/mode/light/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/default.json
  packages/core-design-system/design-tokens/mode/light/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast.json
Owners: none

font fix
  packages/core-design-system/design-tokens/core/typography.json
Owners: none

upd
  packages/core-design-system/design-tokens/$metadata.json
  packages/core-design-system/design-tokens/$themes.json
  packages/core-design-system/design-tokens/components/desktop/base/tree-view.json
Owners: none

styles renaming
  apps/portal/src/styles.css
  packages/ui/src/components/chat/chat.tsx
  packages/ui/src/components/chat_deprecated.tsx
  packages/ui/src/components/filters/filters-field.tsx
  packages/ui/src/components/input.tsx
  packages/ui/src/components/meter.tsx
  packages/ui/src/components/pipeline-nodes/splitview-stage-node.tsx
  packages/ui/src/components/pipeline-nodes/step-node.tsx
  packages/ui/src/components/toast/toast.tsx
  packages/ui/src/styles/styles.css
  packages/ui/src/views/execution/execution-status.tsx
  packages/ui/src/views/pipelines/components/execution-status-badge.tsx
  packages/ui/src/views/pipelines/execution-list/execution-list.tsx
  packages/ui/src/views/pipelines/pipeline-list/pipeline-list.tsx
  packages/ui/src/views/profile-settings/components/profile-settings-keys-list.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-panel.tsx
  packages/ui/src/views/repo/repo-branch/components/branch-list.tsx
  packages/ui/src/views/repo/repo-branch/components/divergence-gauge.tsx
  packages/ui/src/views/unified-pipeline-studio/components/graph-implementation/canvas/canvas-button.tsx
  packages/ui/tailwind-utils-config/components/alert.ts
  packages/ui/tailwind-utils-config/components/avatar.ts
  packages/ui/tailwind-utils-config/components/badge.ts
  packages/ui/tailwind-utils-config/components/breadcrumb.ts
  packages/ui/tailwind-utils-config/components/button.ts
  packages/ui/tailwind-utils-config/components/card-select.ts
  packages/ui/tailwind-utils-config/components/card.ts
  packages/ui/tailwind-utils-config/components/checkbox.ts
  packages/ui/tailwind-utils-config/components/shortcut.ts
  packages/ui/tailwind-utils-config/components/table-v2.ts
  packages/ui/tailwind-utils-config/components/tabs.ts
  packages/ui/tailwind-utils-config/components/tooltip.ts
  packages/yaml-editor/src/utils/blame-editor-utils.ts
Owners: none

prettier fix
  apps/portal/src/styles.css
  packages/ui/src/styles/styles.css
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-panel.tsx
  packages/ui/src/views/repo/repo-branch/components/branch-list.tsx
Owners: none

Edit packages/core-design-system/design-tokens/components/desktop/base/tree-view.json
  packages/core-design-system/design-tokens/components/desktop/base/tree-view.json
Owners: none

yellow fix
  packages/core-design-system/design-tokens/core/colors_hex.json
  packages/core-design-system/design-tokens/core/colors_lch.json
Owners: none

semantic renaming
  packages/core-design-system/design-tokens/mode/dark/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/default-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast.json
  packages/core-design-system/design-tokens/mode/light/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/default-protanopia.json
  packages/core-design-system/design-tokens/mode/light/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/default.json
  packages/core-design-system/design-tokens/mode/light/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast.json
Owners: none

rename
  packages/core-design-system/design-tokens/mode/dark/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/default-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast.json
  packages/core-design-system/design-tokens/mode/light/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/default-protanopia.json
  packages/core-design-system/design-tokens/mode/light/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/default.json
  packages/core-design-system/design-tokens/mode/light/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast.json
Owners: none

upd
  packages/core-design-system/design-tokens/$themes.json
  packages/core-design-system/design-tokens/components/desktop/base/tree-view.json
Owners: none

upd
  packages/core-design-system/design-tokens/mode/dark/default.json
Owners: none

disabled text renamed to text.4
  packages/core-design-system/design-tokens/core/typography.json
  packages/core-design-system/design-tokens/mode/dark/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/default-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast.json
  packages/core-design-system/design-tokens/mode/light/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/default-protanopia.json
  packages/core-design-system/design-tokens/mode/light/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/default.json
  packages/core-design-system/design-tokens/mode/light/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast.json
Owners: none

Update .dockerignore
  .dockerignore
Owners: none

Create test
  test
Owners: none

refactor: replace button group with tabs for pull request filtering
  packages/ui/src/views/repo/pull-request/components/pull-request-list-header.tsx
Owners: none

feat: add isLoading prop to pull request components and update skeleton rendering
  apps/portal/src/content/docs/components/skeleton.mdx
  packages/ui/src/components/skeletons/skeleton-list.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-list-header.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-list.tsx
  packages/ui/src/views/repo/pull-request/pull-request-list-page.tsx
  packages/ui/src/views/repo/pull-request/pull-request.types.ts
Owners: none

fix pretty
  apps/portal/src/content/docs/components/skeleton.mdx
Owners: none

line-through typography added
  packages/core-design-system/design-tokens/breakpoint/desktop.json
Owners: none

feat: added support for saved filter in filters pkg
  packages/filters/src/Filters.tsx
  packages/filters/src/index.ts
  packages/filters/src/types.ts
  packages/filters/src/utils.ts
Owners: none

add disabled and tooltip properties for individual actions on MoreActionsTooltip (#10453)
  packages/ui/src/components/more-actions-tooltip.tsx
Owners: none

increment ui version (#10458)
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix: connector input
  apps/design-system/src/subjects/views/secrets/secret-input.tsx
  packages/ui/src/views/platform/input-reference-component.tsx
Owners: none

chore: bump UI
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix: refactor getSecretInfo to use custom dialog trigger for delete action (#2151)
  packages/ui/src/views/layouts/SecretDetailsLayout.tsx
Owners: none

add secrets-related fixes (#2147)
  apps/design-system/src/subjects/views/secrets/secrets.tsx
  apps/portal/src/components/layout/ThemeSelector.tsx
  apps/portal/src/content/docs/components/accordion.mdx
  apps/portal/src/content/docs/components/stacked-list.mdx
  packages/forms/package.json
  packages/forms/src/core/components/InputComponentRenderer.tsx
  packages/ui/src/components/accordion/accordion.tsx
  packages/ui/src/components/card-select.tsx
  packages/ui/src/components/drawer/DrawerContent.tsx
  packages/ui/src/views/platform/components/entity-reference-filter.tsx
  packages/ui/src/views/platform/entity-reference-component.tsx
  packages/ui/src/views/platform/entity-reference-list.tsx
  packages/ui/src/views/platform/types.ts
  packages/ui/src/views/secrets/secret-reference/secret-reference.tsx
  packages/ui/tailwind-utils-config/components/accordion.ts
  packages/ui/tailwind-utils-config/components/multi-select.ts
  packages/ui/tailwind-utils-config/components/stacked-list.ts
Owners: srdjan.arsic@harness.io

ui package version bump
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix drawer fade
  packages/ui/tailwind-utils-config/components/drawer.ts
Owners: none

feat: integrate dialog trigger for create pipeline action in pipeline list
  packages/ui/src/views/pipelines/pipeline-list/pipeline-list-page.tsx
  packages/ui/src/views/pipelines/pipeline-list/pipeline-list.tsx
Owners: none

feat: enhance pull request list header with loading state management and tab focus refactor: update skeleton list wrapper logic and clean up imports
  packages/ui/src/components/skeletons/skeleton-list.tsx
  packages/ui/src/components/tabs.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-list-header.tsx
Owners: none

CODEOWNERS:

# Global configs
.github/ abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.eslintrc.js abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.prettierrc.yml abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Common ownership for shared config files
/packages/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/packages/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Apps
/apps/gitness/* abhinav.rastogi@harness.io vardan.bansal@harness.io
/apps/portal/* kevin.nagurski@harness.io pranesh.g@harness.io abhinav.rastogi@harness.io vardan.bansal@harness.io

# Packages with shared ownership
/packages/ui/* abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io pranesh.g@harness.io

# Packages with individual owners
/packages/forms/* srdjan.arsic@harness.io
/packages/unified-pipeline/* srdjan.arsic@harness.io
/packages/yaml-editor/* srdjan.arsic@harness.io
/packages/core-design-system/* pranesh.g@harness.io
