Repository harness/canary, changes with the owners that CODEOWNERS names for each.
All owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io, srdjan.arsic@harness.io

Fix PR list layout and implement absolute Link logic for StackedItem
  packages/ui/src/components/stacked-list.tsx
  packages/ui/src/views/repo/components/commits-list.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-item-title.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-list-header.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-list.tsx
  packages/ui/src/views/repo/pull-request/pull-request-list-page.tsx
  packages/ui/src/views/repo/pull-request/pull-request.types.ts
  packages/ui/src/views/repo/repo-list/repo-list.tsx
  packages/ui/src/views/repo/repo-settings/components/repo-settings-general-rules.tsx
Owners: none

diff color corrections (#10292)
  packages/core-design-system/design-tokens/mode/dark/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/default-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast.json
  packages/core-design-system/design-tokens/mode/light/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/default-protanopia.json
  packages/core-design-system/design-tokens/mode/light/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/default.json
  packages/core-design-system/design-tokens/mode/light/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast.json
Owners: none

fix table cell
  apps/gitness/src/pages-v2/repo/labels/label-form-container.tsx
  packages/ui/src/views/labels/components/labels-list-view.tsx
Owners: none

fix comments
  packages/ui/src/views/labels/label-form-page.tsx
Owners: none

label tag refactoring
  apps/gitness/src/pages-v2/repo/labels/label-form-container.tsx
  packages/ui/src/views/labels/components/label-tag.tsx
  packages/ui/src/views/labels/components/labels-list-view.tsx
  packages/ui/src/views/labels/label-form-page.tsx
  packages/ui/src/views/repo/pull-request/components/labels/pull-request-labels-header.tsx
Owners: none

feat: enhance label form layout and add new remove value functionality
  apps/gitness/src/pages-v2/project/labels/project-label-form-container.tsx
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/views/labels/components/label-form-color-and-name-group.tsx
  packages/ui/src/views/labels/components/label-tag.tsx
  packages/ui/src/views/labels/label-form-page.tsx
Owners: none

fixes
  apps/gitness/src/pages-v2/repo/labels/label-form-container.tsx
  packages/ui/src/views/labels/components/labels-list-view.tsx
  packages/ui/src/views/labels/label-form-page.tsx
  packages/ui/src/views/project/project-import.tsx
  packages/ui/src/views/repo/repo-import/repo-import-mulitple.tsx
  packages/ui/src/views/repo/repo-import/repo-import.tsx
Owners: none

fixes
  packages/ui/src/components/form-primitives/select.tsx
  packages/ui/src/views/labels/label-form-page.tsx
Owners: none

Adjust Files tab layout — correct breadcrumb panel and Code View sizing
  apps/gitness/src/components-v2/GitBlame.tsx
  apps/gitness/src/components-v2/file-content-viewer.tsx
  apps/gitness/src/components-v2/file-editor.tsx
  packages/ui/src/components/path-breadcrumbs.tsx
  packages/ui/src/views/layouts/main-content-layout.tsx
  packages/ui/src/views/repo/components/draggable-sidebar-divider.tsx
  packages/ui/src/views/repo/components/path-action-bar.tsx
  packages/ui/src/views/repo/repo-files/repo-files-view.tsx
  packages/ui/tailwind-utils-config/components/button.ts
Owners: none

fix: open file if scroll to comment required only at start (#10293)
  packages/ui/src/views/repo/pull-request/details/components/changes/pull-request-changes.tsx
Owners: none

Adjust Files tab layout — correct breadcrumb panel and Code View sizing
  packages/ui/tailwind-utils-config/components/button.ts
Owners: none

Fix labels form (#2095)
  apps/gitness/src/pages-v2/project/labels/project-label-form-container.tsx
  apps/gitness/src/pages-v2/repo/labels/label-form-container.tsx
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/components/form-primitives/select.tsx
  packages/ui/src/views/labels/components/label-form-color-and-name-group.tsx
  packages/ui/src/views/labels/components/label-tag.tsx
  packages/ui/src/views/labels/components/labels-list-view.tsx
  packages/ui/src/views/labels/label-form-page.tsx
  packages/ui/src/views/project/project-import.tsx
  packages/ui/src/views/repo/pull-request/components/labels/pull-request-labels-header.tsx
  packages/ui/src/views/repo/repo-import/repo-import-mulitple.tsx
  packages/ui/src/views/repo/repo-import/repo-import.tsx
Owners: none

Revert "fix: Remove SSE integration from Pull Requests (#10217)" (#10294)
  apps/gitness/src/pages-v2/pull-request/pull-request-changes.tsx
  apps/gitness/src/pages-v2/pull-request/pull-request-data-provider.tsx
  apps/gitness/src/pages-v2/pull-request/stores/pull-request-provider-store.tsx
  packages/ui/src/views/repo/pull-request/details/components/changes/pull-request-changes-filter.tsx
  packages/ui/src/views/repo/pull-request/details/pull-request-changes-page.tsx
Owners: none

Fix display of long reviewer lists in the PR Overview
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-system-comments.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-timeline-item.tsx
Owners: none

Fix display of long reviewer lists in the PR Overview (#2103)
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-system-comments.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-timeline-item.tsx
Owners: none

feat: export separate page for mfe
  apps/gitness/package.json
  apps/gitness/src/framework/context/MFEContext.tsx
  apps/gitness/src/framework/context/NavigationContext.tsx
  apps/gitness/src/mfe-exports.ts
  apps/gitness/src/mfe-pages/ProjectSettingsPage.tsx
  apps/gitness/src/mfe-pages/PullRequestsPage.tsx
  apps/gitness/src/mfe-pages/RepositoriesPage.tsx
  apps/gitness/src/mfe-pages/SearchPage.tsx
  apps/gitness/src/pages-v2/repo/repo-list.tsx
  apps/gitness/src/routes.tsx
  apps/gitness/webpack.config.cjs
Owners: abhinav.rastogi@harness.io, vardan.bansal@harness.io

fix: redirect on files page if repo empty (#10291)
  apps/gitness/src/components-v2/file-editor.tsx
Owners: none

Update accessibility features
  packages/ui/src/components/commit-copy-actions.tsx
  packages/ui/src/styles/styles.css
  packages/ui/src/views/repo/components/branch-info-bar.tsx
  packages/ui/src/views/repo/components/commits-list.tsx
  packages/ui/src/views/repo/pull-request/components/labels/label-value-selector.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-accordian.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-list.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-comment-box.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-comment-textarea.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-description-box.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-panel.tsx
  packages/ui/src/views/repo/webhooks/webhook-list/repo-webhook-list-page.tsx
  packages/ui/tailwind-design-system.ts
  packages/ui/tailwind-utils-config/components/switch.ts
  packages/ui/tailwind-utils-config/utilities/field-sizing.ts
  packages/ui/tailwind-utils-config/utilities/index.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Update existing icons (#10298)
  packages/ui/src/components/icon-v2/icons/check-circle-solid.svg
  packages/ui/src/components/icon-v2/icons/clock-solid.svg
  packages/ui/src/components/icon-v2/icons/help-circle-solid.svg
  packages/ui/src/components/icon-v2/icons/info-circle-solid.svg
  packages/ui/src/components/icon-v2/icons/refresh-circle-solid.svg
  packages/ui/src/components/icon-v2/icons/warning-circle-solid.svg
  packages/ui/src/components/icon-v2/icons/warning-triangle-solid.svg
  packages/ui/src/components/icon-v2/icons/xmark-circle-solid.svg
Owners: none

fix links for branch info bar compare (#10301)
  packages/ui/src/views/repo/components/branch-info-bar.tsx
Owners: none

Fixed copy button issue (#10303)
  packages/ui/src/components/copy-button/use-copy-button.tsx
Owners: none

Fix PR list layout and implement absolute Link logic for StackedItem (#2071)
  packages/ui/src/components/stacked-list.tsx
  packages/ui/src/views/repo/components/commits-list.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-item-title.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-list-header.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-list.tsx
  packages/ui/src/views/repo/pull-request/pull-request-list-page.tsx
  packages/ui/src/views/repo/pull-request/pull-request.types.ts
  packages/ui/src/views/repo/repo-list/repo-list.tsx
  packages/ui/src/views/repo/repo-settings/components/repo-settings-general-rules.tsx
Owners: none

Adjust Files tab layout — correct breadcrumb panel and Code View sizing (#2102)
  apps/gitness/src/components-v2/GitBlame.tsx
  apps/gitness/src/components-v2/file-content-viewer.tsx
  apps/gitness/src/components-v2/file-editor.tsx
  packages/ui/src/components/path-breadcrumbs.tsx
  packages/ui/src/views/layouts/main-content-layout.tsx
  packages/ui/src/views/repo/components/draggable-sidebar-divider.tsx
  packages/ui/src/views/repo/components/path-action-bar.tsx
  packages/ui/src/views/repo/repo-files/repo-files-view.tsx
  packages/ui/tailwind-utils-config/components/button.ts
Owners: none

update ViewOnly (#10304)
  packages/ui/src/components/view-only.tsx
Owners: none

bump packages version (#10305)
  packages/forms/package.json
  packages/ui/package.json
Owners: srdjan.arsic@harness.io, abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix: added support to persist labels on search and reload (#10299)
  apps/gitness/src/pages-v2/pull-request/__tests__/pull-request-utils.test.ts
  apps/gitness/src/pages-v2/pull-request/pull-request-list.tsx
  apps/gitness/src/pages-v2/pull-request/pull-request-utils.ts
  packages/ui/src/views/repo/pull-request/components/labels/labels-filter.tsx
  packages/ui/src/views/repo/pull-request/pull-request-list-page.tsx
Owners: none

Edit packages/ui/package.json
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

feat: consolidate and upgrade TS versions (#10297)
  apps/design-system/package.json
  apps/gitness/package.json
  apps/portal/package.json
  package.json
  packages/filters/package.json
  packages/forms/package.json
  packages/ui/package.json
  packages/yaml-editor/package.json
  pnpm-lock.yaml
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io, srdjan.arsic@harness.io

Update textarea height based on the content
  packages/ui/src/components/form-primitives/textarea.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-comment-textarea.tsx
Owners: none

Description button should be Save (#10308)
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-description-box.tsx
Owners: none

Fix accessibility and layout issues (#10300)
  apps/portal/src/content/docs/components/textarea.mdx
  packages/ui/src/components/commit-copy-actions.tsx
  packages/ui/src/components/form-primitives/textarea.tsx
  packages/ui/src/styles/styles.css
  packages/ui/src/views/repo/components/branch-info-bar.tsx
  packages/ui/src/views/repo/components/commits-list.tsx
  packages/ui/src/views/repo/pull-request/components/labels/label-value-selector.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-accordian.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-comment-box.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-comment-textarea.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-panel.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-system-comments.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/pull-request-comment-section.tsx
  packages/ui/src/views/repo/webhooks/webhook-list/repo-webhook-list-page.tsx
  packages/ui/tailwind-design-system.ts
  packages/ui/tailwind-utils-config/components/switch.ts
  packages/ui/tailwind-utils-config/utilities/field-sizing.ts
  packages/ui/tailwind-utils-config/utilities/index.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

connector details update (#10306)
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/views/connectors/connector-details/connector-details-configuration.tsx
  packages/ui/src/views/connectors/connector-details/connector-details-entity-form-view.tsx
  packages/ui/src/views/connectors/connector-details/utils/connector-details-utils.ts
  packages/ui/src/views/secrets/secret-entity-form.tsx
Owners: none

bump ui version (#10313)
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fixes
  apps/gitness/src/pages-v2/repo/repo-settings-rules-list-container.tsx
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/components/form-primitives/select.tsx
  packages/ui/src/components/no-data.tsx
  packages/ui/src/components/split-button.tsx
  packages/ui/src/components/stacked-list.tsx
  packages/ui/src/views/repo/repo-branch-rules/components/repo-branch-rules-fields.tsx
  packages/ui/src/views/repo/repo-branch-rules/repo-branch-settings-rules-page.tsx
  packages/ui/src/views/repo/repo-settings/components/repo-settings-general-rules.tsx
Owners: none

fixes
  apps/gitness/src/pages-v2/project/project-rules-list-container.tsx
  apps/gitness/src/pages-v2/project/rules/project-tag-rules-container.tsx
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/views/project/project-rules/project-rules-page.tsx
  packages/ui/src/views/repo/repo-settings/components/repo-settings-general-rules.tsx
  packages/ui/tailwind-utils-config/components/checkbox.ts
Owners: none

add repo settings rules design review
  packages/ui/locales/en/views.json
  packages/ui/src/components/tag.tsx
  packages/ui/src/views/repo/repo-branch-rules/components/repo-branch-rules-fields.tsx
  packages/ui/src/views/repo/repo-branch-rules/repo-branch-settings-rules-page.tsx
  packages/ui/src/views/repo/repo-settings/components/repo-settings-general-rules.tsx
Owners: none

fixes
  packages/ui/src/components/checkbox.tsx
  packages/ui/src/views/repo/repo-branch-rules/repo-branch-settings-rules-page.tsx
  packages/ui/src/views/repo/repo-tag-rules/components/repo-tag-rules-fields.tsx
  packages/ui/src/views/repo/repo-tag-rules/repo-tag-settings-rules-page.tsx
  packages/ui/tailwind-utils-config/components/button.ts
  packages/ui/tailwind-utils-config/components/checkbox.ts
Owners: none

add repo settings rules design review (#2101)
  apps/gitness/src/pages-v2/project/project-rules-list-container.tsx
  apps/gitness/src/pages-v2/project/rules/project-tag-rules-container.tsx
  apps/gitness/src/pages-v2/repo/repo-settings-rules-list-container.tsx
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/components/checkbox.tsx
  packages/ui/src/components/form-primitives/select.tsx
  packages/ui/src/components/no-data.tsx
  packages/ui/src/components/split-button.tsx
  packages/ui/src/components/stacked-list.tsx
  packages/ui/src/components/tag.tsx
  packages/ui/src/views/project/project-rules/project-rules-page.tsx
  packages/ui/src/views/repo/repo-branch-rules/components/repo-branch-rules-fields.tsx
  packages/ui/src/views/repo/repo-branch-rules/repo-branch-settings-rules-page.tsx
  packages/ui/src/views/repo/repo-settings/components/repo-settings-general-rules.tsx
  packages/ui/src/views/repo/repo-tag-rules/components/repo-tag-rules-fields.tsx
  packages/ui/src/views/repo/repo-tag-rules/repo-tag-settings-rules-page.tsx
  packages/ui/tailwind-utils-config/components/button.ts
  packages/ui/tailwind-utils-config/components/checkbox.ts
Owners: none

fix numbered list in comments
  packages/ui/src/components/markdown-viewer/style.css
Owners: none

gap-y values for accordion card added (#10314)
  packages/core-design-system/design-tokens/components/desktop/base/accordion.json
Owners: none

CODEOWNERS:

# Global configs
.github/ abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.eslintrc.js abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.prettierrc.yml abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Common ownership for shared config files
/packages/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/packages/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Apps
/apps/gitness/* abhinav.rastogi@harness.io vardan.bansal@harness.io
/apps/portal/* kevin.nagurski@harness.io pranesh.g@harness.io abhinav.rastogi@harness.io vardan.bansal@harness.io

# Packages with shared ownership
/packages/ui/* abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io pranesh.g@harness.io

# Packages with individual owners
/packages/forms/* srdjan.arsic@harness.io
/packages/unified-pipeline/* srdjan.arsic@harness.io
/packages/yaml-editor/* srdjan.arsic@harness.io
/packages/core-design-system/* pranesh.g@harness.io
