Repository harness/canary, changes with the owners that CODEOWNERS names for each.
All owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io, srdjan.arsic@harness.io

CODEOWNERS:

# Global configs
.github/ abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.eslintrc.js abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.prettierrc.yml abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Common ownership for shared config files
/packages/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/packages/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Apps
/apps/gitness/* abhinav.rastogi@harness.io vardan.bansal@harness.io
/apps/portal/* kevin.nagurski@harness.io pranesh.g@harness.io abhinav.rastogi@harness.io vardan.bansal@harness.io

# Packages with shared ownership
/packages/ui/* abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io pranesh.g@harness.io

# Packages with individual owners
/packages/forms/* srdjan.arsic@harness.io
/packages/unified-pipeline/* srdjan.arsic@harness.io
/packages/yaml-editor/* srdjan.arsic@harness.io
/packages/core-design-system/* pranesh.g@harness.io

refactor(tooltip): improve arrow alignment and spacing
  apps/portal/src/content/docs/components/overlays/tooltip.mdx
  packages/ui/src/components/tooltip.tsx
  packages/ui/tailwind-utils-config/components/tooltip.ts
Owners: none

test
  packages/core-design-system/design-tokens/components/desktop/base/btn.json
Owners: none

upd
  packages/core-design-system/design-tokens/components/desktop/base/btn.json
Owners: none

feat: Add on hover in/out callbacks to Sidebar item (#10652)
  packages/ui/src/components/nav/side-nav.tsx
  packages/ui/src/components/sidebar/sidebar-item.tsx
  packages/ui/tailwind-utils-config/components/sidebar.ts
Owners: none

Bump patch version in packages/ui/package.json to 0.0.212
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

capability exeuction initial commit
  packages/ai-chat-core/src/core/CapabilityExecutionManager.ts
  packages/ai-chat-core/src/core/CapabilityRegistry.ts
  packages/ai-chat-core/src/core/index.ts
  packages/ai-chat-core/src/react/components/CapabilityRenderer.tsx
  packages/ai-chat-core/src/react/components/ContentRenderer.tsx
  packages/ai-chat-core/src/react/components/index.ts
  packages/ai-chat-core/src/react/hooks/index.ts
  packages/ai-chat-core/src/react/hooks/useCapability.ts
  packages/ai-chat-core/src/react/hooks/useCapabilityExecution.ts
  packages/ai-chat-core/src/react/index.ts
  packages/ai-chat-core/src/react/utils/index.ts
  packages/ai-chat-core/src/react/utils/makeCapability.tsx
  packages/ai-chat-core/src/runtime/AssistantRuntime/AssistantRuntime.tsx
  packages/ai-chat-core/src/runtime/ThreadListRuntime/ThreadListRuntime.tsx
  packages/ai-chat-core/src/runtime/ThreadRuntime/ThreadRuntimeCore.ts
  packages/ai-chat-core/src/types/adapters.ts
  packages/ai-chat-core/src/types/capability.ts
  packages/ai-chat-core/src/types/index.ts
Owners: none

update
  apps/portal/package.json
  pnpm-lock.yaml
Owners: kevin.nagurski@harness.io, pranesh.g@harness.io, abhinav.rastogi@harness.io, vardan.bansal@harness.io

update
  packages/core-design-system/design-tokens/components/desktop/base/btn.json
Owners: none

feat: [UUI-339]: Add Initial Collapsed State and Async Collapse/Expand Callback Support to the PipelineGraph
  packages/pipeline-graph/package.json
  packages/pipeline-graph/playground/src/demo7-callbacks.tsx
  packages/pipeline-graph/playground/src/playground.tsx
  packages/pipeline-graph/src/components/components/collapse.tsx
  packages/pipeline-graph/src/components/nodes/parallel-container.tsx
  packages/pipeline-graph/src/components/nodes/serial-container.tsx
  packages/pipeline-graph/src/context/graph-provider.tsx
  packages/pipeline-graph/src/pipeline-graph-internal.tsx
  packages/pipeline-graph/src/types/nodes.ts
  packages/pipeline-graph/src/utils/path-utils.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io

reverted changes
  packages/core-design-system/design-tokens/components/desktop/base/btn.json
Owners: none

Added a playground for ai chat
  packages/ai-chat-core/package.json
  packages/ai-chat-core/playground/index.html
  packages/ai-chat-core/playground/src/adapters/MockStreamAdapter.ts
  packages/ai-chat-core/playground/src/examples/chat-example.tsx
  packages/ai-chat-core/playground/src/main.tsx
  packages/ai-chat-core/playground/src/playground.css
  packages/ai-chat-core/playground/src/playground.tsx
  packages/ai-chat-core/playground/src/plugins/defaultPlugin.tsx
  packages/ai-chat-core/playground/src/providers/ChatRuntimeProvider.tsx
  packages/ai-chat-core/src/runtime/ThreadRuntime/ThreadRuntimeCore.ts
  packages/ai-chat-core/vite.config.playground.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io

pipeline-styles-update (#10655)
  packages/core-design-system/design-tokens/$metadata.json
  packages/core-design-system/design-tokens/$themes.json
  packages/core-design-system/design-tokens/components/desktop/base/pipeline.json
  packages/core-design-system/design-tokens/core/colors_hex.json
  packages/core-design-system/design-tokens/core/colors_lch.json
  packages/core-design-system/design-tokens/mode/dark/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/default-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast.json
  packages/core-design-system/design-tokens/mode/light/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/default-protanopia.json
  packages/core-design-system/design-tokens/mode/light/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/default.json
  packages/core-design-system/design-tokens/mode/light/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast.json
Owners: none

update
  packages/core-design-system/design-tokens/components/desktop/base/btn.json
Owners: none

side nav: drag and drop implementation
  packages/ui/src/components/app-sidebar/sidebar-item.tsx
  packages/ui/src/components/sidebar/__tests__/sidebar-item.test.tsx
  packages/ui/src/components/sidebar/sidebar-item.tsx
  packages/ui/tailwind-utils-config/components/sidebar.ts
Owners: none

Added a playground for ai chat (#10654)
  packages/ai-chat-core/package.json
  packages/ai-chat-core/playground/index.html
  packages/ai-chat-core/playground/src/adapters/MockStreamAdapter.ts
  packages/ai-chat-core/playground/src/examples/chat-example.tsx
  packages/ai-chat-core/playground/src/main.tsx
  packages/ai-chat-core/playground/src/playground.css
  packages/ai-chat-core/playground/src/playground.tsx
  packages/ai-chat-core/playground/src/plugins/defaultPlugin.tsx
  packages/ai-chat-core/playground/src/providers/ChatRuntimeProvider.tsx
  packages/ai-chat-core/src/runtime/ThreadRuntime/ThreadRuntimeCore.ts
  packages/ai-chat-core/vite.config.playground.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io

refactor: consolidate tooltip animation styles into Tailwind config
  packages/ui/src/components/tooltip.tsx
  packages/ui/tailwind-utils-config/components/tooltip.ts
Owners: none

fix: apply Prettier formatting to tooltip component
  packages/ui/src/components/tooltip.tsx
Owners: none

fix: resolve build issue with animation styles
  packages/ui/src/components/tooltip.tsx
  packages/ui/tailwind-utils-config/components/tooltip.ts
Owners: none

fix: reduce tooltip delay from 500ms to 400ms for better UX
  packages/ui/src/components/tooltip.tsx
Owners: none

refactor: rename tooltip theme from 'subtle' to 'themed' for clarity
  apps/portal/src/content/docs/components/overlays/tooltip.mdx
  packages/ui/src/components/tooltip.tsx
Owners: none

fix: [CODE-4669] CMD Click does not work for cross scope Repos and PR listing
  apps/gitness/src/framework/context/MFEContext.tsx
  apps/gitness/src/pages-v2/project/pull-request/pull-request-list.tsx
  apps/gitness/src/pages-v2/repo/repo-list.tsx
  apps/gitness/src/pages-v2/repo/transform-utils/repo-list-transform.ts
  apps/gitness/src/utils/scope-url-utils.ts
  packages/ui/src/components/stacked-list.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-list.tsx
  packages/ui/src/views/repo/pull-request/pull-request.types.ts
  packages/ui/src/views/repo/repo-list/repo-list.tsx
  packages/ui/src/views/repo/repo-list/types.ts
Owners: none

Added truncate for menu-item and fixed gap
  packages/ui/src/components/sidebar/sidebar-item.tsx
Owners: none

remove link and active item highlight from group nav item parent
  packages/ui/src/components/nav/sidebar-item.tsx
  packages/ui/src/components/sidebar/sidebar-item.tsx
Owners: none

Tooltip component update (#10644)
  apps/portal/src/content/docs/components/overlays/tooltip.mdx
  packages/core-design-system/design-tokens/$themes.json
  packages/core-design-system/design-tokens/components/desktop/base/popover.json
  packages/core-design-system/design-tokens/components/desktop/base/tooltip.json
  packages/core-design-system/design-tokens/mode/dark/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/default-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast.json
  packages/core-design-system/design-tokens/mode/light/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/default-protanopia.json
  packages/core-design-system/design-tokens/mode/light/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/default.json
  packages/core-design-system/design-tokens/mode/light/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast.json
  packages/ui/src/components/tooltip.tsx
  packages/ui/tailwind-utils-config/components/popover.ts
  packages/ui/tailwind-utils-config/components/tooltip.ts
Owners: none

group py upd
  packages/core-design-system/design-tokens/components/desktop/base/sidebar.json
Owners: none

tokens update
  packages/core-design-system/design-tokens/components/desktop/base/sidebar.json
Owners: none

fix
  packages/core-design-system/design-tokens/$themes.json
  packages/core-design-system/design-tokens/components/desktop/base/sidebar.json
Owners: none

upd
  packages/core-design-system/design-tokens/components/desktop/base/sidebar.json
Owners: none

feat: [AIDEVOPS-1710]: capability exeuction initial commit (#10656)
  packages/ai-chat-core/package.json
  packages/ai-chat-core/playground/src/playground.tsx
  packages/ai-chat-core/src/core/CapabilityExecutionManager.ts
  packages/ai-chat-core/src/core/CapabilityRegistry.ts
  packages/ai-chat-core/src/core/index.ts
  packages/ai-chat-core/src/react/components/CapabilityRenderer.tsx
  packages/ai-chat-core/src/react/components/ContentRenderer.tsx
  packages/ai-chat-core/src/react/components/index.ts
  packages/ai-chat-core/src/react/hooks/index.ts
  packages/ai-chat-core/src/react/hooks/useCapability.ts
  packages/ai-chat-core/src/react/hooks/useCapabilityExecution.ts
  packages/ai-chat-core/src/react/index.ts
  packages/ai-chat-core/src/react/utils/index.ts
  packages/ai-chat-core/src/react/utils/makeCapability.tsx
  packages/ai-chat-core/src/runtime/AssistantRuntime/AssistantRuntime.tsx
  packages/ai-chat-core/src/runtime/ThreadListRuntime/ThreadListRuntime.tsx
  packages/ai-chat-core/src/runtime/ThreadRuntime/ThreadRuntimeCore.ts
  packages/ai-chat-core/src/types/adapters.ts
  packages/ai-chat-core/src/types/capability.ts
  packages/ai-chat-core/src/types/index.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io

feat(design-system): add LCH palette generator and new color palette
  packages/core-design-system/design-tokens/core/colors_lch.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
  packages/core-design-system/tools/palette-generator.html
Owners: none

fix
  packages/core-design-system/tools/palette-generator.html
Owners: none

feat(design-system): add save functionality and hex fallback generation
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
  packages/core-design-system/scripts/generate-hex-fallback.js
  packages/core-design-system/tools/palette-generator.html
Owners: none

updated semantics
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/core-design-system/design-tokens/mode/light/default.json
  packages/core-design-system/tools/design-system-studio.html
Owners: none

colors fix
  packages/core-design-system/design-tokens/core/colors_lch_new.json
Owners: none

colors update-test
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

Colors update test
  packages/core-design-system/design-tokens/BRAND_MIGRATION_REPORT.md
Owners: none

colors fix
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
  packages/core-design-system/tools/palette-generator.html
Owners: none

colors fix
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

feat: Make Sidebar item support sub-menu controlled open/close (#10662)
  packages/ui/src/components/nav/side-nav.tsx
  packages/ui/src/components/nav/sidebar-item.tsx
  packages/ui/src/components/sidebar/sidebar-item.tsx
Owners: none

Bump patch version in packages/ui/package.json to 0.0.213
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io
