Repository harness/canary, changes with the owners that CODEOWNERS names for each.
All owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io, srdjan.arsic@harness.io

CODEOWNERS:

# Global configs
.github/ abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.eslintrc.js abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.prettierrc.yml abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Common ownership for shared config files
/packages/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/packages/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Apps
/apps/gitness/* abhinav.rastogi@harness.io vardan.bansal@harness.io
/apps/portal/* kevin.nagurski@harness.io pranesh.g@harness.io abhinav.rastogi@harness.io vardan.bansal@harness.io

# Packages with shared ownership
/packages/ui/* abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io pranesh.g@harness.io

# Packages with individual owners
/packages/forms/* srdjan.arsic@harness.io
/packages/unified-pipeline/* srdjan.arsic@harness.io
/packages/yaml-editor/* srdjan.arsic@harness.io
/packages/core-design-system/* pranesh.g@harness.io

updated typography class
  packages/ui/tailwind-utils-config/utilities/typography.ts
Owners: none

fix
  packages/core-design-system/design-tokens/mode/dark/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/default-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast.json
Owners: none

hover fix
  packages/core-design-system/design-tokens/mode/light/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/default-protanopia.json
  packages/core-design-system/design-tokens/mode/light/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast.json
Owners: none

disabled tokens updated
  packages/core-design-system/design-tokens/mode/dark/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/default-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast.json
  packages/core-design-system/design-tokens/mode/light/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/default-protanopia.json
  packages/core-design-system/design-tokens/mode/light/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/default.json
  packages/core-design-system/design-tokens/mode/light/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast.json
Owners: none

header tokens added
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

prettier fix
  packages/ui/src/components/dropdown-menu.tsx
  packages/ui/src/views/repo/repo-branch-rules/components/repo-branch-rules-fields.tsx
Owners: none

Edit packages/ui/tailwind-utils-config/utilities/typography.ts
  packages/ui/tailwind-utils-config/utilities/typography.ts
Owners: none

sidebar tokens added
  packages/core-design-system/design-tokens/mode/dark/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/default-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast.json
  packages/core-design-system/design-tokens/mode/light/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/default-protanopia.json
  packages/core-design-system/design-tokens/mode/light/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/default.json
  packages/core-design-system/design-tokens/mode/light/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast.json
Owners: none

Fix caption icon and text alignment issue
  packages/ui/tailwind-utils-config/components/caption.ts
Owners: none

fix focus trigger on other pages
  packages/ui/src/views/profile-settings/components/profile-settings-keys-list.tsx
  packages/ui/src/views/profile-settings/components/profile-settings-tokens-list.tsx
  packages/ui/src/views/profile-settings/profile-settings-keys-page.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-header.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-timeline-item.tsx
  packages/ui/src/views/user-management/components/page-components/actions/actions.tsx
  packages/ui/src/views/user-management/components/page-components/content/components/users-list/users-list.tsx
Owners: none

refactor dialog trigger on summary page
  apps/gitness/src/components-v2/branch-selector-container.tsx
  apps/gitness/src/pages-v2/repo/repo-summary.tsx
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/views/repo/components/branch-selector-v2/branch-selector-dropdown.tsx
  packages/ui/src/views/repo/components/branch-selector-v2/branch-selector.tsx
  packages/ui/src/views/repo/components/summary/summary.tsx
  packages/ui/src/views/repo/repo-summary/components/clone-repo-dialog.tsx
  packages/ui/src/views/repo/repo-summary/components/summary-panel.tsx
Owners: none

fix: scroll bar overlapping with code in suggestions blocks (#10421)
  packages/ui/src/components/markdown-viewer/CodeSuggestionBlock.tsx
Owners: none

figma update
  packages/core-design-system/design-tokens/mode/dark/figma-icon-stroke-width.json
  packages/core-design-system/design-tokens/mode/light/figma-icon-stroke-width.json
Owners: none

fixes
  packages/ui/src/views/repo/components/branch-selector-v2/branch-selector-dropdown.tsx
  packages/ui/src/views/repo/components/summary/summary.tsx
Owners: none

fix hideCopyButton prop
  packages/ui/src/components/branch-tag.tsx
  packages/ui/src/components/copy-tag.tsx
Owners: none

fixes
  packages/ui/src/views/labels/components/label-tag.tsx
  packages/ui/src/views/labels/components/labels-list-view.tsx
  packages/ui/src/views/labels/label-form-page.tsx
  packages/ui/src/views/repo/pull-request/components/labels/label-value-selector.tsx
  packages/ui/src/views/repo/pull-request/components/labels/labels-filter.tsx
  packages/ui/src/views/repo/pull-request/components/labels/pull-request-labels-header.tsx
  packages/ui/src/views/repo/pull-request/components/labels/pull-request-labels-list.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-system-comments.tsx
Owners: none

prevent commit suggestion button from rerender
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/components/markdown-viewer/index.tsx
  packages/ui/src/views/repo/pull-request/details/components/common/pull-request-comment-view.tsx
Owners: none

Remove old label classnames (#2139)
  packages/ui/package.json
  packages/ui/src/styles/shared-style-variables.css
  packages/ui/src/views/labels/components/label-marker.tsx
  packages/ui/src/views/labels/components/label-tag.tsx
  packages/ui/src/views/labels/components/labels-list-view.tsx
  packages/ui/src/views/labels/index.ts
  packages/ui/src/views/labels/label-form-page.tsx
  packages/ui/src/views/repo/pull-request/components/labels/label-value-selector.tsx
  packages/ui/src/views/repo/pull-request/components/labels/labels-filter.tsx
  packages/ui/src/views/repo/pull-request/components/labels/pull-request-labels-header.tsx
  packages/ui/src/views/repo/pull-request/components/labels/pull-request-labels-list.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-system-comments.tsx
  packages/ui/tailwind-design-system.ts
  packages/ui/tailwind-utils-config/components/tag.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

prevent commit suggestion button from rerender (#2143)
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/components/markdown-viewer/index.tsx
  packages/ui/src/views/repo/pull-request/details/components/common/pull-request-comment-view.tsx
Owners: none

remove old toast styles
  packages/ui/package.json
  packages/ui/src/components/toast/toast.tsx
  packages/ui/src/components/toast/toaster.tsx
  packages/ui/src/styles/shared-style-variables.css
  packages/ui/tailwind-design-system.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix: minor secrets fixes (#10431)
  packages/ui/src/views/platform/input-reference-component.tsx
Owners: none

refactor dialog trigger on summary page (#2134)
  apps/gitness/src/components-v2/branch-selector-container.tsx
  apps/gitness/src/pages-v2/repo/repo-summary.tsx
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/views/repo/components/branch-selector-v2/branch-selector-dropdown.tsx
  packages/ui/src/views/repo/components/branch-selector-v2/branch-selector.tsx
  packages/ui/src/views/repo/components/summary/summary.tsx
  packages/ui/src/views/repo/repo-summary/components/clone-repo-dialog.tsx
  packages/ui/src/views/repo/repo-summary/components/summary-panel.tsx
Owners: none

add pr status header design review (#2138)
  packages/ui/src/components/avatar.tsx
  packages/ui/src/components/branch-tag.tsx
  packages/ui/src/components/copy-tag.tsx
  packages/ui/src/components/more-actions-tooltip.tsx
  packages/ui/src/components/text.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-side-bar.tsx
  packages/ui/src/views/repo/pull-request/components/reviewers/pull-request-reviewers-header.tsx
  packages/ui/src/views/repo/pull-request/components/reviewers/pull-request-reviewers-list.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-panel.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/pull-request-checks-section.tsx
  packages/ui/tailwind-design-system.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix: Handle "usePreferenceStore" missing from MFE context (#10432)
  apps/gitness/src/pages-v2/pull-request/pull-request-changes.tsx
Owners: none

pulling the rbac tyes from harness/microfront instead of copying and pulling from components (#10434)
  packages/ui/package.json
  packages/ui/src/components/rbac/types.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix pr comment box textarea selection events
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-comment-box.tsx
Owners: none

fix lint
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-comment-box.tsx
Owners: none

fix: cecrets bugs, empty states, links etc
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/package.json
  packages/ui/src/views/secrets/secret-details/secret-details-activity-list.tsx
  packages/ui/src/views/secrets/secret-details/secret-details-references-list.tsx
  packages/ui/src/views/secrets/secret-details/types.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix: tsc
  apps/design-system/src/subjects/views/secrets/secret-details-reference.tsx
Owners: none

fix: hover states of file explorer folder item (#10433)
  packages/ui/src/components/file-explorer.tsx
  packages/ui/src/styles/styles.css
Owners: none

fix: diff optimizations
  packages/ui/src/views/repo/pull-request/components/in-view-diff-renderer.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-accordian.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-diff-viewer.tsx
  packages/ui/src/views/repo/pull-request/utils.ts
Owners: none

chore: refactor - move delegate input to platform UI
  apps/design-system/src/pages/view-preview/view-preview.tsx
  apps/design-system/src/subjects/views/delegates/delegate-connectivity.tsx
  apps/design-system/src/subjects/views/delegates/delegate-selector.tsx
  apps/design-system/src/subjects/views/delegates/mock-delegates-list.json
  apps/design-system/src/subjects/views/delegates/utils.ts
  packages/ui/src/views/delegates/components/delegate-connectivity-list.tsx
  packages/ui/src/views/delegates/delegate-selector/delegate-selector-form.tsx
  packages/ui/src/views/delegates/delegate-selector/delegate-selector-input.tsx
  packages/ui/src/views/delegates/index.ts
  packages/ui/src/views/delegates/types.ts
  packages/ui/src/views/index.ts
Owners: none

feat: moved ui tailwind contents to ui pkg
  apps/gitness/tailwind.config.js
  packages/ui/tailwind.config.ts
Owners: abhinav.rastogi@harness.io, vardan.bansal@harness.io, kevin.nagurski@harness.io, pranesh.g@harness.io

chore: refactor - move delegate input to platform UI (#10438)
  apps/design-system/src/pages/view-preview/view-preview.tsx
  apps/design-system/src/subjects/views/delegates/delegate-connectivity.tsx
  apps/design-system/src/subjects/views/delegates/delegate-selector.tsx
  apps/design-system/src/subjects/views/delegates/mock-delegates-list.json
  apps/design-system/src/subjects/views/delegates/utils.ts
  packages/ui/src/views/delegates/components/delegate-connectivity-list.tsx
  packages/ui/src/views/delegates/delegate-selector/delegate-selector-form.tsx
  packages/ui/src/views/delegates/delegate-selector/delegate-selector-input.tsx
  packages/ui/src/views/delegates/index.ts
  packages/ui/src/views/delegates/types.ts
  packages/ui/src/views/index.ts
Owners: none

remove old toast styles
  packages/ui/src/components/toast/toast.tsx
  packages/ui/src/components/toast/toaster.tsx
  packages/ui/src/styles/shared-style-variables.css
  packages/ui/tailwind-design-system.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

build translations
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
Owners: none

remove old toast classnames (#2140)
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/components/toast/toast.tsx
  packages/ui/src/components/toast/toaster.tsx
  packages/ui/src/styles/shared-style-variables.css
  packages/ui/tailwind-design-system.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

add custom dialog triggers to repo code pages
  apps/gitness/src/pages-v2/repo/repo-sidebar.tsx
  packages/ui/src/views/labels/components/labels-list-view.tsx
  packages/ui/src/views/project/project-general/project-general-page.tsx
  packages/ui/src/views/project/project-members/components/member-list.tsx
  packages/ui/src/views/project/project-members/projects-member-page.tsx
  packages/ui/src/views/repo/repo-settings/components/repo-settings-general-delete.tsx
  packages/ui/src/views/repo/repo-settings/components/repo-settings-general-form.tsx
  packages/ui/src/views/repo/repo-settings/components/repo-settings-general-rules.tsx
  packages/ui/src/views/repo/repo-tags/components/repo-tags-list.tsx
  packages/ui/src/views/repo/repo-tags/repo-tags-list-page.tsx
  packages/ui/src/views/repo/webhooks/webhook-list/components/repo-webhook-list.tsx
Owners: none

fix focus trigger on other pages
  packages/ui/src/views/profile-settings/components/profile-settings-keys-list.tsx
  packages/ui/src/views/profile-settings/components/profile-settings-tokens-list.tsx
  packages/ui/src/views/profile-settings/profile-settings-keys-page.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-header.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-timeline-item.tsx
  packages/ui/src/views/user-management/components/page-components/actions/actions.tsx
  packages/ui/src/views/user-management/components/page-components/content/components/users-list/users-list.tsx
Owners: none

fix classes
  packages/ui/src/views/project/project-members/components/member-list.tsx
Owners: none
