Repository harness/canary, changes with the owners that CODEOWNERS names for each.
All owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io, srdjan.arsic@harness.io

CODEOWNERS:

# Global configs
.github/ abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.eslintrc.js abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.prettierrc.yml abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Common ownership for shared config files
/packages/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/packages/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Apps
/apps/gitness/* abhinav.rastogi@harness.io vardan.bansal@harness.io
/apps/portal/* kevin.nagurski@harness.io pranesh.g@harness.io abhinav.rastogi@harness.io vardan.bansal@harness.io

# Packages with shared ownership
/packages/ui/* abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io pranesh.g@harness.io

# Packages with individual owners
/packages/forms/* srdjan.arsic@harness.io
/packages/unified-pipeline/* srdjan.arsic@harness.io
/packages/yaml-editor/* srdjan.arsic@harness.io
/packages/core-design-system/* pranesh.g@harness.io

fix
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

upd
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
Owners: none

fix
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
Owners: none

fix
  packages/core-design-system/design-tokens/mode/dark/default.json
Owners: none

upd
  packages/core-design-system/design-tokens/core/colors_hex.json
  packages/core-design-system/design-tokens/core/colors_lch.json
Owners: none

fix
  packages/core-design-system/design-tokens/$themes.json
  packages/core-design-system/design-tokens/mode/dark/default.json
Owners: none

fix
  packages/core-design-system/design-tokens/$themes.json
  packages/core-design-system/design-tokens/core/colors_hex_new.json
Owners: none

upd
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
Owners: none

fix: adjust gray.50 lightness from 98% to 95%
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
Owners: none

upd
  packages/core-design-system/design-tokens/mode/dark/default.json
Owners: none

fix
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
Owners: none

fix
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
Owners: none

feat(design-tokens): sync card fade tokens and comprehensive descriptions from card-fade branch
  packages/core-design-system/design-tokens/mode/dark/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/default-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast.json
  packages/core-design-system/design-tokens/mode/light/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/default-protanopia.json
  packages/core-design-system/design-tokens/mode/light/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/default.json
  packages/core-design-system/design-tokens/mode/light/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast.json
Owners: none

upd
  packages/core-design-system/design-tokens/core/colors_hex.json
  packages/core-design-system/design-tokens/core/colors_lch.json
Owners: none

fix
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

fix
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

fix
  packages/core-design-system/design-tokens/core/colors_hex.json
  packages/core-design-system/design-tokens/core/colors_lch.json
Owners: none

upd
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
Owners: none

upd
  packages/core-design-system/design-tokens/core/colors_hex.json
  packages/core-design-system/design-tokens/core/colors_lch.json
  packages/core-design-system/tools/palette-generator.html
Owners: none

fix
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

chore: remove palette and studio scripts from package.json
  packages/core-design-system/package.json
Owners: pranesh.g@harness.io

upd
  packages/core-design-system/design-tokens/$themes.json
  packages/core-design-system/design-tokens/core/colors_hex.json
  packages/core-design-system/design-tokens/core/colors_lch.json
  packages/core-design-system/design-tokens/mode/dark/default.json
Owners: none

Add lime color support to tag component
  apps/gitness/src/styles/monaco-styles.css
  apps/portal/src/content/docs/components/feedback/tag.mdx
  packages/ai-chat-core/package.json
  packages/core-design-system/scripts/generate-hex-fallback.js
  packages/core-design-system/tools/design-system-studio.html
  packages/core-design-system/tools/palette-generator.html
  packages/forms/playground/src/examples/validation-example/validation-example.tsx
  packages/pipeline-graph/README.md
  packages/pipeline-graph/playground/src/types/content-node-types.ts
  packages/ui/src/components/__tests__/tag.test.tsx
  packages/ui/src/components/multi-select.tsx
  packages/ui/src/components/tag.tsx
  packages/ui/src/styles/styles.css
  packages/ui/src/views/labels/types.ts
  packages/ui/src/views/repo/pull-request/pull-request.types.ts
  packages/ui/tailwind-utils-config/components/alert.ts
  packages/ui/tailwind-utils-config/components/button.ts
  packages/ui/tailwind-utils-config/components/index.ts
  packages/ui/tailwind-utils-config/components/tag.ts
  packages/yaml-editor/vite.config.ts.timestamp-1765989485555-209d0a83e7184.mjs
  pnpm-lock.yaml
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, srdjan.arsic@harness.io

fix
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

fix
  packages/core-design-system/design-tokens/mode/dark/default.json
Owners: none

upd
  packages/core-design-system/design-tokens/core/colors_hex.json
  packages/core-design-system/design-tokens/core/colors_lch.json
Owners: none

fix
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

fix
  apps/portal/src/components/MainColorPalette.astro
Owners: none

chore: move design system tools to local-tools and exclude from repo
  .gitignore
  packages/core-design-system/tools/design-system-studio.html
  packages/core-design-system/tools/palette-generator.html
Owners: none

colors fix
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
  packages/core-design-system/tools/palette-generator.html
Owners: none

fix
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
Owners: none

gray tweak
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
Owners: none

colors fix
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

fix
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

fix
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

rename
  packages/core-design-system/design-tokens/core/colors_lch_new.json
Owners: none

fix: restore high chroma for orange to prevent muddy appearance
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
Owners: none

fix
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
Owners: none

fix
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

updated semantics
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/core-design-system/design-tokens/mode/light/default.json
  packages/core-design-system/tools/design-system-studio.html
Owners: none
