Repository harness/canary, changes with the owners that CODEOWNERS names for each.
All owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io, srdjan.arsic@harness.io

Approach for detecting react-router-dom version by Outlet - passed to RouterContextProvider or not
  apps/portal/src/components/docs-page/example.tsx
  apps/portal/src/components/docs-page/props-table.tsx
  packages/ui/src/components/tabs.tsx
  packages/ui/src/context/router-context.tsx
Owners: none

Approach for detecting react-router-dom version by Outlet - passed to RouterContextProvider or not
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Fixed a bug in the isActive behavior of NavLink in the tabs component (#2135)
  apps/portal/src/components/docs-page/example.tsx
  apps/portal/src/components/docs-page/props-table.tsx
  packages/ui/package.json
  packages/ui/src/components/tabs.tsx
  packages/ui/src/context/router-context.tsx
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

multiline selection for unified view (#10425)
  packages/forms/src/types/types.ts
  packages/ui/src/views/repo/pull-request/components/extended-diff-view/extended-diff-view-style.css
  packages/ui/src/views/repo/pull-request/components/extended-diff-view/extended-diff-view-types.ts
  packages/ui/src/views/repo/pull-request/components/extended-diff-view/extended-diff-view.tsx
  packages/ui/src/views/repo/pull-request/components/extended-diff-view/hooks/useMultiSelectSplit.tsx
  packages/ui/src/views/repo/pull-request/components/extended-diff-view/hooks/useMultiSelectUnified.tsx
  packages/ui/src/views/repo/pull-request/components/extended-diff-view/utils/extended-diff-view-common-utils.ts
  packages/ui/src/views/repo/pull-request/components/extended-diff-view/utils/extended-diff-view-split-utils.ts
  packages/ui/src/views/repo/pull-request/components/extended-diff-view/utils/extended-diff-view-unified-utils.ts
  packages/ui/src/views/repo/pull-request/components/pull-request-diff-viewer.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/diff-utils.ts
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-comment-box.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-commenting-on.tsx
Owners: none

feat: add dialog trigger support for create tag action in RepoTagsList
  packages/ui/src/components/no-data.tsx
  packages/ui/src/views/repo/repo-tags/components/repo-tags-list.tsx
Owners: none

Fix focus behavior by adding a button when onClick is passed to Table and StackList
  packages/ui/src/components/stacked-list.tsx
  packages/ui/src/components/table.tsx
  packages/ui/src/views/labels/components/labels-list-view.tsx
  packages/ui/tailwind-utils-config/components/stacked-list.ts
  packages/ui/tailwind-utils-config/components/table-v2.ts
Owners: none

unit test for multiline select
  packages/ui/src/views/repo/pull-request/details/components/conversation/__tests__/diff-utils-split-view.test.ts
  packages/ui/src/views/repo/pull-request/details/components/conversation/__tests__/diff-utils-unified-view.test.ts
  packages/ui/src/views/repo/pull-request/details/components/conversation/__tests__/diff-utils.mocks.ts
Owners: none

fix pr comment box textarea selection events (#10435)
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-comment-box.tsx
Owners: none

Label row click navigation fix (#10440)
  apps/gitness/src/utils/rule-url-utils.ts
Owners: none

fix: secrets bugs, empty states, links on details etc (#10436)
  apps/design-system/src/subjects/views/secrets/secret-details-reference.tsx
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/views/secrets/secret-details/secret-details-activity-list.tsx
  packages/ui/src/views/secrets/secret-details/secret-details-references-list.tsx
  packages/ui/src/views/secrets/secret-details/types.ts
Owners: none

fix: various design fixes on secrets, details and refs tabs (#10442)
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/package.json
  packages/ui/src/views/components/FilterGroup.tsx
  packages/ui/src/views/layouts/SecretDetailsLayout.tsx
  packages/ui/src/views/secrets/components/reference-secret-view.tsx
  packages/ui/src/views/secrets/secret-details/secret-details-activity-list.tsx
  packages/ui/src/views/secrets/secret-details/secret-details-activity-page.tsx
  packages/ui/src/views/secrets/secret-details/secret-details-references-list.tsx
  packages/ui/src/views/secrets/secret-details/secret-details-references-page.tsx
  packages/ui/src/views/secrets/secrets-list/secrets-list-page.tsx
  packages/ui/src/views/secrets/secrets-list/secrets-list.tsx
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Fix Link component flash of underline while mouse-out (#10441)
  packages/ui/tailwind-utils-config/components/button.ts
  packages/ui/tailwind-utils-config/components/link.ts
Owners: none

Fix file editor issue when a file is completely cleared for edit (#10424)
  apps/gitness/src/components-v2/file-editor.tsx
Owners: none

refactor: rename dialog trigger wrappers in NoData component
  packages/ui/src/components/no-data.tsx
Owners: none

Fix focus behavior by adding a button when onClick is passed to Table and StackList (#2145)
  packages/ui/src/components/stacked-list.tsx
  packages/ui/src/components/table.tsx
  packages/ui/src/views/labels/components/labels-list-view.tsx
  packages/ui/tailwind-utils-config/components/stacked-list.ts
  packages/ui/tailwind-utils-config/components/table-v2.ts
Owners: none

Refactor dialog trigger on other repo page (#2142)
  apps/gitness/src/pages-v2/repo/repo-sidebar.tsx
  packages/ui/src/components/no-data.tsx
  packages/ui/src/views/labels/components/labels-list-view.tsx
  packages/ui/src/views/profile-settings/components/profile-settings-keys-list.tsx
  packages/ui/src/views/profile-settings/components/profile-settings-tokens-list.tsx
  packages/ui/src/views/profile-settings/profile-settings-keys-page.tsx
  packages/ui/src/views/project/project-general/project-general-page.tsx
  packages/ui/src/views/project/project-members/components/member-list.tsx
  packages/ui/src/views/project/project-members/projects-member-page.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-header.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-timeline-item.tsx
  packages/ui/src/views/repo/repo-settings/components/repo-settings-general-delete.tsx
  packages/ui/src/views/repo/repo-settings/components/repo-settings-general-form.tsx
  packages/ui/src/views/repo/repo-settings/components/repo-settings-general-rules.tsx
  packages/ui/src/views/repo/repo-tags/components/repo-tags-list.tsx
  packages/ui/src/views/repo/repo-tags/repo-tags-list-page.tsx
  packages/ui/src/views/repo/webhooks/webhook-list/components/repo-webhook-list.tsx
  packages/ui/src/views/user-management/components/page-components/actions/actions.tsx
  packages/ui/src/views/user-management/components/page-components/content/components/users-list/users-list.tsx
Owners: none

break words in view only (#10445)
  packages/ui/src/components/view-only.tsx
Owners: none

Fixed StackList onClick in Repo list, PR list, and Repo rules pages
  packages/ui/src/views/repo/pull-request/components/pull-request-list.tsx
  packages/ui/src/views/repo/repo-list/repo-list.tsx
  packages/ui/src/views/repo/repo-settings/components/repo-settings-general-rules.tsx
  packages/ui/src/views/repo/webhooks/webhook-executions/repo-webhook-executions-list-page.tsx
Owners: none

Fixed StackList onClick in Repo list, PR list, and Repo rules pages (#2148)
  packages/ui/src/views/repo/pull-request/components/pull-request-list.tsx
  packages/ui/src/views/repo/repo-list/repo-list.tsx
  packages/ui/src/views/repo/repo-settings/components/repo-settings-general-rules.tsx
  packages/ui/src/views/repo/webhooks/webhook-executions/repo-webhook-executions-list-page.tsx
Owners: none

Refactor fix for link hover underline issue fix (#10443)
  packages/ui/tailwind-design-system.ts
  packages/ui/tailwind-utils-config/components/button.ts
  packages/ui/tailwind-utils-config/components/link.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Fix reference input styles like design system input component (#10444)
  packages/ui/src/views/platform/input-reference-component.tsx
  packages/ui/tailwind-design-system.ts
  packages/ui/tailwind-utils-config/components/card-select.ts
  packages/ui/tailwind-utils-config/components/card.ts
  packages/ui/tailwind-utils-config/utilities/borders.ts
  packages/ui/tailwind-utils-config/utilities/index.ts
  packages/ui/tailwind-utils-config/utilities/padding.ts
  packages/ui/tailwind-utils-config/utilities/typography.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Fix multi select dropdown scroll issue (#10448)
  packages/ui/tailwind-utils-config/components/multi-select.ts
Owners: none

fix label with no value
  packages/ui/src/views/labels/components/label-tag.tsx
  packages/ui/src/views/repo/pull-request/components/labels/label-value-selector.tsx
Owners: none

fix: bump ui package (#10450)
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix label with no value (#2149)
  packages/ui/src/views/labels/components/label-tag.tsx
  packages/ui/src/views/repo/pull-request/components/labels/label-value-selector.tsx
Owners: none

fix: disable ligatures in codeblocks (#10447)
  packages/ui/src/components/markdown-viewer/style.css
Owners: none

chore: Add "maximized" Dialog variant (#10454)
  apps/portal/src/content/docs/components/dialog.mdx
  packages/ui/src/components/dialog.tsx
  packages/ui/tailwind-utils-config/components/dialog.ts
Owners: none

chore: Bump "package/ui" version (#10455)
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Refactored the secrets form and removed empty divs in Forms
  packages/ui/src/views/run-pipeline/visual-view.tsx
  packages/ui/src/views/secrets/secret-entity-form.tsx
  packages/ui/src/views/unified-pipeline-studio/components/entity-form/unified-pipeline-studio-entity-form.tsx
  packages/ui/src/views/unified-pipeline-studio/components/pipeline-config/unified-pipeline-studio-pipeline-config-form.tsx
  packages/ui/src/views/unified-pipeline-studio/components/stage-config/unified-pipeline-studio-stage-config-form.tsx
Owners: none

Refactored the secrets form and removed empty divs in Forms
  packages/forms/package.json
  packages/forms/src/core/components/InputComponentRenderer.tsx
  packages/forms/src/form/RenderInputs/RenderInputs.tsx
  packages/forms/src/form/Row/Row.tsx
  packages/forms/src/form/index.ts
  packages/ui/src/views/run-pipeline/visual-view.tsx
  packages/ui/src/views/secrets/secret-entity-form.tsx
  packages/ui/src/views/unified-pipeline-studio/components/entity-form/unified-pipeline-studio-entity-form.tsx
  packages/ui/src/views/unified-pipeline-studio/components/pipeline-config/unified-pipeline-studio-pipeline-config-form.tsx
  packages/ui/src/views/unified-pipeline-studio/components/stage-config/unified-pipeline-studio-stage-config-form.tsx
Owners: srdjan.arsic@harness.io

Update tooltip API in all inputs (#10456)
  apps/portal/src/content/docs/components/icon.mdx
  apps/portal/src/content/docs/components/label.mdx
  apps/portal/src/content/docs/components/multi-select.mdx
  apps/portal/src/content/docs/components/number-input.mdx
  apps/portal/src/content/docs/components/radio.mdx
  apps/portal/src/content/docs/components/select.mdx
  apps/portal/src/content/docs/components/text-input.mdx
  apps/portal/src/content/docs/components/textarea.mdx
  packages/ui/src/components/form-primitives/label.tsx
  packages/ui/src/components/form-primitives/select.tsx
  packages/ui/src/components/form-primitives/textarea.tsx
  packages/ui/src/components/icon-with-tooltip.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/components/inputs/number-input.tsx
  packages/ui/src/components/inputs/text-input.tsx
  packages/ui/src/components/inputs/types.ts
  packages/ui/src/components/multi-select.tsx
  packages/ui/src/components/radio.tsx
  packages/ui/tailwind-utils-config/components/label.ts
Owners: none

fix: refactor getSecretInfo to use custom dialog trigger for delete action
  packages/ui/src/views/layouts/SecretDetailsLayout.tsx
Owners: none

Refactored the secrets form and removed empty divs in Forms
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix: multiple minor issues (#10452)
  apps/gitness/src/pages-v2/pull-request/stores/pull-request-list-store.tsx
  packages/ui/src/views/repo/components/branch-info-bar.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-header.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-item-description.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-list-header.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-list.tsx
  packages/ui/src/views/repo/repo-commit-details/components/commit-changes.tsx
Owners: none

feat: add relative image support (#10446)
  apps/design-system/src/subjects/views/pull-request-conversation/pull-request-conversation.tsx
  apps/gitness/src/pages-v2/pull-request/pull-request-conversation.tsx
  apps/gitness/src/pages-v2/repo/repo-summary.tsx
  apps/gitness/src/utils/path-utils.ts
  packages/ui/src/components/markdown-viewer/index.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-description-box.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-overview.tsx
  packages/ui/src/views/repo/repo-summary/repo-summary.tsx
Owners: none

Refactored the secrets form and removed empty divs in Forms (#2150)
  packages/forms/package.json
  packages/forms/src/core/components/InputComponentRenderer.tsx
  packages/forms/src/form/RenderInputs/RenderInputs.tsx
  packages/forms/src/form/Row/Row.tsx
  packages/forms/src/form/index.ts
  packages/ui/package.json
  packages/ui/src/views/run-pipeline/visual-view.tsx
  packages/ui/src/views/secrets/secret-entity-form.tsx
  packages/ui/src/views/unified-pipeline-studio/components/entity-form/unified-pipeline-studio-entity-form.tsx
  packages/ui/src/views/unified-pipeline-studio/components/pipeline-config/unified-pipeline-studio-pipeline-config-form.tsx
  packages/ui/src/views/unified-pipeline-studio/components/stage-config/unified-pipeline-studio-stage-config-form.tsx
Owners: srdjan.arsic@harness.io, abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix: ensure isDirtyList prop is set to false in SecretsListPage
  apps/design-system/src/subjects/views/secrets/secrets-list.tsx
Owners: none

feat: reset pagination on filter change and search in SecretsListPage
  packages/ui/src/views/secrets/secrets-list/secrets-list-page.tsx
  packages/ui/src/views/secrets/secrets-list/types.ts
Owners: none

fix: update button active state styles
  packages/ui/tailwind-utils-config/components/button.ts
Owners: none

feat: enhance secrets list UI
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/views/secrets/secrets-list/secrets-list-page.tsx
  packages/ui/src/views/secrets/secrets-list/secrets-list.tsx
  packages/ui/src/views/secrets/secrets-list/types.ts
Owners: none

CODEOWNERS:

# Global configs
.github/ abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.eslintrc.js abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.prettierrc.yml abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Common ownership for shared config files
/packages/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/packages/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Apps
/apps/gitness/* abhinav.rastogi@harness.io vardan.bansal@harness.io
/apps/portal/* kevin.nagurski@harness.io pranesh.g@harness.io abhinav.rastogi@harness.io vardan.bansal@harness.io

# Packages with shared ownership
/packages/ui/* abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io pranesh.g@harness.io

# Packages with individual owners
/packages/forms/* srdjan.arsic@harness.io
/packages/unified-pipeline/* srdjan.arsic@harness.io
/packages/yaml-editor/* srdjan.arsic@harness.io
/packages/core-design-system/* pranesh.g@harness.io
