Repository harness/canary, changes with the owners that CODEOWNERS names for each.
All owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io, srdjan.arsic@harness.io

CODEOWNERS:

# Global configs
.github/ abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.eslintrc.js abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.prettierrc.yml abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Common ownership for shared config files
/packages/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/packages/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Apps
/apps/gitness/* abhinav.rastogi@harness.io vardan.bansal@harness.io
/apps/portal/* kevin.nagurski@harness.io pranesh.g@harness.io abhinav.rastogi@harness.io vardan.bansal@harness.io

# Packages with shared ownership
/packages/ui/* abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io pranesh.g@harness.io

# Packages with individual owners
/packages/forms/* srdjan.arsic@harness.io
/packages/unified-pipeline/* srdjan.arsic@harness.io
/packages/yaml-editor/* srdjan.arsic@harness.io
/packages/core-design-system/* pranesh.g@harness.io

add files tree design review (#2088)
  apps/design-system/src/pages/view-preview/commit-details-diff-view-wrapper.tsx
  apps/gitness/src/pages-v2/repo/repo-commit-details-diff.tsx
  packages/ui/src/components/file-explorer.tsx
  packages/ui/src/components/search-files.tsx
  packages/ui/src/components/tabs.tsx
  packages/ui/src/context/router-context.tsx
  packages/ui/src/views/layouts/PullRequestLayout.tsx
  packages/ui/src/views/repo/pull-request/commits/pull-request-commits.tsx
  packages/ui/src/views/repo/pull-request/compare/components/pull-request-compare-diff-list.tsx
  packages/ui/src/views/repo/pull-request/compare/pull-request-compare-page.tsx
  packages/ui/src/views/repo/pull-request/components/extended-diff-view/extended-diff-view-style.css
  packages/ui/src/views/repo/pull-request/components/pull-request-accordian.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-diff-sidebar.tsx
  packages/ui/src/views/repo/pull-request/details/components/changes/pull-request-changes-explorer.tsx
  packages/ui/src/views/repo/pull-request/details/components/changes/pull-request-changes-filter.tsx
  packages/ui/src/views/repo/pull-request/details/components/changes/pull-request-changes.tsx
  packages/ui/src/views/repo/pull-request/details/pull-request-changes-page.tsx
  packages/ui/src/views/repo/pull-request/details/pull-request-conversation-page.tsx
  packages/ui/src/views/repo/repo-commit-details/components/commit-diff.tsx
  packages/ui/src/views/repo/repo-commit-details/components/commit-sidebar.tsx
  packages/ui/src/views/repo/repo-commit-details/repo-commit-details-view.tsx
  packages/ui/src/views/repo/repo-files/repo-files-view.tsx
  packages/ui/src/views/repo/repo-sidebar/index.tsx
  packages/ui/src/views/repo/repo-summary/repo-summary.tsx
Owners: none

fix: revert timeago card color, add hover, labels delete (#10261)
  apps/gitness/src/pages-v2/project/labels/project-labels-list-container.tsx
  apps/gitness/src/pages-v2/repo/labels/labels-list-container.tsx
  packages/ui/src/components/time-ago-card.tsx
  packages/ui/tailwind-utils-config/components/time-ago-card.ts
Owners: none

PR Conversation - File link should be clickable (#10265)
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-comment-box.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/regular-and-code-comment.tsx
Owners: none

moves the cursor to the end of a quoted reply in pr comment box (#10266)
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-comment-box.tsx
Owners: none

README in Summary - Edit icon should be available (#10268)
  packages/ui/src/views/repo/repo-summary/repo-summary.tsx
Owners: none

fix: minor bugs across app (#10269)
  apps/gitness/src/routes.tsx
  packages/ui/src/views/repo/pull-request/compare/pull-request-compare-page.tsx
Owners: none

fix: full app reload on commits page (#10271)
  packages/ui/src/components/commit-copy-actions.tsx
Owners: none

feat: SSE Pub/Sub Implementation (#10267)
  apps/gitness/src/components-v2/mfe/app-shell.tsx
  apps/gitness/src/components-v2/standalone/app-shell.tsx
  apps/gitness/src/framework/event/EventManager.ts
  apps/gitness/src/framework/hooks/useRepoImportEvent.tsx
  apps/gitness/src/framework/hooks/useRepoImportWithPubSub.tsx
  apps/gitness/src/framework/hooks/useSpaceSSE.tsx
  apps/gitness/src/framework/hooks/useSpaceSSEWithPubSub.tsx
  apps/gitness/src/pages-v2/repo/repo-import-page.tsx
  apps/gitness/src/pages-v2/repo/repo-list.tsx
  apps/gitness/src/types.ts
Owners: none

Fix scrolling in a Drawer inside Shadow DOM
  packages/ui/src/components/drawer/DrawerContent.tsx
  packages/ui/src/components/drawer/DrawerOverlay.tsx
  packages/ui/src/components/drawer/DrawerRoot.tsx
Owners: none

fix suggested changes ui
  packages/ui/src/components/markdown-viewer/CodeSuggestionBlock.tsx
  packages/ui/src/components/markdown-viewer/index.tsx
  packages/ui/src/components/markdown-viewer/style.css
  packages/ui/src/views/repo/pull-request/details/components/common/pull-request-comment-view.tsx
Owners: none

Fix scrolling in a Drawer inside Shadow DOM (#2094)
  packages/ui/src/components/drawer/DrawerContent.tsx
  packages/ui/src/components/drawer/DrawerOverlay.tsx
  packages/ui/src/components/drawer/DrawerRoot.tsx
Owners: none

add clone to input factory (#10272)
  packages/forms/package.json
  packages/forms/src/core/factory/InputFactory.ts
Owners: srdjan.arsic@harness.io

fixes
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/components/markdown-viewer/index.tsx
  packages/ui/src/views/repo/pull-request/details/components/common/pull-request-comment-view.tsx
Owners: none

fix suggested changes ui (#2093)
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/components/markdown-viewer/CodeSuggestionBlock.tsx
  packages/ui/src/components/markdown-viewer/index.tsx
  packages/ui/src/components/markdown-viewer/style.css
  packages/ui/src/views/repo/pull-request/details/components/common/pull-request-comment-view.tsx
Owners: none

fix: Cleanup AppMFE corresponding to optimizations done in parent NG UI app (#10270)
  apps/gitness/src/AppMFE.tsx
  apps/gitness/src/MFERouteRenderer.tsx
  apps/gitness/src/framework/context/AppRouterProvider.tsx
  apps/gitness/src/framework/context/MFEContext.tsx
  apps/gitness/src/routes.tsx
Owners: none

fix repo files content header
  packages/ui/src/views/repo/repo-files/repo-files-view.tsx
Owners: none

fix repo files content header (#2096)
  packages/ui/src/views/repo/repo-files/repo-files-view.tsx
Owners: none

fix: remove eager true (#10276)
  apps/gitness/webpack.config.cjs
Owners: abhinav.rastogi@harness.io, vardan.bansal@harness.io

fix: routing on commits pull req page (#10278)
  apps/gitness/src/pages-v2/pull-request/pull-request-commits.tsx
Owners: none

fix: updated history state with replace wherever applicable (#10273)
  apps/gitness/src/framework/hooks/useQueryState.ts
  apps/gitness/src/pages-v2/project/pull-request/pull-request-list.tsx
  apps/gitness/src/pages-v2/pull-request/pull-request-list.tsx
  apps/gitness/src/pages-v2/repo/repo-summary.tsx
  packages/filters/src/Filters.tsx
  packages/ui/src/context/router-context.tsx
  packages/ui/src/views/repo/pull-request/components/labels/labels-filter.tsx
Owners: none

fix: Show "Edit" and "Delete" comment options on PR conversation page (#10277)
  packages/ui/src/views/repo/pull-request/details/components/conversation/regular-and-code-comment.tsx
Owners: none

fix: updated branch-selector under popover for a11y (#10264)
  apps/gitness/src/components-v2/branch-selector-container.tsx
  apps/gitness/src/pages-v2/repo/repo-sidebar.tsx
  apps/gitness/src/pages-v2/repo/repo-summary.tsx
  packages/ui/src/components/dropdown-menu.tsx
  packages/ui/src/views/repo/components/branch-selector-v2/branch-selector-dropdown.tsx
  packages/ui/src/views/repo/components/branch-selector-v2/branch-selector.tsx
  packages/ui/src/views/repo/components/branch-selector-v2/types.ts
Owners: none

fix: author filter search logic (#10281)
  packages/ui/src/views/repo/pull-request/pull-request-list-page.tsx
Owners: none

fix: smooth scrolling of large diffs, jumping to a comment/file path with scroll of activeDiff file in explorer (#10275)
  apps/design-system/src/subjects/views/pull-request-compare/pull-request-compare.tsx
  apps/design-system/src/subjects/views/pull-request-conversation/pull-request-changes.tsx
  apps/gitness/src/pages-v2/pull-request/pull-request-changes.tsx
  apps/gitness/src/pages-v2/pull-request/pull-request-compare.tsx
  packages/ui/src/utils/task.ts
  packages/ui/src/views/repo/pull-request/compare/components/pull-request-compare-diff-list.tsx
  packages/ui/src/views/repo/pull-request/compare/pull-request-compare-page.tsx
  packages/ui/src/views/repo/pull-request/components/in-view-diff-renderer.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-accordian.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-diff-sidebar.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-diff-viewer.tsx
  packages/ui/src/views/repo/pull-request/details/components/changes/pull-request-changes-explorer.tsx
  packages/ui/src/views/repo/pull-request/details/components/changes/pull-request-changes-filter.tsx
  packages/ui/src/views/repo/pull-request/details/components/changes/pull-request-changes.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/regular-and-code-comment.tsx
  packages/ui/src/views/repo/pull-request/details/pull-request-changes-page.tsx
  packages/ui/src/views/repo/pull-request/details/pull-request-utils.ts
Owners: none

PR Summary - Create README functionality (#10274)
  apps/gitness/src/components-v2/file-editor.tsx
  apps/gitness/src/pages-v2/repo/repo-summary.tsx
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/views/repo/repo-create/index.tsx
  packages/ui/src/views/repo/repo-files/repo-files-view.tsx
  packages/ui/src/views/repo/repo-sidebar/index.tsx
  packages/ui/src/views/repo/repo-summary/repo-summary.tsx
Owners: none

for the repo list page only show filter reset button when not defaults (#10279)
  apps/gitness/src/pages-v2/repo/repo-list.tsx
  packages/ui/src/components/filters/types.ts
  packages/ui/src/views/repo/components/list-control-bar.tsx
  packages/ui/src/views/repo/repo-list/repo-list-page.tsx
  packages/ui/src/views/repo/repo-list/types.ts
Owners: none

feat: create a single SSE connection across pages (#10280)
  apps/gitness/src/framework/event/SSEConnectionManager.ts
  apps/gitness/src/framework/hooks/useSpaceSSEWithPubSub.tsx
Owners: none

Dividers between each rule for branch and tag (#10263)
  packages/ui/src/components/checkbox.tsx
  packages/ui/src/components/form-primitives/form-caption.tsx
  packages/ui/src/views/repo/repo-branch-rules/components/repo-branch-rules-fields.tsx
  packages/ui/src/views/repo/repo-tag-rules/components/repo-tag-rules-fields.tsx
Owners: none

chore: rebase
  apps/gitness/src/hooks/useRepoCommits.ts
  apps/gitness/src/pages-v2/repo/repo-settings-general-container.tsx
  apps/gitness/src/pages-v2/repo/repo-summary.tsx
  apps/gitness/src/routes.tsx
  packages/ui/src/views/repo/components/branch-selector-v2/types.ts
  packages/ui/src/views/repo/repo-settings/components/repo-settings-general-form.tsx
  packages/ui/src/views/repo/repo-settings/repo-settings-general-page.tsx
Owners: none

fix: redeclared var
  apps/gitness/src/pages-v2/repo/repo-summary.tsx
Owners: none

fix: tsc
  apps/design-system/src/subjects/views/repo-general-settings/repo-general-settings.tsx
Owners: none

Update design system focus enhancements
  packages/ui/src/components/commit-copy-actions.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-panel.tsx
  packages/ui/src/views/repo/repo-summary/components/summary-panel.tsx
  packages/ui/tailwind-design-system.ts
  packages/ui/tailwind-utils-config/components/breadcrumb.ts
  packages/ui/tailwind-utils-config/components/card-select.ts
  packages/ui/tailwind-utils-config/components/checkbox.ts
  packages/ui/tailwind-utils-config/components/link.ts
  packages/ui/tailwind-utils-config/components/radio.ts
  packages/ui/tailwind-utils-config/components/switch.ts
  packages/ui/tailwind-utils-config/components/time-ago-card.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Update card select outline offset to proper tailwindcss config class
  packages/ui/tailwind-utils-config/components/card-select.ts
Owners: none

pull MFERouteRenderer out of AppRouterProvider
  apps/gitness/src/MFERouteRenderer.tsx
  apps/gitness/src/framework/context/AppRouterProvider.tsx
  apps/gitness/src/routes.tsx
Owners: none

Update Button focus ring
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-panel.tsx
  packages/ui/tailwind-utils-config/components/button.ts
Owners: none

typography code updated
  packages/core-design-system/design-tokens/breakpoint/desktop.json
Owners: none

half font size added
  packages/core-design-system/design-tokens/breakpoint/desktop.json
  packages/core-design-system/design-tokens/core/typography.json
Owners: none

caption code font-weight updated
  packages/core-design-system/design-tokens/breakpoint/desktop.json
Owners: none

half updated value
  packages/core-design-system/design-tokens/core/typography.json
Owners: none

diff styles updates
  packages/ui/src/components/chat/chat-diff-viewer.tsx
  packages/ui/src/styles/diff-styles.css
  packages/ui/src/views/repo/pull-request/hooks/useDiffConfig.ts
Owners: none
