Repository harness/canary, changes with the owners that CODEOWNERS names for each.
All owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io, srdjan.arsic@harness.io

CODEOWNERS:

# Global configs
.github/ abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.eslintrc.js abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.prettierrc.yml abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Common ownership for shared config files
/packages/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/packages/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Apps
/apps/gitness/* abhinav.rastogi@harness.io vardan.bansal@harness.io
/apps/portal/* kevin.nagurski@harness.io pranesh.g@harness.io abhinav.rastogi@harness.io vardan.bansal@harness.io

# Packages with shared ownership
/packages/ui/* abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io pranesh.g@harness.io

# Packages with individual owners
/packages/forms/* srdjan.arsic@harness.io
/packages/unified-pipeline/* srdjan.arsic@harness.io
/packages/yaml-editor/* srdjan.arsic@harness.io
/packages/core-design-system/* pranesh.g@harness.io

Add Collapse button to the PR Changes and Compare files tree
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/components/list-actions.tsx
  packages/ui/src/views/repo/pull-request/compare/components/pull-request-compare-diff-list.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-accordian.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-diff-sidebar.tsx
  packages/ui/src/views/repo/pull-request/details/components/changes/pull-request-changes-filter.tsx
  packages/ui/src/views/repo/pull-request/details/pull-request-changes-page.tsx
Owners: none

Add Collapse button to the PR Changes and Compare files tree
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
Owners: none

fix pr comment box default keyboard selection behaviors (#10478)
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-comment-box.tsx
Owners: none

fix: feedback on secrets (#10477)
  apps/design-system/src/subjects/views/secrets/secrets.tsx
  packages/ui/src/views/platform/entity-reference-component.tsx
  packages/ui/src/views/platform/entity-reference-list.tsx
  packages/ui/src/views/secrets/secret-reference/secret-reference.tsx
  packages/ui/src/views/secrets/secrets-list/secrets-list.tsx
Owners: none

Edit packages/ui/package.json (#10476)
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Add sonner toast component (#10472)
  apps/gitness/src/App.tsx
  apps/gitness/src/AppMFE.tsx
  apps/gitness/src/framework/hooks/useRepoImportWithPubSub.tsx
  apps/gitness/src/pages-v2/repo/repo-import-page.tsx
  apps/gitness/src/pages-v2/repo/repo-list.tsx
  apps/gitness/src/pages-v2/repo/stores/repo-list-store.tsx
  apps/portal/src/components/docs-page/example.tsx
  apps/portal/src/content/docs/components/toast.mdx
  packages/ui/package.json
  packages/ui/src/components/index.ts
  packages/ui/src/components/toast/custom-toast.tsx
  packages/ui/src/components/toast/index.ts
  packages/ui/src/components/toast/toast.tsx
  packages/ui/src/components/toast/toaster.tsx
  packages/ui/src/components/toast/toasts.tsx
  packages/ui/src/components/toast/types.ts
  packages/ui/src/components/toast/use-toast.ts
  packages/ui/src/views/repo/repo-import/repo-import-mulitple.tsx
  packages/ui/src/views/repo/repo-import/repo-import.tsx
  packages/ui/src/views/repo/repo-list/types.ts
  packages/ui/tailwind-utils-config/components/index.ts
  packages/ui/tailwind-utils-config/components/toast.ts
  pnpm-lock.yaml
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Bump UI package version (#10484)
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix drawer fade
  packages/ui/tailwind-utils-config/components/drawer.ts
Owners: none

add focus return for drawer
  apps/design-system/src/subjects/views/execution/pipeline-execution-graph.tsx
  apps/portal/src/content/docs/components/drawer.mdx
  packages/ui/src/components/dialog.tsx
  packages/ui/src/components/drawer/DrawerContent.tsx
  packages/ui/src/components/drawer/DrawerRoot.tsx
  packages/ui/src/components/drawer/DrawerTrigger.tsx
  packages/ui/src/components/drawer/index.ts
  packages/ui/src/components/index.ts
  packages/ui/src/views/sidebar-view/sidebar-view.tsx
Owners: none

refactoring
  apps/design-system/src/App.tsx
  apps/gitness/src/App.tsx
  apps/gitness/src/AppMFE.tsx
  apps/gitness/src/pages-v2/repo/repo-sidebar.tsx
  apps/gitness/src/pages-v2/repo/repo-summary.tsx
  apps/portal/src/components/docs-page/example.tsx
  apps/portal/src/components/layout/ThemeSelector.tsx
  apps/portal/src/content/docs/components/drawer.mdx
  packages/ui/src/components/dialog.tsx
  packages/ui/src/components/drawer/DrawerContent.tsx
  packages/ui/src/components/drawer/DrawerRoot.tsx
  packages/ui/src/components/drawer/DrawerTrigger.tsx
  packages/ui/src/components/file-control-bars/file-viewer-control-bar.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/context/dialog-context.tsx
  packages/ui/src/context/index.ts
  packages/ui/src/views/labels/components/labels-list-view.tsx
  packages/ui/src/views/layouts/SecretDetailsLayout.tsx
  packages/ui/src/views/profile-settings/components/profile-settings-keys-list.tsx
  packages/ui/src/views/profile-settings/components/profile-settings-tokens-list.tsx
  packages/ui/src/views/project/project-members/components/member-list.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-timeline-item.tsx
  packages/ui/src/views/repo/repo-branch/components/branch-list.tsx
  packages/ui/src/views/repo/repo-settings/components/repo-settings-general-form.tsx
  packages/ui/src/views/repo/repo-settings/components/repo-settings-general-rules.tsx
  packages/ui/src/views/repo/repo-summary/components/clone-repo-dialog.tsx
  packages/ui/src/views/repo/repo-summary/components/summary-panel.tsx
  packages/ui/src/views/repo/repo-tags/components/repo-tags-list.tsx
  packages/ui/src/views/repo/webhooks/webhook-list/components/repo-webhook-list.tsx
  packages/ui/src/views/secrets/secrets-list/secrets-list.tsx
  packages/ui/src/views/user-management/components/page-components/content/components/users-list/users-list.tsx
Owners: none

Restoring focus to the Drawer Trigger button (#2154)
  apps/design-system/src/App.tsx
  apps/design-system/src/subjects/views/execution/pipeline-execution-graph.tsx
  apps/gitness/src/App.tsx
  apps/gitness/src/AppMFE.tsx
  apps/gitness/src/pages-v2/repo/repo-sidebar.tsx
  apps/gitness/src/pages-v2/repo/repo-summary.tsx
  apps/portal/src/components/docs-page/example.tsx
  apps/portal/src/components/layout/ThemeSelector.tsx
  apps/portal/src/content/docs/components/drawer.mdx
  packages/ui/src/components/dialog.tsx
  packages/ui/src/components/drawer/DrawerContent.tsx
  packages/ui/src/components/drawer/DrawerRoot.tsx
  packages/ui/src/components/drawer/DrawerTrigger.tsx
  packages/ui/src/components/drawer/index.ts
  packages/ui/src/components/file-control-bars/file-viewer-control-bar.tsx
  packages/ui/src/context/dialog-context.tsx
  packages/ui/src/context/index.ts
  packages/ui/src/views/labels/components/labels-list-view.tsx
  packages/ui/src/views/layouts/SecretDetailsLayout.tsx
  packages/ui/src/views/profile-settings/components/profile-settings-keys-list.tsx
  packages/ui/src/views/profile-settings/components/profile-settings-tokens-list.tsx
  packages/ui/src/views/project/project-members/components/member-list.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-timeline-item.tsx
  packages/ui/src/views/repo/repo-branch/components/branch-list.tsx
  packages/ui/src/views/repo/repo-settings/components/repo-settings-general-form.tsx
  packages/ui/src/views/repo/repo-settings/components/repo-settings-general-rules.tsx
  packages/ui/src/views/repo/repo-summary/components/clone-repo-dialog.tsx
  packages/ui/src/views/repo/repo-summary/components/summary-panel.tsx
  packages/ui/src/views/repo/repo-tags/components/repo-tags-list.tsx
  packages/ui/src/views/repo/webhooks/webhook-list/components/repo-webhook-list.tsx
  packages/ui/src/views/secrets/secrets-list/secrets-list.tsx
  packages/ui/src/views/sidebar-view/sidebar-view.tsx
  packages/ui/src/views/user-management/components/page-components/content/components/users-list/users-list.tsx
  packages/ui/tailwind-utils-config/components/drawer.ts
Owners: none

bucm ui version
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

bucm ui version (#2168)
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Add Collapse button to the PR Changes and Compare files tree (#2167)
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/components/list-actions.tsx
  packages/ui/src/views/repo/pull-request/compare/components/pull-request-compare-diff-list.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-accordian.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-diff-sidebar.tsx
  packages/ui/src/views/repo/pull-request/details/components/changes/pull-request-changes-filter.tsx
  packages/ui/src/views/repo/pull-request/details/pull-request-changes-page.tsx
Owners: none

Input-reference-component refactoring
  packages/ui/src/views/platform/input-reference-component.tsx
  packages/ui/tailwind-utils-config/utilities/padding.ts
Owners: none

feat: [CODE-4510]: Added usergroup support in reviewers section (#10481)
  apps/design-system/src/subjects/views/pull-request-compare/pull-request-compare.tsx
  apps/design-system/src/subjects/views/pull-request-conversation/pull-request-conversation.tsx
  apps/design-system/src/subjects/views/pull-request-conversation/pull-request-panelData.ts
  apps/gitness/package.json
  apps/gitness/src/framework/context/AppContext.tsx
  apps/gitness/src/framework/hooks/useIsMFE.ts
  apps/gitness/src/pages-v2/pull-request/__tests__/pull-request-utils.test.ts
  apps/gitness/src/pages-v2/pull-request/pull-request-compare.tsx
  apps/gitness/src/pages-v2/pull-request/pull-request-conversation.tsx
  apps/gitness/src/pages-v2/pull-request/pull-request-utils.ts
  packages/ui/src/components/dropdown-menu.tsx
  packages/ui/src/types/index.ts
  packages/ui/src/views/repo/pull-request/compare/pull-request-compare-page.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-side-bar.tsx
  packages/ui/src/views/repo/pull-request/components/reviewers/pull-request-reviewers-header.tsx
  packages/ui/src/views/repo/pull-request/components/reviewers/pull-request-reviewers-item.tsx
  packages/ui/src/views/repo/pull-request/components/reviewers/pull-request-reviewers-list.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-system-comments.tsx
  packages/ui/src/views/repo/pull-request/details/pull-request-conversation-page.tsx
  packages/ui/src/views/repo/pull-request/details/pull-request-details-types.ts
  packages/ui/src/views/repo/pull-request/pull-request.types.ts
  pnpm-lock.yaml
Owners: abhinav.rastogi@harness.io, vardan.bansal@harness.io

Secrets: Added Tag filter (#10469)
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/components/filters/types.ts
  packages/ui/src/views/secrets/secrets-list/filter-options.tsx
Owners: none

Add favorite filter with sort options to Secret Manager dialog (#10479)
  packages/ui/src/views/platform/components/entity-reference-sort.tsx
  packages/ui/src/views/platform/entity-reference-component.tsx
Owners: none

Version bump (#10485)
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Update tailwind config for new ui
  packages/ui/tailwind-design-system.ts
  packages/ui/tailwind-utils-config/utilities/padding.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix: [CODE-4524] handle same file names in case of deleted file (#10482)
  apps/gitness/src/pages-v2/pull-request/pull-request-changes.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-accordian.tsx
  packages/ui/src/views/repo/repo-commit-details/components/commit-changes.tsx
Owners: none

fix: update sidebar styles for improved layout and spacing
  packages/ui/src/components/app-sidebar/sidebar-user.tsx
  packages/ui/tailwind-utils-config/components/sidebar.ts
Owners: none

Input-reference-component refactoring (#2169)
  packages/ui/src/views/platform/input-reference-component.tsx
  packages/ui/tailwind-utils-config/utilities/padding.ts
Owners: none

UI bump
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

UI bump (#2172)
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

add pr banner design adjustments
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/views/repo/components/branch-banner/branch-compare-banner-list.tsx
  packages/ui/src/views/repo/components/branch-banner/branch-compare-banner.tsx
Owners: none

fixes
  packages/ui/src/views/repo/components/branch-banner/branch-compare-banner.tsx
Owners: none

feat: [CODE-4475] add back user preferences in code v2 (#10488)
  apps/gitness/src/framework/context/AppContext.tsx
  apps/gitness/src/framework/hooks/useLocalStorage.ts
  apps/gitness/src/framework/hooks/useSelectedSpaceId.ts
  apps/gitness/src/pages-v2/pull-request/hooks/use-pr-filters.ts
  apps/gitness/src/pages-v2/pull-request/pull-request-changes.tsx
  apps/gitness/src/pages-v2/repo/repo-sidebar.tsx
  packages/ui/src/hooks/index.ts
  packages/ui/src/hooks/use-local-storage.ts
  packages/ui/src/views/repo/pull-request/compare/components/pull-request-compare-button.tsx
  packages/ui/src/views/repo/pull-request/compare/components/pull-request-compare-diff-list.tsx
Owners: none

feat: [CODE-4530] add activity message back for target branch change (#10489)
  apps/design-system/src/subjects/views/pull-request-conversation/pull-request-panelData.ts
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-system-comments.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-timeline-item.tsx
  packages/ui/src/views/repo/pull-request/details/pull-request-details-types.ts
Owners: none

feat: [CODE-4537] add vulnerability scanning with the correct options in UIV2 (#10487)
  apps/design-system/src/subjects/views/repo-general-settings/use-repo-rules-store.ts
  apps/gitness/src/pages-v2/repo/repo-settings-general-container.tsx
  apps/gitness/src/pages-v2/repo/stores/repo-settings-store.tsx
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/views/repo/repo-settings/components/repo-settings-general-security.tsx
  packages/ui/src/views/repo/repo-settings/repo-settings-general-page.tsx
  packages/ui/src/views/repo/repo-settings/types.ts
Owners: none

Add action buttons to sidebar and tree components
  apps/portal/src/content/docs/components/file-explorer.mdx
  apps/portal/src/content/docs/components/sidebar.mdx
  apps/portal/src/content/docs/components/tree-view.mdx
  packages/ui/src/components/app-sidebar/sidebar-item.tsx
  packages/ui/src/components/file-explorer.tsx
  packages/ui/src/components/sidebar/sidebar-item.tsx
  packages/ui/tailwind-utils-config/components/sidebar.ts
Owners: none

secrets list and details rbac (#10486)
  apps/design-system/src/AppRouterProvider.tsx
  apps/gitness/src/framework/rbac/rbac-button.tsx
  apps/gitness/src/framework/rbac/rbac-more-actions-tooltip.tsx
  apps/gitness/src/framework/rbac/rbac-split-button.tsx
  apps/gitness/src/routes.tsx
  packages/ui/src/components/rbac/types.ts
  packages/ui/src/context/component-context.tsx
  packages/ui/src/views/layouts/SecretDetailsLayout.tsx
  packages/ui/src/views/secrets/secrets-list/secrets-list-page.tsx
  packages/ui/src/views/secrets/secrets-list/secrets-list.tsx
Owners: none

separate rbac permissions out for RbacSplitButton (#10490)
  apps/gitness/src/framework/rbac/rbac-split-button.tsx
  packages/ui/package.json
  packages/ui/src/components/rbac/types.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

changes rollback
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/views/repo/components/branch-banner/branch-compare-banner-list.tsx
  packages/ui/src/views/repo/components/branch-banner/branch-compare-banner.tsx
Owners: none

add pr banner design adjustments (#2173)
  packages/ui/src/views/repo/components/branch-banner/branch-compare-banner-list.tsx
  packages/ui/src/views/repo/components/branch-banner/branch-compare-banner.tsx
Owners: none

add return of the focus to the drawer trigger
  apps/portal/src/components/docs-page/component-example.tsx
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/components/no-data.tsx
  packages/ui/src/context/component-context.tsx
  packages/ui/src/views/layouts/SecretDetailsLayout.tsx
  packages/ui/src/views/secrets/secrets-list/secrets-list-page.tsx
  packages/ui/src/views/secrets/secrets-list/secrets-list.tsx
  packages/ui/tailwind-utils-config/components/drawer.ts
Owners: none

fix: enhance sidebar styles with input prefix transition and layout adjustments
  packages/ui/tailwind-utils-config/components/sidebar.ts
Owners: none

add input reference component update
  packages/ui/src/views/platform/input-reference-component.tsx
Owners: none

feat: redesign pull-request-timeline-item - add header for first comment
  packages/ui/src/components/node-group.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-timeline-item.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/regular-and-code-comment.tsx
Owners: none

fix: pr-diff view conversation
  packages/ui/src/views/repo/pull-request/components/pull-request-diff-viewer.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-timeline-item.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/regular-and-code-comment.tsx
Owners: none
