Repository harness/canary, changes with the owners that CODEOWNERS names for each.
All owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io, srdjan.arsic@harness.io

feat: update pr conversation header with more action button
  packages/ui/src/components/more-actions-tooltip.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-diff-viewer.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-timeline-item.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/regular-and-code-comment.tsx
Owners: none

fix: pretty and padding tokens
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-comment-box.tsx
Owners: none

fix: border for first comment in pr-comment-box
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-comment-box.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-timeline-item.tsx
Owners: none

refactor: simplify class names and improve layout spacing in pull request components
  packages/ui/src/components/node-group.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-diff-viewer.tsx
  packages/ui/src/views/repo/pull-request/details/components/common/pull-request-comment-view.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-timeline-item.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/regular-and-code-comment.tsx
Owners: none

fix: token padding in pull request diff viewer
  packages/ui/src/views/repo/pull-request/components/pull-request-diff-viewer.tsx
Owners: none

fix: update ReplySplitButton import and export, enhance layout in PullRequestTimelineItem
  packages/ui/src/components/node-group.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-comment-box.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-timeline-item.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/components/reply-split-button.tsx
Owners: none

fix: adjust layout and structure in PullRequestTimelineItem and PullRequestRegularAndCodeComment components
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-timeline-item.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/regular-and-code-comment.tsx
Owners: none

fix: pretty
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-comment-box.tsx
Owners: none

fix: adjust spacing and padding in PullRequestCommentBox
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-comment-box.tsx
Owners: none

feat: add ReplySplitButton component and integrate into PullRequestCommentBox
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-comment-box.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-timeline-item.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/components/reply-split-button.tsx
Owners: none

fix pretty
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-comment-box.tsx
Owners: none

fix: adjust padding and spacing in various components for improved layout
  packages/ui/src/components/node-group.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-diff-viewer.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-description-box.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-timeline-item.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/regular-and-code-comment.tsx
Owners: none

Fix entity-reference-list Load more size and number-input buttons rounded style
  packages/ui/src/components/inputs/number-input.tsx
  packages/ui/src/views/platform/entity-reference-list.tsx
Owners: none

add return of the focus to the drawer trigger (#2170)
  apps/portal/src/components/docs-page/component-example.tsx
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/components/no-data.tsx
  packages/ui/src/context/component-context.tsx
  packages/ui/src/views/layouts/SecretDetailsLayout.tsx
  packages/ui/src/views/secrets/secrets-list/secrets-list-page.tsx
  packages/ui/src/views/secrets/secrets-list/secrets-list.tsx
  packages/ui/tailwind-utils-config/components/drawer.ts
Owners: none

Select secret - The "New" secret option has been moved to top (#10491)
  packages/ui/src/views/secrets/secrets-header.tsx
Owners: none

fix: add renderFirstCommentBlock prop and adjust rendering logic in PullRequestRegularAndCodeComment
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-timeline-item.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/regular-and-code-comment.tsx
Owners: none

Tag creation with comma separated and avoid key duplication (#10460)
  packages/ui/src/components/multi-select.tsx
  packages/ui/src/utils/__tests__/stringUtils.test.ts
  packages/ui/src/utils/stringUtils.ts
Owners: none

Version bump (#10492)
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

add input reference component update (#2174)
  packages/ui/src/views/platform/input-reference-component.tsx
Owners: none

add pr create design review
  apps/gitness/src/pages-v2/pull-request/pull-request-compare.tsx
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/views/repo/pull-request/compare/pull-request-compare-page.tsx
Owners: none

add icons
  packages/ui/src/components/illustration/images/no-data-folder-light.svg
  packages/ui/src/components/illustration/images/no-data-folder.svg
Owners: none

Fix entity-reference-list Load more size and number-input buttons rounded style (#2175)
  packages/ui/src/components/inputs/number-input.tsx
  packages/ui/src/views/platform/entity-reference-list.tsx
Owners: none

fixes
  apps/gitness/src/pages-v2/pull-request/pull-request-compare.tsx
  packages/ui/src/components/no-data.tsx
Owners: none

Add sidebar item changes
  packages/ui/src/components/app-sidebar/types.ts
  packages/ui/src/components/manage-navigation/index.tsx
  packages/ui/src/components/sidebar/sidebar-item.tsx
  packages/ui/src/components/sidebar/sidebar-units.tsx
  packages/ui/tailwind-utils-config/components/sidebar.ts
Owners: none

feat: add pagination page size functionality and update related components
  apps/gitness/src/pages-v2/project/labels/hooks/use-fill-label-store-with-project-label-values-data.ts
  apps/gitness/src/pages-v2/project/labels/project-labels-list-container.tsx
  apps/gitness/src/pages-v2/project/stores/labels-store.ts
  packages/ui/src/components/pagination/pagination-data.tsx
  packages/ui/src/components/pagination/pagination-default.tsx
  packages/ui/src/components/pagination/pagination.tsx
  packages/ui/src/components/pagination/types.ts
  packages/ui/src/views/labels/labels-list-page.tsx
  packages/ui/src/views/labels/types.ts
Owners: none

Fix sidebar action button height issue
  packages/ui/src/components/manage-navigation/index.tsx
  packages/ui/tailwind-utils-config/components/sidebar.ts
Owners: none

feat: updated review comments
  apps/design-system/src/pages/view-preview/styles.css
  apps/gitness/src/styles.css
  apps/portal/tailwind.config.mjs
  packages/ui/postcss.config.js
  packages/ui/src/styles/styles.css
Owners: kevin.nagurski@harness.io, pranesh.g@harness.io, abhinav.rastogi@harness.io, vardan.bansal@harness.io

Fix toast in portal
  apps/portal/src/components/docs-page/example.tsx
  apps/portal/src/components/layout/DocTemplate.astro
Owners: none

add pr create design review (#2176)
  apps/gitness/src/pages-v2/pull-request/pull-request-compare.tsx
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/components/illustration/images/no-data-folder-light.svg
  packages/ui/src/components/illustration/images/no-data-folder.svg
  packages/ui/src/components/no-data.tsx
  packages/ui/src/views/repo/pull-request/compare/pull-request-compare-page.tsx
Owners: none

feat: [CODE-4455]: Add user groups to the codeowners panel
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/components/code-owners-section.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/components/commons.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/components/default-reviewers-section.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/components/reviewers-panel.tsx
  packages/ui/src/views/repo/pull-request/details/pull-request-details-types.ts
  packages/ui/src/views/repo/repo-branch-rules/utils.ts
Owners: none

Add new pagination initial skeleton
  packages/ui/src/components/index.ts
  packages/ui/src/components/pagination/pagination-primitive.tsx
  packages/ui/src/components/pagination/pagination-v2.tsx
Owners: none

Add data variant to pagination
  apps/portal/src/content/docs/components/pagination.mdx
  packages/ui/src/components/index.ts
  packages/ui/src/components/pagination/components/pagination-items.tsx
  packages/ui/src/components/pagination/pagination-data.tsx
  packages/ui/src/components/pagination/pagination-default.tsx
  packages/ui/src/components/pagination/pagination-primitive.tsx
  packages/ui/src/components/pagination/pagination.tsx
  packages/ui/src/components/pagination/types.ts
Owners: none

feat: add pagination page size functionality and update related components
  apps/gitness/src/pages-v2/project/labels/hooks/use-fill-label-store-with-project-label-values-data.ts
  apps/gitness/src/pages-v2/project/labels/project-labels-list-container.tsx
  apps/portal/src/content/docs/components/pagination.mdx
  packages/ui/src/components/pagination/pagination-data.tsx
  packages/ui/src/components/pagination/pagination-default.tsx
  packages/ui/src/components/pagination/pagination.tsx
  packages/ui/src/components/pagination/types.ts
Owners: none

fix: refactor pagination usage in views
  packages/ui/locales/en/component.json
  packages/ui/locales/fr/component.json
  packages/ui/src/components/pagination/pagination-primitive.tsx
  packages/ui/src/components/pagination/pagination.tsx
  packages/ui/src/views/repo/repo-commits/repo-commits-view.tsx
  packages/ui/src/views/repo/webhooks/webhook-list/repo-webhook-list-page.tsx
Owners: none

TailwindCSS config changes and other design system component changes for new nav (#10495)
  apps/portal/src/content/docs/components/file-explorer.mdx
  apps/portal/src/content/docs/components/sidebar.mdx
  apps/portal/src/content/docs/components/tree-view.mdx
  packages/ui/src/components/app-sidebar/sidebar-item.tsx
  packages/ui/src/components/app-sidebar/types.ts
  packages/ui/src/components/button.tsx
  packages/ui/src/components/file-explorer.tsx
  packages/ui/src/components/manage-navigation/index.tsx
  packages/ui/src/components/sidebar/sidebar-item.tsx
  packages/ui/src/components/sidebar/sidebar-units.tsx
  packages/ui/tailwind-design-system.ts
  packages/ui/tailwind-utils-config/components/sidebar.ts
  packages/ui/tailwind-utils-config/utilities/padding.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix: enhance sidebar styles with input prefix transition and layout adjustments
  packages/ui/tailwind-utils-config/components/sidebar.ts
Owners: none

fix: update sidebar styles for improved layout and spacing
  packages/ui/src/components/app-sidebar/sidebar-user.tsx
  packages/ui/tailwind-utils-config/components/sidebar.ts
Owners: none

fix: remove unnecessary input prefix width from sidebar styles
  packages/ui/src/components/app-sidebar/sidebar-search/sidebar-search.tsx
  packages/ui/tailwind-utils-config/components/sidebar.ts
Owners: none

feat: [CODE-4455]: Add user groups to the codeowners panel (#10494)
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/components/code-owners-section.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/components/commons.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/components/default-reviewers-section.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/components/reviewers-panel.tsx
  packages/ui/src/views/repo/pull-request/details/pull-request-details-types.ts
  packages/ui/src/views/repo/repo-branch-rules/utils.ts
Owners: none

Fix SecretDetailsLayout
  apps/design-system/src/subjects/views/templates/view-only.tsx
  packages/ui/src/components/favorite.tsx
  packages/ui/src/components/stats-panel.tsx
  packages/ui/src/components/view-only.tsx
  packages/ui/src/components/widgets.tsx
  packages/ui/src/views/components/page.tsx
  packages/ui/src/views/layouts/SecretDetailsLayout.tsx
Owners: none

CODEOWNERS:

# Global configs
.github/ abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.eslintrc.js abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.prettierrc.yml abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Common ownership for shared config files
/packages/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/packages/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Apps
/apps/gitness/* abhinav.rastogi@harness.io vardan.bansal@harness.io
/apps/portal/* kevin.nagurski@harness.io pranesh.g@harness.io abhinav.rastogi@harness.io vardan.bansal@harness.io

# Packages with shared ownership
/packages/ui/* abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io pranesh.g@harness.io

# Packages with individual owners
/packages/forms/* srdjan.arsic@harness.io
/packages/unified-pipeline/* srdjan.arsic@harness.io
/packages/yaml-editor/* srdjan.arsic@harness.io
/packages/core-design-system/* pranesh.g@harness.io
