Repository harness/canary, changes with the owners that CODEOWNERS names for each.
All owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io, srdjan.arsic@harness.io

fix tabs content focus issue (#2119)
  packages/ui/src/components/tabs.tsx
Owners: none

fix settings nav focus ring (#2121)
  packages/ui/src/views/layouts/content-layout-with-sidebar.tsx
Owners: none

fix double focus on pr changes page
  packages/ui/src/views/repo/pull-request/details/components/changes/pull-request-changes-filter.tsx
  packages/ui/tailwind-utils-config/components/button.ts
  packages/ui/tailwind-utils-config/components/tabs.ts
Owners: none

fix: update connector icons (#10364)
  packages/ui/src/views/connectors/connectors-list/utils.ts
Owners: none

Fix PR labels keyboard navigation and layout
  packages/ui/src/components/dropdown-menu.tsx
  packages/ui/src/components/inputs/base-input.tsx
  packages/ui/src/components/inputs/search-input.tsx
  packages/ui/src/components/inputs/text-input.tsx
  packages/ui/src/views/repo/pull-request/components/labels/label-value-selector.tsx
  packages/ui/src/views/repo/pull-request/components/labels/pull-request-labels-header.tsx
Owners: none

fix double focus on pr changes page (#2122)
  packages/ui/src/views/repo/pull-request/details/components/changes/pull-request-changes-filter.tsx
  packages/ui/tailwind-utils-config/components/button.ts
  packages/ui/tailwind-utils-config/components/tabs.ts
Owners: none

Fix PR labels keyboard navigation and layout (#2123)
  packages/ui/src/components/dropdown-menu.tsx
  packages/ui/src/components/inputs/base-input.tsx
  packages/ui/src/components/inputs/search-input.tsx
  packages/ui/src/components/inputs/text-input.tsx
  packages/ui/src/views/repo/pull-request/components/labels/label-value-selector.tsx
  packages/ui/src/views/repo/pull-request/components/labels/pull-request-labels-header.tsx
Owners: none

fix: edit README breaks on initial render (#10365)
  apps/gitness/src/components-v2/file-editor.tsx
Owners: none

fix: PR template not showing up in PR description (#10363)
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-comment-box.tsx
Owners: none

fix: comment latency on PR changes tab (#10366)
  packages/ui/src/views/repo/pull-request/components/in-view-diff-renderer.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-comment-textarea.tsx
Owners: none

fix: add loading state to checkbox to address flakiness (#10367)
  apps/gitness/src/pages-v2/pull-request/pull-request-conversation.tsx
  packages/ui/src/components/markdown-viewer/index.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-description-box.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-overview.tsx
Owners: none

fix: Handle scope change properly (#10368)
  apps/gitness/src/AppMFE.tsx
Owners: none

Edit packages/ui/package.json (#10361)
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix more tests and config updates
  package.json
  packages/tests/__screenshots/profile-settings.spec.ts/chromium-profile-settings-matches-screenshot.png
  packages/tests/common/global-setup.ts
  packages/tests/common/test.ts
  playwright.config.ts
Owners: none

update reference screenshots
  packages/tests/__screenshots/chat-empty-preview.spec.ts/chromium-chat-empty-preview-matches-screenshot.png
  packages/tests/__screenshots/chat-preview.spec.ts/chromium-chat-preview-matches-screenshot.png
  packages/tests/__screenshots/delegate-selector.spec.ts/chromium-delegate-selector-matches-screenshot.png
  packages/tests/__screenshots/execution-list.spec.ts/chromium-execution-list-matches-screenshot.png
  packages/tests/__screenshots/label-form.spec.ts/chromium-label-form-matches-screenshot.png
  packages/tests/__screenshots/pipeline-list.spec.ts/chromium-pipeline-list-matches-screenshot.png
  packages/tests/__screenshots/profile-settings-keys.spec.ts/chromium-profile-settings-keys-matches-screenshot.png
  packages/tests/__screenshots/profile-settings.spec.ts/chromium-profile-settings-matches-screenshot.png
  packages/tests/__screenshots/project-create-additional.spec.ts/chromium-project-create-additional-matches-screenshot.png
  packages/tests/__screenshots/project-create.spec.ts/chromium-project-create-matches-screenshot.png
  packages/tests/__screenshots/project-settings.spec.ts/chromium-project-settings-matches-screenshot.png
  packages/tests/__screenshots/pull-request-changes-1.spec.ts/chromium-pull-request-changes-1-matches-screenshot.png
  packages/tests/__screenshots/pull-request-changes.spec.ts/chromium-pull-request-changes-matches-screenshot.png
  packages/tests/__screenshots/pull-request-commits.spec.ts/chromium-pull-request-commits-matches-screenshot.png
  packages/tests/__screenshots/pull-request-list.spec.ts/chromium-pull-request-list-matches-screenshot.png
  packages/tests/__screenshots/repo-files-edit-view.spec.ts/chromium-repo-files-edit-view-matches-screenshot.png
  packages/tests/__screenshots/repo-files-list.spec.ts/chromium-repo-files-list-matches-screenshot.png
  packages/tests/__screenshots/repo-labels-list.spec.ts/chromium-repo-labels-list-matches-screenshot.png
  packages/tests/__screenshots/repo-list.spec.ts/chromium-repo-list-matches-screenshot.png
  packages/tests/__screenshots/secrets-page.spec.ts/chromium-secrets-page-matches-screenshot.png
  packages/tests/__screenshots/signin.spec.ts/chromium-signin-matches-screenshot.png
  packages/tests/__screenshots/signup.spec.ts/chromium-signup-matches-screenshot.png
  packages/tests/__screenshots/space-settings-members.spec.ts/chromium-space-settings-members-matches-screenshot.png
  packages/tests/__screenshots/table-v2-demo.spec.ts/chromium-table-v2-demo-matches-screenshot.png
  packages/tests/common/test.ts
Owners: none

fix: Refactor "useQueryState" hook to fix search across multiple pages (#10369)
  apps/gitness/src/framework/hooks/useQueryState.ts
Owners: none

feat: entity delete handle dialog (#10370)
  apps/design-system/src/subjects/views/connectors/connectors-list.tsx
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/views/platform/components/entity-delete-handle-dialog.tsx
  packages/ui/src/views/platform/index.ts
Owners: none

fix: entity delete handle dialog design (#10371)
  apps/design-system/src/subjects/views/connectors/connectors-list.tsx
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/views/connectors/connector-details/connector-details-header.tsx
  packages/ui/src/views/connectors/connector-details/types.ts
  packages/ui/src/views/platform/components/entity-delete-handle-dialog.tsx
Owners: none

fix: update default value on reset based on truthy value
  packages/filters/src/Filters.tsx
Owners: none

fix: type for ConnectorDetailsConfigurationProps (#10374)
  apps/design-system/src/subjects/views/connectors/connector-details.tsx
  packages/ui/src/views/connectors/connector-details/types.ts
Owners: none

add metadata support to forms (#10372)
  packages/forms/playground/src/examples/runtime-example/runtime-example.tsx
  packages/forms/playground/src/examples/runtime-example/types/types.ts
  packages/forms/playground/src/implementation/inputs/common/input-label.tsx
  packages/forms/playground/src/implementation/inputs/text-input.tsx
  packages/forms/src/core/components/InputComponentRenderer.tsx
  packages/forms/src/core/components/RootForm.tsx
  packages/forms/src/core/context/RootFormContext.tsx
  packages/forms/src/core/hooks/useRootFormikContext.tsx
  packages/forms/src/core/index.ts
Owners: none

fix overflow in authors filter dropdown
  packages/ui/src/components/filters/filter-box-wrapper.tsx
  packages/ui/src/views/repo/pull-request/pull-request-list-page.tsx
Owners: none

Added mandatory tooltip support for the iconOnly button
  packages/ui/src/components/button.tsx
Owners: none

fix overflow of file item
  packages/ui/src/components/file-explorer.tsx
  packages/ui/src/views/repo/pull-request/details/components/changes/pull-request-changes-explorer.tsx
Owners: none

fix overflow in authors filter dropdown (#2125)
  packages/ui/src/components/filters/filter-box-wrapper.tsx
  packages/ui/src/views/repo/pull-request/pull-request-list-page.tsx
Owners: none

fix overflow of file item (#2126)
  packages/ui/src/components/file-explorer.tsx
  packages/ui/src/views/repo/pull-request/details/components/changes/pull-request-changes-explorer.tsx
Owners: none

fix: connector details layout (#10376)
  apps/design-system/src/subjects/views/connectors/connector-details.tsx
  packages/ui/src/views/connectors/connector-details/connector-details-header.tsx
  packages/ui/src/views/connectors/connector-details/connector-details-layout.tsx
  packages/ui/src/views/connectors/connector-details/types.ts
Owners: none

feat: added support for hover trigger in popover
  packages/ui/src/components/popover.tsx
Owners: none

bump versions (#10375)
  packages/forms/package.json
  packages/ui/package.json
Owners: srdjan.arsic@harness.io, abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

feat: added design parity for connectors-list-page
  apps/design-system/src/subjects/views/connectors/connectors-list.tsx
  apps/design-system/src/subjects/views/connectors/mock-connectors-stats.json
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/components/filters/filters-bar/actions/variants/checkbox.tsx
  packages/ui/src/components/filters/filters-bar/actions/variants/multi-tag.tsx
  packages/ui/src/components/filters/filters-bar/actions/variants/text-field.tsx
  packages/ui/src/components/filters/filters-field.tsx
  packages/ui/src/components/filters/types.ts
  packages/ui/src/components/popover.tsx
  packages/ui/src/views/connectors/connectors-list/connectors-list-page.tsx
  packages/ui/src/views/connectors/connectors-list/connectors-list.tsx
  packages/ui/src/views/connectors/connectors-list/filter-options.tsx
  packages/ui/src/views/connectors/connectors-list/types.ts
  packages/ui/src/views/connectors/connectors-list/utils.ts
Owners: none

fix dialog lost focus issue
  apps/design-system/src/App.tsx
  apps/gitness/src/App.tsx
  apps/gitness/src/AppMFE.tsx
  apps/portal/src/components/docs-page/example.tsx
  apps/portal/src/components/layout/ThemeSelector.tsx
  apps/portal/src/content/docs/components/dialog.mdx
  apps/portal/src/content/docs/components/form.mdx
  apps/portal/src/content/docs/components/language-selector.mdx
  packages/ui/src/components/alert-dialog.tsx
  packages/ui/src/components/dialog.tsx
  packages/ui/src/components/language-selector/language-dialog.tsx
  packages/ui/src/components/theme-selector-v2/theme-dialog.tsx
  packages/ui/src/views/repo/repo-branch/repo-branch-list-view.tsx
  packages/ui/src/views/repo/repo-create/default-branch-dialog.tsx
Owners: none

add multi dialogs support
  apps/portal/src/content/docs/components/dialog.mdx
  packages/ui/src/components/alert-dialog.tsx
  packages/ui/src/components/dialog.tsx
  packages/ui/src/components/language-selector/language-dialog.tsx
  packages/ui/src/components/theme-selector-v2/theme-dialog.tsx
  packages/ui/src/views/repo/repo-branch/components/create-branch-dialog.tsx
  packages/ui/src/views/repo/repo-create/default-branch-dialog.tsx
Owners: none

add custom dialog triggers
  apps/design-system/src/subjects/views/pull-request-conversation/pull-request-changes.tsx
  apps/design-system/src/subjects/views/pull-request-conversation/pull-request-conversation.tsx
  packages/ui/locales/en/component.json
  packages/ui/locales/fr/component.json
  packages/ui/src/components/button-group.tsx
  packages/ui/src/components/dialog.tsx
  packages/ui/src/components/file-control-bars/file-viewer-control-bar.tsx
  packages/ui/src/components/file-toolbar-actions.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/components/more-actions-tooltip.tsx
  packages/ui/src/components/navbar-project-chooser.tsx
  packages/ui/src/views/repo/components/path-action-bar.tsx
  packages/ui/src/views/repo/pull-request/details/components/changes/pull-request-changes-filter.tsx
  packages/ui/src/views/repo/pull-request/details/components/common/pull-request-comment-view.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-panel.tsx
  packages/ui/src/views/repo/repo-branch/components/branch-list.tsx
Owners: none

cleanup
  apps/design-system/src/subjects/views/pull-request-conversation/pull-request-changes.tsx
  apps/design-system/src/subjects/views/pull-request-conversation/pull-request-conversation.tsx
  packages/ui/src/components/alert-dialog.tsx
  packages/ui/src/components/dialog.tsx
  packages/ui/src/components/file-control-bars/file-viewer-control-bar.tsx
  packages/ui/src/components/file-toolbar-actions.tsx
  packages/ui/src/views/repo/repo-branch/components/create-branch-dialog.tsx
Owners: none

refresh screenshots
  packages/tests/__screenshots/chat-preview.spec.ts/chromium-chat-preview-matches-screenshot.png
  packages/tests/__screenshots/connectors-details-page.spec.ts/chromium-connectors-details-page-matches-screenshot.png
  packages/tests/__screenshots/execution-list.spec.ts/chromium-execution-list-matches-screenshot.png
  packages/tests/__screenshots/pipeline-list.spec.ts/chromium-pipeline-list-matches-screenshot.png
  packages/tests/__screenshots/profile-settings.spec.ts/chromium-profile-settings-matches-screenshot.png
  packages/tests/__screenshots/project-create-additional.spec.ts/chromium-project-create-additional-matches-screenshot.png
  packages/tests/__screenshots/project-settings.spec.ts/chromium-project-settings-matches-screenshot.png
  packages/tests/__screenshots/pull-request-changes-1.spec.ts/chromium-pull-request-changes-1-matches-screenshot.png
  packages/tests/__screenshots/pull-request-changes.spec.ts/chromium-pull-request-changes-matches-screenshot.png
  packages/tests/__screenshots/pull-request-commits.spec.ts/chromium-pull-request-commits-matches-screenshot.png
  packages/tests/__screenshots/pull-request-list.spec.ts/chromium-pull-request-list-matches-screenshot.png
  packages/tests/__screenshots/repo-files-edit-view.spec.ts/chromium-repo-files-edit-view-matches-screenshot.png
  packages/tests/__screenshots/repo-files-list.spec.ts/chromium-repo-files-list-matches-screenshot.png
  packages/tests/__screenshots/repo-labels-list.spec.ts/chromium-repo-labels-list-matches-screenshot.png
  packages/tests/__screenshots/repo-list.spec.ts/chromium-repo-list-matches-screenshot.png
Owners: none

turn on report screenshots
  playwright.config.ts
Owners: none

more work to capture entire screenshot
  packages/tests/commit-details.spec.ts
  packages/tests/common/test.ts
  packages/tests/create-rule.spec.ts
  packages/tests/secrets-multi-select-page.spec.ts
  playwright.config.ts
Owners: none

fix: minor edit fixes to form, bump UI (#10379)
  packages/ui/package.json
  packages/ui/src/views/secrets/secret-entity-form.tsx
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

chore: rebase
  apps/design-system/src/subjects/views/secrets/secret-details-activity.tsx
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/views/secrets/secret-details/secret-details-activity-list.tsx
  packages/ui/src/views/secrets/secret-details/types.ts
Owners: none

clear cached comment upon submitting pr comment box
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-comment-box.tsx
Owners: none

CODEOWNERS:

# Global configs
.github/ abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.eslintrc.js abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.prettierrc.yml abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Common ownership for shared config files
/packages/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/packages/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Apps
/apps/gitness/* abhinav.rastogi@harness.io vardan.bansal@harness.io
/apps/portal/* kevin.nagurski@harness.io pranesh.g@harness.io abhinav.rastogi@harness.io vardan.bansal@harness.io

# Packages with shared ownership
/packages/ui/* abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io pranesh.g@harness.io

# Packages with individual owners
/packages/forms/* srdjan.arsic@harness.io
/packages/unified-pipeline/* srdjan.arsic@harness.io
/packages/yaml-editor/* srdjan.arsic@harness.io
/packages/core-design-system/* pranesh.g@harness.io
