Repository harness/canary, changes with the owners that CODEOWNERS names for each.
All owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io, srdjan.arsic@harness.io

CODEOWNERS:

# Global configs
.github/ abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.eslintrc.js abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.prettierrc.yml abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Common ownership for shared config files
/packages/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/packages/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Apps
/apps/gitness/* abhinav.rastogi@harness.io vardan.bansal@harness.io
/apps/portal/* kevin.nagurski@harness.io pranesh.g@harness.io abhinav.rastogi@harness.io vardan.bansal@harness.io

# Packages with shared ownership
/packages/ui/* abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io pranesh.g@harness.io

# Packages with individual owners
/packages/forms/* srdjan.arsic@harness.io
/packages/unified-pipeline/* srdjan.arsic@harness.io
/packages/yaml-editor/* srdjan.arsic@harness.io
/packages/core-design-system/* pranesh.g@harness.io

add webhooks design review
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/components/table.tsx
  packages/ui/src/views/repo/webhooks/webhook-create/components/create-webhooks-form-fields.tsx
  packages/ui/src/views/repo/webhooks/webhook-create/repo-webhook-create-page.tsx
  packages/ui/src/views/repo/webhooks/webhook-executions/components/webhook-executions-editor-control-bar.tsx
  packages/ui/src/views/repo/webhooks/webhook-executions/repo-webhook-execution-details-page.tsx
  packages/ui/src/views/repo/webhooks/webhook-executions/repo-webhook-executions-list-page.tsx
  packages/ui/src/views/repo/webhooks/webhook-list/components/repo-webhook-list.tsx
  packages/ui/src/views/repo/webhooks/webhook-list/repo-webhook-list-page.tsx
Owners: none

add withoutWrapper prop (#10316)
  packages/forms/src/form/RenderForm/RenderForm.tsx
  packages/forms/src/form/RenderInputs/RenderInputs.tsx
  packages/forms/src/form/Row/Row.tsx
Owners: none

fix: bump ui and forms package (#10317)
  packages/forms/package.json
  packages/ui/package.json
Owners: srdjan.arsic@harness.io, abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

accordion card variant update (#10318)
  apps/portal/src/content/docs/components/accordion.mdx
  packages/ui/src/components/accordion/accordion.tsx
  packages/ui/tailwind-utils-config/components/accordion.ts
Owners: none

bump ui version (#10321)
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

remove select event and use mouseup and keyup for selection updates (#10310)
  packages/ui/src/views/repo/pull-request/compare/components/pull-request-compare-form.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-diff-viewer.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-comment-box.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-description-box.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-timeline-item.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/regular-and-code-comment.tsx
Owners: none

fix: commit selection from conversation tab in PR (#10320)
  apps/gitness/src/pages-v2/pull-request/pull-request-conversation.tsx
  packages/ui/src/components/commit-copy-actions.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-overview.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-system-comments.tsx
Owners: none

feat: add secret details pages - layout, activity and references (#10309)
  apps/design-system/src/pages/view-preview/secret-details-layout-wrapper.tsx
  apps/design-system/src/pages/view-preview/view-preview.tsx
  apps/design-system/src/subjects/views/secrets/mock-secrets-activity-data.json
  apps/design-system/src/subjects/views/secrets/mock-secrets-reference-data.json
  apps/design-system/src/subjects/views/secrets/secret-details-activity.tsx
  apps/design-system/src/subjects/views/secrets/secret-details-reference.tsx
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/context/router-context.tsx
  packages/ui/src/views/index.ts
  packages/ui/src/views/layouts/SecretDetailsLayout.tsx
  packages/ui/src/views/secrets/index.ts
  packages/ui/src/views/secrets/secret-details/secret-details-activity-list.tsx
  packages/ui/src/views/secrets/secret-details/secret-details-activity-page.tsx
  packages/ui/src/views/secrets/secret-details/secret-details-references-list.tsx
  packages/ui/src/views/secrets/secret-details/secret-details-references-page.tsx
  packages/ui/src/views/secrets/secret-details/types.ts
Owners: none

add playwright for screenshot testing
  .gitignore
  package.json
  packages/tests/screenshot-example.spec.ts
  packages/tests/screenshot-example.spec.ts-snapshots/matches-screenshot-1-chromium-darwin.png
  packages/tests/screenshot-example.spec.ts-snapshots/matches-screenshot-1-firefox-darwin.png
  packages/tests/screenshot-example.spec.ts-snapshots/matches-screenshot-1-webkit-darwin.png
  playwright.config.ts
  pnpm-lock.yaml
Owners: none

Repo Summary: Fixed all files deleted state (#10311)
  apps/gitness/src/hooks/useRepoFileContentDetails.ts
  apps/gitness/src/pages-v2/repo/repo-summary.tsx
Owners: none

Apply suggestion from code review
  .gitignore
Owners: none

chore: Remove Shadow DOM (#10302)
  apps/gitness/src/AppMFE.tsx
  apps/gitness/src/components-v2/shadow-root-wrapper.tsx
  apps/gitness/src/styles.css
  apps/gitness/webpack.config.cjs
  packages/ui/src/views/repo/pull-request/compare/pull-request-compare-page.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-diff-viewer.tsx
Owners: abhinav.rastogi@harness.io, vardan.bansal@harness.io

Rules - Row shoudl be clickable
  apps/gitness/src/pages-v2/project/project-rules-list-container.tsx
  apps/gitness/src/pages-v2/repo/repo-settings-rules-list-container.tsx
  packages/ui/src/views/repo/repo-settings/components/repo-settings-general-rules.tsx
Owners: none

feat: Display email for PR reviewers (#10312)
  apps/gitness/src/pages-v2/pull-request/pull-request-compare.tsx
  apps/gitness/src/pages-v2/pull-request/pull-request-conversation.tsx
  packages/ui/src/views/repo/pull-request/components/reviewers/pull-request-reviewers-header.tsx
  packages/ui/src/views/repo/pull-request/components/reviewers/pull-request-reviewers-item.tsx
  packages/ui/src/views/repo/pull-request/components/reviewers/reviewer-info.tsx
  packages/ui/src/views/repo/pull-request/details/pull-request-details-types.ts
  packages/ui/src/views/repo/pull-request/pull-request.types.ts
Owners: none

PR descriptions stale data when navigating between PRs
  apps/gitness/src/pages-v2/pull-request/pull-request-data-provider.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-description-box.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-overview.tsx
Owners: none

fix: desc on pr create (#10326)
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-comment-box.tsx
Owners: none

fix numbered list in comments (#2105)
  packages/ui/src/components/markdown-viewer/style.css
Owners: none

fixes
  packages/ui/src/components/table.tsx
  packages/ui/src/views/repo/webhooks/webhook-executions/repo-webhook-execution-details-page.tsx
  packages/ui/src/views/repo/webhooks/webhook-executions/repo-webhook-executions-list-page.tsx
  packages/ui/src/views/repo/webhooks/webhook-list/repo-webhook-list-page.tsx
  packages/ui/src/views/repo/webhooks/webhook-list/types.ts
Owners: none

feat: add expand collapse diff buttons to PR
  apps/gitness/src/framework/hooks/useDownloadRawFile.ts
  apps/gitness/src/pages-v2/pull-request/pull-request-changes.tsx
  packages/ui/src/styles/styles.css
  packages/ui/src/views/repo/pull-request/components/in-view-diff-renderer.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-accordian.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-diff-viewer.tsx
  packages/ui/src/views/repo/pull-request/details/components/changes/pull-request-changes.tsx
  packages/ui/src/views/repo/pull-request/details/pull-request-changes-page.tsx
Owners: none

fix type check
  apps/design-system/src/subjects/views/pull-request-conversation/pull-request-changes.tsx
Owners: none

DS migration - StackedList
  apps/design-system/src/subjects/views/connectors/mock-connectors-data.json
  apps/design-system/src/subjects/views/execution-list/execution-list.tsx
  apps/design-system/src/subjects/views/pipeline-list/pipeline-list.tsx
  apps/gitness/src/components-v2/LinkComponent.tsx
  apps/gitness/src/pages-v2/repo/repo-execution-list.tsx
  apps/portal/src/content/docs/components/stacked-list.mdx
  packages/ui/src/components/file-control-bars/file-editor-control-bar.tsx
  packages/ui/src/components/file-control-bars/file-viewer-control-bar.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/components/skeletons/skeleton-list.tsx
  packages/ui/src/components/stacked-list.tsx
  packages/ui/src/views/components/RadioSelect.tsx
  packages/ui/src/views/connectors/connector-reference/connector-reference.tsx
  packages/ui/src/views/pipelines/execution-list/execution-list-page.tsx
  packages/ui/src/views/pipelines/execution-list/execution-list.tsx
  packages/ui/src/views/pipelines/execution-list/types.ts
  packages/ui/src/views/pipelines/pipeline-list/pipeline-list-page.tsx
  packages/ui/src/views/pipelines/pipeline-list/pipeline-list.tsx
  packages/ui/src/views/pipelines/pipeline-list/types.ts
  packages/ui/src/views/platform/entity-reference-component.tsx
  packages/ui/src/views/platform/entity-reference-list.tsx
  packages/ui/src/views/repo/components/commits-list.tsx
  packages/ui/src/views/repo/components/file-last-change-bar.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-list.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-panel.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/components/commons.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/pull-request-changes-section.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/pull-request-checks-section.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/pull-request-comment-section.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/pull-request-merge-section.tsx
  packages/ui/src/views/repo/repo-commit-details/components/commit-changes.tsx
  packages/ui/src/views/repo/repo-list/repo-list.tsx
  packages/ui/src/views/repo/repo-settings/components/repo-settings-general-rules.tsx
  packages/ui/src/views/repo/repo-summary/repo-summary.tsx
  packages/ui/src/views/repo/webhooks/webhook-executions/components/webhook-executions-editor-control-bar.tsx
  packages/ui/src/views/secrets/secret-reference/secret-reference.tsx
  packages/ui/tailwind-utils-config/components/index.ts
  packages/ui/tailwind-utils-config/components/stacked-list.ts
  packages/ui/tailwind-utils-config/components/time-ago-card.ts
Owners: none

DS migration - StackedList
  packages/ui/src/views/repo/repo-settings/components/repo-settings-general-rules.tsx
Owners: none

update md styles
  packages/ui/src/components/markdown-viewer/style.css
Owners: none

DS migration - StackedList
  apps/design-system/src/subjects/views/data-table-demo.tsx
  apps/design-system/src/subjects/views/draggable-cards-demo.tsx
  apps/design-system/src/subjects/views/execution-list/execution-list.tsx
  apps/design-system/src/subjects/views/pipeline-list/pipeline-list.tsx
  apps/design-system/src/subjects/views/repo-files/components/repo-file-content-viewer.tsx
  apps/design-system/src/subjects/views/table-v2-demo.tsx
Owners: none

fix
  packages/ui/src/views/repo/webhooks/webhook-list/repo-webhook-list-page.tsx
Owners: none

update md styles (#2106)
  packages/ui/src/components/markdown-viewer/style.css
Owners: none

add webhooks design review (#2104)
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/components/table.tsx
  packages/ui/src/views/repo/webhooks/webhook-create/components/create-webhooks-form-fields.tsx
  packages/ui/src/views/repo/webhooks/webhook-create/repo-webhook-create-page.tsx
  packages/ui/src/views/repo/webhooks/webhook-executions/components/webhook-executions-editor-control-bar.tsx
  packages/ui/src/views/repo/webhooks/webhook-executions/repo-webhook-execution-details-page.tsx
  packages/ui/src/views/repo/webhooks/webhook-executions/repo-webhook-executions-list-page.tsx
  packages/ui/src/views/repo/webhooks/webhook-list/components/repo-webhook-list.tsx
  packages/ui/src/views/repo/webhooks/webhook-list/repo-webhook-list-page.tsx
  packages/ui/src/views/repo/webhooks/webhook-list/types.ts
Owners: none

fix comment truncation in safary
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-timeline-item.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/regular-and-code-comment.tsx
Owners: none

fix
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-timeline-item.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/regular-and-code-comment.tsx
Owners: none

fix comment truncation in Safari (#2107)
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-timeline-item.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/regular-and-code-comment.tsx
Owners: none

fix: Viewed button is not completely clickable (#10330)
  packages/ui/src/views/repo/pull-request/components/pull-request-accordian.tsx
  packages/ui/src/views/repo/pull-request/details/components/changes/pull-request-changes.tsx
Owners: none

empty-content color updated (#10328)
  packages/core-design-system/design-tokens/mode/dark/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/default-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast.json
  packages/core-design-system/design-tokens/mode/light/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/default-protanopia.json
  packages/core-design-system/design-tokens/mode/light/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/default.json
  packages/core-design-system/design-tokens/mode/light/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast.json
  packages/ui/tailwind-utils-config/components/badge.ts
Owners: none

avatar sizes changed
  packages/core-design-system/design-tokens/$themes.json
  packages/core-design-system/design-tokens/components/desktop/base/avatar.json
  packages/core-design-system/design-tokens/core/typography.json
Owners: none

py value for md accordion updated
  packages/core-design-system/design-tokens/$themes.json
  packages/core-design-system/design-tokens/components/desktop/base/accordion.json
Owners: none

header tokens added
  packages/core-design-system/design-tokens/$metadata.json
  packages/core-design-system/design-tokens/components/desktop/base/header.json
Owners: none

uppercase font-style added
  packages/core-design-system/design-tokens/breakpoint/desktop.json
Owners: none

Removed unused tokens from the sidebar. Logo tokens were also removed from the sidebar token group.
  packages/core-design-system/design-tokens/mode/dark/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/default-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast.json
  packages/core-design-system/design-tokens/mode/light/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/default-protanopia.json
  packages/core-design-system/design-tokens/mode/light/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/default.json
  packages/core-design-system/design-tokens/mode/light/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast.json
Owners: none

color update (#10331)
  packages/core-design-system/design-tokens/mode/light/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/default-protanopia.json
  packages/core-design-system/design-tokens/mode/light/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/default.json
  packages/core-design-system/design-tokens/mode/light/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast.json
Owners: none

Revert Pull Request #10311 "Repo Summary: Fixed all files deleted state" (#10325)
  apps/gitness/src/hooks/useRepoFileContentDetails.ts
  apps/gitness/src/pages-v2/repo/repo-summary.tsx
Owners: none

Fixed PR description stale issue (#10327)
  apps/gitness/src/pages-v2/pull-request/pull-request-layout.tsx
Owners: none
