Repository harness/canary, changes with the owners that CODEOWNERS names for each.
All owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io, srdjan.arsic@harness.io

fix
  packages/core-design-system/design-tokens/$themes.json
  packages/core-design-system/design-tokens/core/colors_hex_new.json
Owners: none

fix
  packages/core-design-system/design-tokens/$themes.json
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

gray tweak
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
Owners: none

rename
  packages/core-design-system/design-tokens/core/colors_lch_new.json
Owners: none

fix: adjust gray.50 lightness from 98% to 95%
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
Owners: none

fix
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
Owners: none

fix
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
Owners: none

fix
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

fix
  packages/core-design-system/design-tokens/$themes.json
Owners: none

fix: [UUI-364]: Add Studio card components for pipeline studio (#10673)
  packages/pipeline-graph/src/pipeline-graph.css
  packages/ui/package.json
  packages/ui/src/components/index.ts
  packages/ui/src/components/pipeline-nodes/types/types.ts
  packages/ui/src/components/studio-card/studio-card-types.ts
  packages/ui/src/components/studio-card/studio-card.tsx
  packages/ui/src/components/text.tsx
  packages/ui/tailwind-utils-config/components/index.ts
  packages/ui/tailwind-utils-config/components/studio-card.ts
  packages/ui/tailwind-utils-config/utilities/typography.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Pull from main
  packages/ui/src/components/nav/side-nav.tsx
Owners: none

Add variables section in docs to easily find CSS variables
  apps/portal/astro.config.ts
  apps/portal/src/components/CSSVariables.astro
  apps/portal/src/components/docs-page/CSSVariablesClient.tsx
  apps/portal/src/content/docs/foundations/variables.mdx
Owners: kevin.nagurski@harness.io, pranesh.g@harness.io, abhinav.rastogi@harness.io, vardan.bansal@harness.io

Add DiffViewer component to UI package
  apps/portal/astro.config.ts
  apps/portal/src/content/docs/components/markdown-display/diff-viewer.mdx
  apps/portal/src/styles.css
  packages/ui/package.json
  packages/ui/src/components/diff-viewer/diff-viewer.tsx
  packages/ui/src/components/index.ts
  pnpm-lock.yaml
Owners: kevin.nagurski@harness.io, pranesh.g@harness.io, abhinav.rastogi@harness.io, vardan.bansal@harness.io

Fix inline actions per instance (#10679)
  packages/yaml-editor/package.json
  packages/yaml-editor/src/components/YamlEditor.tsx
  packages/yaml-editor/src/hooks/useCodeLens.tsx
Owners: srdjan.arsic@harness.io

Add variables section in docs to easily find CSS variables (#10674)
  apps/portal/astro.config.ts
  apps/portal/src/components/CSSVariables.astro
  apps/portal/src/components/docs-page/CSSVariablesClient.tsx
  apps/portal/src/content/docs/foundations/variables.mdx
Owners: kevin.nagurski@harness.io, pranesh.g@harness.io, abhinav.rastogi@harness.io, vardan.bansal@harness.io

fix(popover): prevent focus outline and increase width for sidebar navigation (#10681)
  packages/ui/src/components/popover.tsx
  packages/ui/tailwind-utils-config/components/popover.ts
Owners: none

feat: Capturing title and conversationId in thread runtime (#10680)
  packages/ai-chat-core/package.json
  packages/ai-chat-core/playground/src/examples/chat-example.tsx
  packages/ai-chat-core/src/runtime/ThreadRuntime/ThreadRuntime.ts
  packages/ai-chat-core/src/runtime/ThreadRuntime/ThreadRuntimeCore.ts
  packages/ai-chat-core/src/types/adapters.ts
  packages/ai-chat-core/src/types/thread.ts
  packages/ai-chat-core/src/utils/BaseSSEStreamAdapter.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io

Add logic to show/hide item icon in FileExplorer component (#10677)
  packages/ui/package.json
  packages/ui/src/components/__tests__/file-explorer.test.tsx
  packages/ui/src/components/file-explorer.tsx
  packages/ui/tailwind-utils-config/components/tree.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

feat: [AIDEVOPS-1740]: Added shimmer component
  apps/portal/src/content/docs/components/chat/shimmer.mdx
  packages/ui/src/components/index.ts
  packages/ui/src/components/shimmer.tsx
Owners: none

version bump
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

prettier
  packages/ui/src/components/shimmer.tsx
Owners: none

prettier
  apps/portal/src/content/docs/components/chat/shimmer.mdx
Owners: none

Added reasoning component
  apps/portal/src/content/docs/components/chat/reasoning.mdx
  packages/ui/src/components/chat/index.ts
  packages/ui/src/components/chat/reasoning.tsx
  packages/ui/tailwind-utils-config/components/index.ts
  packages/ui/tailwind-utils-config/components/reasoning.ts
Owners: none

feat: [AIDEVOPS-1740]: Added shimmer component (#10683)
  apps/portal/src/content/docs/components/chat/reasoning.mdx
  apps/portal/src/content/docs/components/chat/shimmer.mdx
  packages/ui/package.json
  packages/ui/src/components/chat/index.ts
  packages/ui/src/components/chat/reasoning.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/components/shimmer.tsx
  packages/ui/tailwind-utils-config/components/index.ts
  packages/ui/tailwind-utils-config/components/reasoning.ts
  packages/ui/tailwind-utils-config/components/shimmer.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Version Bump - fix(popover): prevent focus outline and increase width for sidebar navigation (#10682)
  packages/ui/src/components/popover.tsx
  packages/ui/tailwind-utils-config/components/popover.ts
Owners: none

fix: minor issue with validation for list inputs (#10684)
  packages/forms/package.json
  packages/forms/src/core/validation/zod-validation.ts
Owners: srdjan.arsic@harness.io

UI version bump (#10686)
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Added background transparent in reasoning markdown (#10687)
  packages/ui/package.json
  packages/ui/src/components/chat/reasoning.tsx
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

ai-chat-core version bump (#10688)
  packages/ai-chat-core/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io

[UUI-413]: Ignore default values (#10689)
  packages/ui/package.json
  packages/ui/src/views/run-pipeline/utils/inputs-utils.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Add tag to StudioCard (#10678)
  packages/ui/src/components/studio-card/studio-card.tsx
  packages/ui/tailwind-utils-config/components/studio-card.ts
  packages/ui/tailwind-utils-config/utilities/background.ts
Owners: none

Add DiffViewer component to UI package (#10676)
  apps/portal/astro.config.ts
  apps/portal/src/components/docs-page/example.tsx
  apps/portal/src/content/docs/components/markdown-display/diff-viewer.mdx
  apps/portal/src/styles.css
  packages/ui/package.json
  packages/ui/src/components/diff-viewer/diff-viewer.tsx
  packages/ui/src/components/diff-viewer/use-diff-highlighter.ts
  packages/ui/src/components/index.ts
  pnpm-lock.yaml
Owners: kevin.nagurski@harness.io, pranesh.g@harness.io, abhinav.rastogi@harness.io, vardan.bansal@harness.io

fix
  packages/core-design-system/design-tokens/$themes.json
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

fix
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

upd
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

fix
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
Owners: none

fix
  packages/core-design-system/design-tokens/core/colors_hex_new.json
  packages/core-design-system/design-tokens/core/colors_lch_new.json
Owners: none

fix
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

fix
  packages/core-design-system/tools/palette-generator.html
Owners: none

colors fix
  packages/core-design-system/design-tokens/core/colors_lch_new.json
Owners: none

CODEOWNERS:

# Global configs
.github/ abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.eslintrc.js abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.prettierrc.yml abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Common ownership for shared config files
/packages/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/packages/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Apps
/apps/gitness/* abhinav.rastogi@harness.io vardan.bansal@harness.io
/apps/portal/* kevin.nagurski@harness.io pranesh.g@harness.io abhinav.rastogi@harness.io vardan.bansal@harness.io

# Packages with shared ownership
/packages/ui/* abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io pranesh.g@harness.io

# Packages with individual owners
/packages/forms/* srdjan.arsic@harness.io
/packages/unified-pipeline/* srdjan.arsic@harness.io
/packages/yaml-editor/* srdjan.arsic@harness.io
/packages/core-design-system/* pranesh.g@harness.io
