Repository harness/canary, changes with the owners that CODEOWNERS names for each.
All owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io, srdjan.arsic@harness.io

update ui package version
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

update ui package version (#2249)
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix user select
  packages/ui/src/components/calendar.tsx
  packages/ui/src/components/pagination/pagination.tsx
  packages/ui/src/components/stacked-list.tsx
  packages/ui/src/components/treeview.tsx
  packages/ui/tailwind-utils-config/components/accordion.ts
  packages/ui/tailwind-utils-config/components/avatar.ts
  packages/ui/tailwind-utils-config/components/input.ts
  packages/ui/tailwind-utils-config/components/progress.ts
  packages/ui/tailwind-utils-config/components/select.ts
  packages/ui/tailwind-utils-config/components/sidebar.ts
  packages/ui/tailwind-utils-config/components/stacked-list.ts
  packages/ui/tailwind-utils-config/components/textarea.ts
Owners: none

fix long title in pr-item-header
  packages/ui/src/components/node-group.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-system-comments.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-timeline-item.tsx
Owners: none

draggable bg
  packages/core-design-system/design-tokens/mode/dark/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/default-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast.json
  packages/core-design-system/design-tokens/mode/light/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/default-protanopia.json
  packages/core-design-system/design-tokens/mode/light/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/default.json
  packages/core-design-system/design-tokens/mode/light/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast.json
Owners: none

shadows update
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

Update all lists to use Pagination in Table or StackedList (#2241)
  packages/ui/src/components/stacked-list.tsx
  packages/ui/src/views/labels/components/labels-list-view.tsx
  packages/ui/src/views/labels/labels-list-page.tsx
  packages/ui/src/views/project/project-members/components/member-list.tsx
  packages/ui/src/views/project/project-members/components/project-member-list.tsx
  packages/ui/src/views/project/project-rules/project-rules-page.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-list.tsx
  packages/ui/src/views/repo/pull-request/pull-request-list-page.tsx
  packages/ui/src/views/repo/pull-request/pull-request.types.ts
  packages/ui/src/views/repo/repo-branch/components/branch-list.tsx
  packages/ui/src/views/repo/repo-branch/repo-branch-list-view.tsx
  packages/ui/src/views/repo/repo-branch/types.ts
  packages/ui/src/views/repo/repo-list/repo-list-page.tsx
  packages/ui/src/views/repo/repo-list/repo-list.tsx
  packages/ui/src/views/repo/repo-settings/components/repo-settings-general-rules.tsx
  packages/ui/src/views/repo/repo-tags/components/repo-tags-list.tsx
  packages/ui/src/views/repo/repo-tags/repo-tags-list-page.tsx
  packages/ui/src/views/repo/webhooks/webhook-executions/repo-webhook-executions-list-page.tsx
  packages/ui/src/views/repo/webhooks/webhook-list/components/repo-webhook-list.tsx
  packages/ui/src/views/repo/webhooks/webhook-list/repo-webhook-list-page.tsx
  packages/ui/src/views/secrets/secret-details/secret-details-activity-list.tsx
  packages/ui/src/views/secrets/secret-details/secret-details-activity-page.tsx
  packages/ui/src/views/secrets/secret-details/secret-details-references-list.tsx
  packages/ui/src/views/secrets/secret-details/secret-details-references-page.tsx
  packages/ui/src/views/secrets/secrets-list/secrets-list-page.tsx
  packages/ui/src/views/secrets/secrets-list/secrets-list.tsx
  packages/ui/src/views/secrets/secrets-list/types.ts
  packages/ui/src/views/user-management/components/main.tsx
  packages/ui/src/views/user-management/components/page-components/content/components/users-list/users-list.tsx
  packages/ui/src/views/user-management/components/page-components/content/content.tsx
  packages/ui/src/views/user-management/components/page-components/content/types.ts
Owners: none

fix ronded node group icon
  packages/ui/src/components/node-group.tsx
Owners: none

fix
  packages/ui/src/components/node-group.tsx
Owners: none

fixes
  packages/ui/src/components/file-explorer.tsx
  packages/ui/tailwind-utils-config/components/tree.ts
Owners: none

add css utilities to the portal
  apps/portal/astro.config.ts
  apps/portal/src/content/docs/customization/border-colors.mdx
  apps/portal/src/content/docs/customization/border-radius.mdx
  apps/portal/src/content/docs/customization/shadows.mdx
  apps/portal/src/content/docs/customization/typography-scale.mdx
Owners: kevin.nagurski@harness.io, pranesh.g@harness.io, abhinav.rastogi@harness.io, vardan.bansal@harness.io

fix return old value
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-timeline-item.tsx
Owners: none

fix long title in pr-item-header (#2251)
  packages/ui/src/components/node-group.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-system-comments.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/pull-request-timeline-item.tsx
Owners: none

add css utilities to the portal (#2252)
  apps/portal/astro.config.ts
  apps/portal/src/content/docs/customization/border-colors.mdx
  apps/portal/src/content/docs/customization/border-radius.mdx
  apps/portal/src/content/docs/customization/shadows.mdx
  apps/portal/src/content/docs/customization/typography-scale.mdx
Owners: kevin.nagurski@harness.io, pranesh.g@harness.io, abhinav.rastogi@harness.io, vardan.bansal@harness.io

upd
  packages/core-design-system/design-tokens/components/desktop/base/sidebar.json
  packages/core-design-system/design-tokens/core/typography.json
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

upd
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

Accordion trigger revision (#2248)
  apps/portal/src/content/docs/components/data-display/accordion.mdx
  packages/ui/src/components/accordion/__tests__/accordion.test.tsx
  packages/ui/src/components/accordion/accordion.tsx
  packages/ui/src/components/file-explorer.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/pull-request-changes-section.tsx
  packages/ui/src/views/repo/pull-request/details/components/conversation/sections/pull-request-merge-section.tsx
  packages/ui/tailwind-utils-config/components/accordion.ts
  packages/ui/tailwind-utils-config/components/tree.ts
Owners: none

fix user select (#2250)
  packages/ui/src/components/calendar.tsx
  packages/ui/src/components/pagination/pagination.tsx
  packages/ui/src/components/stacked-list.tsx
  packages/ui/src/components/treeview.tsx
  packages/ui/tailwind-utils-config/components/accordion.ts
  packages/ui/tailwind-utils-config/components/avatar.ts
  packages/ui/tailwind-utils-config/components/input.ts
  packages/ui/tailwind-utils-config/components/progress.ts
  packages/ui/tailwind-utils-config/components/select.ts
  packages/ui/tailwind-utils-config/components/sidebar.ts
  packages/ui/tailwind-utils-config/components/stacked-list.ts
  packages/ui/tailwind-utils-config/components/textarea.ts
Owners: none

feat: [CODE-4513] public repo support
  apps/gitness/src/components-v2/breadcrumbs/useGetBreadcrumbs.ts
  apps/gitness/src/components-v2/breadcrumbs/usePublicAccess.ts
  apps/gitness/src/components-v2/public-access/PageNotPublic.tsx
  apps/gitness/src/components-v2/public-access/PublicAccessGuard.tsx
  apps/gitness/src/components-v2/public-access/index.ts
  apps/gitness/src/framework/context/AppContext.tsx
  apps/gitness/src/framework/context/MFEContext.tsx
  apps/gitness/src/framework/routing/types.ts
  apps/gitness/src/framework/routing/utils.ts
  apps/gitness/src/routes.tsx
Owners: none

light mode sidebar selected state update
  packages/core-design-system/design-tokens/mode/light/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/default-protanopia.json
  packages/core-design-system/design-tokens/mode/light/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/default.json
  packages/core-design-system/design-tokens/mode/light/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast.json
Owners: none

upd
  packages/core-design-system/design-tokens/$themes.json
  packages/core-design-system/design-tokens/mode/dark/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/default-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast.json
  packages/core-design-system/design-tokens/mode/light/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/default-protanopia.json
  packages/core-design-system/design-tokens/mode/light/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/default.json
  packages/core-design-system/design-tokens/mode/light/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast.json
Owners: none

caps tracking updated
  packages/core-design-system/design-tokens/breakpoint/desktop.json
Owners: none

sub-item updated
  packages/core-design-system/design-tokens/components/desktop/base/sidebar.json
Owners: none

group label color update
  packages/core-design-system/design-tokens/mode/dark/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/default-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast.json
  packages/core-design-system/design-tokens/mode/light/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/default-protanopia.json
  packages/core-design-system/design-tokens/mode/light/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/default.json
  packages/core-design-system/design-tokens/mode/light/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast.json
Owners: none

upd
  packages/core-design-system/design-tokens/mode/dark/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/default-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast.json
  packages/core-design-system/design-tokens/mode/light/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/default-protanopia.json
  packages/core-design-system/design-tokens/mode/light/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast.json
Owners: none

upd
  packages/core-design-system/design-tokens/components/desktop/base/sidebar.json
Owners: none

fix gradient
  packages/core-design-system/design-tokens/$themes.json
  packages/core-design-system/design-tokens/components/desktop/base/drawer.json
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/core-design-system/design-tokens/mode/dark/dimmer.json
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

font bug fix
  packages/core-design-system/design-tokens/core/typography.json
Owners: none

chore(ui): update icons from Figma
  packages/ui/src/components/icon-v2/icon-name-map.ts
  packages/ui/src/components/icon-v2/icons/collapsed-items.svg
  packages/ui/src/components/icon-v2/icons/custom-deployment-solid.svg
  packages/ui/src/components/icon-v2/icons/custom-remote.svg
  packages/ui/src/components/icon-v2/icons/delegates.svg
  packages/ui/src/components/icon-v2/icons/deploy-solid.svg
  packages/ui/src/components/icon-v2/icons/enviroments.svg
  packages/ui/src/components/icon-v2/icons/globe.svg
  packages/ui/src/components/icon-v2/icons/monitored-service.svg
  packages/ui/src/components/icon-v2/icons/overrides.svg
  packages/ui/src/components/icon-v2/icons/search.svg
  packages/ui/src/components/icon-v2/icons/secret-ssh-solid.svg
  packages/ui/src/components/icon-v2/icons/secure-shell-solid.svg
  packages/ui/src/components/icon-v2/icons/services.svg
  packages/ui/src/components/icon-v2/icons/settings-solid.svg
  packages/ui/src/components/icon-v2/icons/templates.svg
  packages/ui/src/components/icon-v2/icons/webhook.svg
  packages/ui/src/components/icon-v2/icons/zoom-in.svg
  packages/ui/src/components/icon-v2/icons/zoom-out.svg
Owners: none

draggable bg
  packages/core-design-system/design-tokens/mode/dark/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/default-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast.json
  packages/core-design-system/design-tokens/mode/light/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/default-protanopia.json
  packages/core-design-system/design-tokens/mode/light/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/default.json
  packages/core-design-system/design-tokens/mode/light/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast.json
Owners: none

gradient update
  packages/core-design-system/design-tokens/mode/dark/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/default-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast.json
  packages/core-design-system/design-tokens/mode/light/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/default-protanopia.json
  packages/core-design-system/design-tokens/mode/light/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/default.json
  packages/core-design-system/design-tokens/mode/light/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast.json
Owners: none

fix
  packages/core-design-system/design-tokens/core/typography.json
  packages/core-design-system/design-tokens/mode/dark/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/default-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast.json
  packages/core-design-system/design-tokens/mode/light/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/default-protanopia.json
  packages/core-design-system/design-tokens/mode/light/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/default.json
  packages/core-design-system/design-tokens/mode/light/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast.json
Owners: none

fix font names
  packages/core-design-system/design-tokens/core/typography.json
Owners: none

caps typography updated
  packages/core-design-system/design-tokens/breakpoint/desktop.json
Owners: none

upd
  packages/core-design-system/design-tokens/components/desktop/base/sidebar.json
  packages/core-design-system/design-tokens/core/typography.json
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

upd
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

shadows update
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

dark mode selected state updated
  packages/core-design-system/design-tokens/mode/dark/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/default-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast.json
Owners: none

sidebar items value update
  packages/core-design-system/design-tokens/components/desktop/base/sidebar.json
Owners: none

chore(ui): update logos from Figma
  packages/ui/src/components/logo-v2/logo-name-map.ts
  packages/ui/src/components/logo-v2/logos/connector.svg
  packages/ui/src/components/logo-v2/logos/custom-deployment.svg
  packages/ui/src/components/logo-v2/logos/custom-secret-manager.svg
  packages/ui/src/components/logo-v2/logos/default-secret-manager.svg
  packages/ui/src/components/logo-v2/logos/error-tracking.svg
  packages/ui/src/components/logo-v2/logos/harness.svg
  packages/ui/src/components/logo-v2/logos/secret-ssh.svg
  packages/ui/src/components/logo-v2/logos/secure-shell.svg
  packages/ui/src/components/logo-v2/logos/serverless.svg
Owners: none

CODEOWNERS:

# Global configs
.github/ abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.eslintrc.js abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.prettierrc.yml abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Common ownership for shared config files
/packages/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/packages/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Apps
/apps/gitness/* abhinav.rastogi@harness.io vardan.bansal@harness.io
/apps/portal/* kevin.nagurski@harness.io pranesh.g@harness.io abhinav.rastogi@harness.io vardan.bansal@harness.io

# Packages with shared ownership
/packages/ui/* abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io pranesh.g@harness.io

# Packages with individual owners
/packages/forms/* srdjan.arsic@harness.io
/packages/unified-pipeline/* srdjan.arsic@harness.io
/packages/yaml-editor/* srdjan.arsic@harness.io
/packages/core-design-system/* pranesh.g@harness.io
