Repository harness/canary, changes with the owners that CODEOWNERS names for each.
All owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io, srdjan.arsic@harness.io

CODEOWNERS:

# Global configs
.github/ abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.eslintrc.js abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
.prettierrc.yml abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Common ownership for shared config files
/packages/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/package.json abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/packages/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io
/apps/*/vite.config.ts abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io

# Apps
/apps/gitness/* abhinav.rastogi@harness.io vardan.bansal@harness.io
/apps/portal/* kevin.nagurski@harness.io pranesh.g@harness.io abhinav.rastogi@harness.io vardan.bansal@harness.io

# Packages with shared ownership
/packages/ui/* abhinav.rastogi@harness.io kevin.nagurski@harness.io vardan.bansal@harness.io pranesh.g@harness.io

# Packages with individual owners
/packages/forms/* srdjan.arsic@harness.io
/packages/unified-pipeline/* srdjan.arsic@harness.io
/packages/yaml-editor/* srdjan.arsic@harness.io
/packages/core-design-system/* pranesh.g@harness.io

feat: Add "className" prop to Animated Sidebar Rail component (#10612)
  packages/ui/src/components/sidebar/animated-sidebar-rail.tsx
  packages/ui/src/components/sidebar/sidebar-units.tsx
Owners: none

Bump patch version in packages/ui/package.json to 0.0.195
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

chore: Move trigger close to the sidebar rail (#10613)
  packages/ui/src/components/sidebar/animated-sidebar-rail.tsx
Owners: none

Bump patch version in packages/ui/package.json to 0.0.196
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix: [CODE-4811] push rules and list limit (#10610)
  apps/gitness/src/pages-v2/project/stores/labels-store.ts
  apps/gitness/src/pages-v2/project/stores/project-rules-store.tsx
  apps/gitness/src/pages-v2/pull-request/pull-request-list.tsx
  apps/gitness/src/pages-v2/repo/stores/repo-branches-store.ts
  apps/gitness/src/pages-v2/repo/stores/repo-execution-list-store.tsx
  apps/gitness/src/pages-v2/repo/stores/repo-list-store.tsx
  apps/gitness/src/pages-v2/repo/stores/repo-tags-store.tsx
  apps/gitness/src/pages-v2/webhooks/stores/webhook-store.tsx
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/views/project/project-rules/project-rules-page.tsx
  packages/ui/src/views/repo/repo-branch-rules/components/repo-branch-rules-fields.tsx
  packages/ui/src/views/repo/repo-push-rules/components/repo-push-rules-fields.tsx
  packages/ui/src/views/repo/repo-tag-rules/components/repo-tag-rules-fields.tsx
Owners: none

upd
  packages/core-design-system/design-tokens/mode/dark/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/default-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast.json
  packages/core-design-system/design-tokens/mode/light/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/default-protanopia.json
  packages/core-design-system/design-tokens/mode/light/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast.json
Owners: none

typography fix
  packages/core-design-system/design-tokens/core/typography.json
Owners: none

pipeline font added
  packages/core-design-system/design-tokens/breakpoint/desktop.json
Owners: none

fix
  packages/core-design-system/design-tokens/breakpoint/desktop.json
  packages/core-design-system/design-tokens/core/typography.json
Owners: none

Added a prompt input AI component (#10615)
  apps/portal/src/content/docs/components/chat/prompt-input.mdx
  packages/ui/src/components/chat/index.ts
  packages/ui/src/components/chat/prompt-input.tsx
  packages/ui/tailwind-utils-config/components/index.ts
  packages/ui/tailwind-utils-config/components/prompt-input.ts
Owners: none

Removed useComposerState hook and added text state in useComposer (#10616)
  packages/ai-chat-core/src/react/components/AuxiliaryRenderer.tsx
  packages/ai-chat-core/src/react/components/ContentRenderer.tsx
  packages/ai-chat-core/src/react/components/index.ts
  packages/ai-chat-core/src/react/hooks/index.ts
  packages/ai-chat-core/src/react/hooks/useComposer.ts
  packages/ai-chat-core/src/react/index.ts
Owners: none

UI and AI chat version bump (#10617)
  packages/ai-chat-core/package.json
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix: Fix Sidebar rail width (#10619)
  packages/ui/src/components/sidebar/animated-sidebar-rail.tsx
Owners: none

Bump patch version in packages/ui/package.json to 0.0.198
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix: [UUI-301]: Fix pagination scroll along with table (#10618)
  packages/ui/src/components/table.tsx
Owners: none

feat: [UUI-290]: Update TimeAgoCard component to always follow narrow relative date time format (#10614)
  apps/design-system/src/subjects/views/templates/view-only.tsx
  apps/portal/src/content/docs/components/overlays/time-ago-card.mdx
  packages/ui/src/components/__tests__/time-ago-card.test.tsx
  packages/ui/src/components/time-ago-card.tsx
  packages/ui/src/views/layouts/SecretDetailsLayout.tsx
  packages/ui/src/views/repo/components/commits-list.tsx
  packages/ui/src/views/repo/components/file-last-change-bar.tsx
  packages/ui/src/views/repo/components/summary/summary.tsx
  packages/ui/src/views/repo/pull-request/components/pull-request-item-description.tsx
  packages/ui/src/views/repo/pull-request/details/components/changes/chained-commits-dropdown.tsx
  packages/ui/src/views/repo/repo-branch/components/branch-list.tsx
  packages/ui/src/views/repo/repo-commit-details/repo-commit-details-view.tsx
  packages/ui/src/views/repo/repo-list/repo-list.tsx
  packages/ui/src/views/repo/repo-summary/components/summary-panel.tsx
  packages/ui/src/views/repo/repo-tags/components/repo-tags-list.tsx
  packages/ui/src/views/secrets/secret-details/secret-details-activity-list.tsx
  packages/ui/src/views/secrets/secret-details/secret-details-references-list.tsx
  packages/ui/src/views/secrets/secrets-list/secrets-list.tsx
Owners: none

Update TimeAgoCard docs (#10620)
  apps/portal/src/content/docs/components/overlays/time-ago-card.mdx
Owners: none

Bump UI package version (#10621)
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fix: [CODE-4820] reference selection in push rules and show parent scope selection checkbox in case of no rules in current scope (#10622)
  packages/ui/locales/en/views.json
  packages/ui/locales/fr/views.json
  packages/ui/src/views/project/project-rules/project-rules-page.tsx
  packages/ui/src/views/repo/repo-branch-rules/components/repo-branch-rules-fields.tsx
  packages/ui/src/views/repo/repo-push-rules/components/repo-push-rules-fields.tsx
  packages/ui/src/views/repo/repo-push-rules/repo-push-settings-rules-page.tsx
  packages/ui/src/views/repo/repo-tag-rules/components/repo-tag-rules-fields.tsx
Owners: none

Added Message.text
  apps/portal/src/content/docs/components/chat/message-bubble.mdx
  packages/ui/src/components/chat/message-bubble.tsx
  packages/ui/tailwind-utils-config/components/message-bubble.ts
Owners: none

updated version
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

fixed lint
  packages/ui/src/components/chat/message-bubble.tsx
Owners: none

Added MessageBubble.Text (#10623)
  apps/portal/src/content/docs/components/chat/message-bubble.mdx
  packages/ui/package.json
  packages/ui/src/components/chat/message-bubble.tsx
  packages/ui/tailwind-utils-config/components/message-bubble.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

Align Alert icons with cn-icon sizing (#10624)
  packages/ui/src/components/alert/AlertRoot.tsx
  packages/ui/tailwind-utils-config/components/alert.ts
Owners: none

warning and inputs updates
  packages/forms/playground/src/examples/runtime-example/runtime-example.tsx
  packages/forms/playground/src/examples/runtime-example/utils/input-value-utils.ts
  packages/forms/playground/src/implementation/inputs/common/input-wrapper.tsx
  packages/forms/src/core/components/InputComponentRenderer.tsx
  packages/ui/src/views/run-pipeline/types.ts
  packages/ui/src/views/run-pipeline/utils/inputs-utils.ts
  packages/ui/src/views/unified-pipeline-studio/components/form-inputs/common/InputWrapper.tsx
  packages/ui/src/views/unified-pipeline-studio/components/form-inputs/utils/input-value-utils.ts
Owners: none

new colors
  packages/core-design-system/design-tokens/$metadata.json
  packages/core-design-system/design-tokens/components/desktop/base/pipeline.json
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

upd
  packages/core-design-system/design-tokens/mode/dark/default.json
Owners: none

warning parse and inputs updates (#10626)
  packages/forms/package.json
  packages/forms/playground/src/examples/runtime-example/runtime-example.tsx
  packages/forms/playground/src/examples/runtime-example/utils/input-value-utils.ts
  packages/forms/playground/src/implementation/inputs/common/input-wrapper.tsx
  packages/forms/src/core/components/InputComponentRenderer.tsx
  packages/forms/src/core/transformers/transformers.ts
  packages/forms/src/core/utils/transform-utils.tsx
  packages/ui/package.json
  packages/ui/src/views/run-pipeline/types.ts
  packages/ui/src/views/run-pipeline/utils/inputs-utils.ts
  packages/ui/src/views/unified-pipeline-studio/components/form-inputs/common/InputWrapper.tsx
  packages/ui/src/views/unified-pipeline-studio/components/form-inputs/utils/input-value-utils.ts
Owners: srdjan.arsic@harness.io, abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

markdown-sm tokens added (#10625)
  packages/core-design-system/design-tokens/$themes.json
  packages/core-design-system/design-tokens/breakpoint/desktop.json
Owners: none

new colors
  packages/core-design-system/design-tokens/components/desktop/base/pipeline.json
  packages/core-design-system/design-tokens/core/typography.json
  packages/core-design-system/design-tokens/mode/dark/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/default-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast.json
  packages/core-design-system/design-tokens/mode/light/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/default-protanopia.json
  packages/core-design-system/design-tokens/mode/light/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/default.json
  packages/core-design-system/design-tokens/mode/light/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/dimmer.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/light/high-contrast.json
Owners: none

fix: [CODE-4820] hide target pattern selector (#10628)
  packages/ui/src/views/repo/repo-push-rules/repo-push-settings-rules-page.tsx
Owners: none

colors update
  packages/core-design-system/design-tokens/$themes.json
  packages/core-design-system/design-tokens/core/colors_hex.json
  packages/core-design-system/design-tokens/core/colors_lch.json
Owners: none

feat: added support for file-tree base item
  apps/portal/src/content/docs/components/foundations/text.mdx
  apps/portal/src/content/docs/components/navigation/file-explorer.mdx
  apps/portal/src/content/docs/customization/text-colors.mdx
  packages/ui/src/components/__tests__/file-explorer.test.tsx
  packages/ui/src/components/file-explorer.tsx
  packages/ui/src/components/text.tsx
  packages/ui/tailwind-design-system.ts
  packages/ui/tailwind-utils-config/components/tree.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

colors upd
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/core-design-system/design-tokens/mode/light/default.json
Owners: none

Showing gradient border in prompt input on focus
  packages/ui/tailwind-utils-config/components/prompt-input.ts
Owners: none

version bump
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

colors upd
  packages/core-design-system/design-tokens/mode/dark/default-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/default-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/default-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/default.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/dimmer.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-deuteranopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-protanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast-tritanopia.json
  packages/core-design-system/design-tokens/mode/dark/high-contrast.json
Owners: none

feat: added support for file-tree base item (#10627)
  apps/portal/src/content/docs/components/foundations/text.mdx
  apps/portal/src/content/docs/components/navigation/file-explorer.mdx
  apps/portal/src/content/docs/customization/text-colors.mdx
  packages/ui/src/components/__tests__/file-explorer.test.tsx
  packages/ui/src/components/file-explorer.tsx
  packages/ui/src/components/text.tsx
  packages/ui/tailwind-design-system.ts
  packages/ui/tailwind-utils-config/components/tree.ts
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io

render filter conditionally based on filterOptions (#10631)
  packages/ui/src/views/components/FilterGroup.tsx
Owners: none

update ui package for filter update
  packages/ui/package.json
Owners: abhinav.rastogi@harness.io, kevin.nagurski@harness.io, vardan.bansal@harness.io, pranesh.g@harness.io
